<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv='X-UA-Compatible' content='IE=Edge,chrome=1' />
<meta name="renderer" content="webkit">
<meta name="description" content="">
<meta name="keywords" content="">
<title><%= title %></title>
<link rel="shortcut icon" type="image/x-icon" href="../../dist/img/favicon.ico"/>
<link rel="bookmark" type="image/x-icon" href="../../dist/img/favicon.ico"/>
<link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_718775_m854kdemp1s.css"/>
<link rel="stylesheet" type="text/css" href="../../src/css/sprite.css"/>
<link rel="stylesheet" type="text/css" href="../../dist/css/all.css"/>
<script src="../../dist/js/template.js"></script>
<script src="../../dist/js/lib.js"></script>
<style type="text/css">
	.businessShop-index{background: #F5F5F5;}
	.slider, .goodsList{margin-bottom: 40px;}
	.slider a{
		display: inline-block;
		width: 100%;
	}
	.slider, .slider img{width: 100%;}
	.slider>div{min-height: 200px;}
	
	ul, li{
		list-style: none;
	}
	.goodsList3 li{
		width: 380px;margin-right: 25px;
		background: #FFFFFF;
		margin-bottom: 25px;
	}
	.goodsList3 li .goods-img{display: inline-block;width: 380px;height: 380px;}
	.goodsList3 li:nth-child(3n){margin-right: 0;}
	
	.goodsList4 li{
		width: 284px;margin-right: 18px;
		background: #FFFFFF;
		margin-bottom: 18px;
	}
	.goodsList4 li .goods-img{display: inline-block;width: 284px;height: 284px;}
	.goodsList4 li:nth-child(4n){margin-right: 0;}
	
	.goodsList5 li{
		width: 224px;margin-right: 17.5px;
		background: #FFFFFF;
		margin-bottom: 18px;
	}
	.goodsList5 li .goods-img{display: inline-block;width: 224px;height: 224px;}
	.goodsList5 li:nth-child(5n){margin-right: 0;}
	
	.goods-img img{width: 100%;height: 100%;}
	.goods-msg{padding: 10px;}
	.goods{color: #747474;margin-bottom: 8px;}
	.goods-buy a{
		display: inline-block;
		width: 80px;
		height: 24px;
		line-height: 24px;
		color: #FFFFFF;
		background:rgba(194,163,116,.8);
		border-radius: 3px;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
	}
	.goods-buy a:hover{
		background:rgba(194,163,116,1);
	}
</style>
</head>
<body class="businessShop-index">
	
	<%- include ../headerbar.ejs %>
	
	<%- include shopHeader.ejs %>
	
	<%- include shopNav.ejs %>
	
	<div class="container" id="shopContent">
		
	</div>
	
	<%- include ../footer.ejs %>
	<script type="text/javascript">
	$(function(){
		var shopid = utils.getUrlParamVal('shopid') || ""
		var catIndex = utils.getUrlParamVal('catIndex') || 0
		utils.ajax({
			type:"get",
			url:"/api/marketPage/storePageShow",
			data:{merchantId:shopid,pageType:0},
			success:function(response){
				if(!response.success) return;
				var res = response.data;
				var menus = '<li>'+
								'<a class="navItem cur" href="/businessShop/index?shopid='+shopid+'&catIndex=0">首页</a>'+
							'</li>'+
							'<li>'+
								'<a class="navItem" href="/businessShop/shopGoodsList?shopid='+shopid+'&catId=&catIndex=1">全部</a>'+
							'</li>';
				$.each(res.menus, function(idx,item) {
					var j = idx+2
					if(item.catId != ''){
						var str = '';
						$.each(item.ssm, function(idx1,item1) {
							str += '<a href="" class="fl">'+item1.subMenuName+'</a>'
						});
						menus += '<li><a class="navItem" href="shopGoodsList?shopid='+shopid+'&catId='+item.catId+'&catIndex='+j+'">'+item.menuName+'</a></li>';
					}else{
						menus += '<li><a class="navItem" href="'+item.menuUrl+'" target="view_frame">'+item.menuName+'</a></li>';
					}
					
				});
				$("#menus").html(menus);
				$.each(res.layouts, function(idx,item) {
	  				if(item.layoutType == 1){
	  					var html = '',isVertical=isFade=false;
	  					var str = '', curId = 'banner'+item.id;
	  					$.each(item.obj.imgs, function(idx1,item1) {
	  						str += '<div><a href="'+item1.jumpUrl+'"><img src="'+item1.imgUrl+'" height="400"/></a></div>';
	  					});
	  					if(item.obj.switchMode == 0){
	  						isVertical = true;
	  					}else if(item.obj.switchMode == 1){
	  						isFade = true;
	  					}
	  					html += '<div class="slider" id="'+curId+'">'+str+'</div>';
	  					$("#shopContent").append(html);
						$('#'+curId).slick({
					        dots: true,
					        arrows: false,
					        vertical: '400px'
						});
	  				}else if(item.layoutType == 3){
	  					var html = '', myclass = 'goodsList'+item.obj.showStyle;
	  					$.each(item.obj.sftgs, function(idx,item) {
	  						html += '<li class="fl">'+
										'<a href="../jewelry/details?id='+item.id+'" class="goods-img"><img src="'+item.imgUrl+'" alt=""/></a>'+
										'<div class="goods-msg tc">'+
											'<p class="goods">'+item.goodsName+'</p>'+
											'<p class="goods">￥'+item.price+'</p>'+
											'<p class="goods-buy"><a href="../jewelry/details?id='+item.id+'">立即购买</a></p>'+
										'</div>'+
									'</li>';
	  					});
	  					$("#shopContent").append('<div class="goodsList clearfix '+myclass+'">'+html+'</div>');
	  				}
	  			})
				
			}
		})
	})
	</script>
	
</body>
</html>

