<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv='X-UA-Compatible' content='IE=Edge,chrome=1' />
<meta name="renderer" content="webkit">
<meta name="description" content="">
<meta name="keywords" content="">
<title><%= title %></title>
<link rel="shortcut icon" type="image/x-icon" href="../../dist/img/favicon.ico"/>
<link rel="bookmark" type="image/x-icon" href="../../dist/img/favicon.ico"/>
<link rel="stylesheet" type="text/css" href="../../src/css/sprite.css"/>
<link rel="stylesheet" type="text/css" href="../../dist/css/all.css"/>
<script src="../../dist/js/template.js"></script>
<script src="../../dist/js/lib.js"></script>
<style type="text/css">
    .jewelry-brandStory{background: #F8F8F8;}
    .concession-title{margin-bottom: 20px;}
    .concession-title h1{margin-left: 217px;line-height: 80px;font-size: 50px;}
    .company-profile{
    	width: 957px;
    	color: #666666;
    	line-height: 18px;
    	margin: 0 auto;
    }
	.navWrap {
		border: 1px solid #CCCCCC;
		background-color: #FFFFFF;
		margin-bottom: 22px;
		margin-top: 20px;
	}
	.navWrap li {
		float: left;
	}
	.navWrap li:hover a{
		background: #C2A374;
		color: #fff;
	}
	.navWrap a {
		display: block;
		padding: 0 30px;
		color: #808080;
		font-size: 14px;
		line-height: 34px;
	}
	.navWrap li.cur a {
		background: #C2A374;
		color: #fff;
	}
	.goods-list li{
		width: 224px;
		background: #FFFFFF;
		margin-right: 17.5px;
		overflow: hidden;
		margin-top: 18px;
	}
	.goods-list li:nth-child(5n){
		margin-right: 0;
	}
	.goods-list p{
		padding: 5px;
		line-height: 16px;
	}
</style>
</head>
<body class="jewelry-brandStory">
	
	<%- include ../headerbar.ejs %>
	
	<%- include ../header.ejs %>
	
	<%- include ../headerNav.ejs %>
	<div style="background: #FFFFFF;">
		<div class="container" style="padding: 20px 40px;">
	        <div class="clearfix concession-title">
	        	<img class="fl" src="../../src/img/gallery/gallery1.png" width="120" height="80"/>
	        	<h1 class="fl">周大福优惠专场</h1>
	        </div>
	        <div class="company-profile">周大福珠宝集团有限公司（「集团」；香港联交所股份代号：1929）于2011年12月在香港联合交易所主板上市。
集团标志性品牌「周大福」创立于1929年，被广获认同为信誉及正货的象征，并以产品设计、品质及价值闻名。集团及其标志性品牌的悠久历史植根于创新、工艺及传承，集团旗下亦拥有珠宝品牌Hearts On Fire、MONOLOGUE以及SOINLOVE。
集团对可持续发展的承诺以「Smart+」计划为基础，围绕其业务、员工及文化推动创新。发展成熟的垂直整合业务模式为支撑集团可持续发展的另一优势，支持集团在整个价值链中追求卓越以及延伸商机。集团拥有庞大的零售网络，设有逾2,400个零售点遍布大中华、韩国、日本、新加坡、马来西亚与美国，并经营发展迅速的电子商务业务，能有效地执行线上线下策略以及实现全渠道零售。
</div>
	    </div>
	</div>
	<div class="container">
	    <ul class="navWrap clearfix">
			<li class="cur"><a>全部</a></li>
			<li><a>黄金钻石</a></li>
			<li><a>翡翠珠宝</a></li>
			<li><a>彩珠珍珠</a></li>
		</ul>
		<div class="goods-list">
			<ul class="clearfix">
				<li class="fl">
					<a>
						<img src="../../src/img/gallery/gallery1.png" width="224" height="224"/>
						<p class="tc">
							<span>印度小叶紫檀手串108颗</span>
							<br />
							<span>¥429.00</span>
						</p>
					</a>
				</li>
				<li class="fl">
					<a>
						<img src="../../src/img/gallery/gallery1.png" width="224" height="224"/>
						<p class="tc">
							<span>印度小叶紫檀手串108颗</span>
							<br />
							<span>¥429.00</span>
						</p>
					</a>
				</li>
				<li class="fl">
					<a>
						<img src="../../src/img/gallery/gallery1.png" width="224" height="224"/>
						<p class="tc">
							<span>印度小叶紫檀手串108颗</span>
							<br />
							<span>¥429.00</span>
						</p>
					</a>
				</li>
				<li class="fl">
					<a>
						<img src="../../src/img/gallery/gallery1.png" width="224" height="224"/>
						<p class="tc">
							<span>印度小叶紫檀手串108颗</span>
							<br />
							<span>¥429.00</span>
						</p>
					</a>
				</li>
				<li class="fl">
					<a>
						<img src="../../src/img/gallery/gallery1.png" width="224" height="224"/>
						<p class="tc">
							<span>印度小叶紫檀手串108颗</span>
							<br />
							<span>¥429.00</span>
						</p>
					</a>
				</li>
				<li class="fl">
					<a>
						<img src="../../src/img/gallery/gallery1.png" width="224" height="224"/>
						<p class="tc">
							<span>印度小叶紫檀手串108颗</span>
							<br />
							<span>¥429.00</span>
						</p>
					</a>
				</li>
			</ul>
		</div>
	</div>
	
	<%- include ../footer.ejs %>
</body>
</html>

