<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv='X-UA-Compatible' content='IE=Edge,chrome=1' />
<meta name="renderer" content="webkit">
<meta name="description" content="">
<meta name="keywords" content="">
<title><%= title %></title>
<link rel="shortcut icon" type="image/x-icon" href="../../dist/img/favicon.ico"/>
<link rel="bookmark" type="image/x-icon" href="../../dist/img/favicon.ico"/>
<link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_718775_m854kdemp1s.css"/>
<link rel="stylesheet" type="text/css" href="../../src/css/sprite.css"/>
<link rel="stylesheet" type="text/css" href="../../dist/css/all.css"/>
<link rel="stylesheet" type="text/css" href="../../src/js/vue/index.css"/>
<script src="../../dist/js/template.js"></script>
<script src="../../dist/js/lib.js"></script>
<script src="../../dist/js/v.js"></script>
<style>
.filter-label {
  font-size: 14px;
  color: #909399;
  font-weight: normal;
}
.el-dropdown-link {
  cursor: pointer;
  color: #409EFF;
}
.el-icon-arrow-down {
  font-size: 12px;
}
.img2 img, .img img {
	width: 100px;
	margin-right: 20px;
}
.search-input {
	width: 210px;
	margin-bottom: 10px;
}
</style>
</head>
<body class="userOrderRefund">
	
	<%- include ../../headerbar.ejs %>
	
	<%- include ../../header.ejs %>
	
	<%- include ../userHeaderNav.ejs %>
	
	<div class="container">
		<div class="router" id="router">
			<el-breadcrumb separator-class="el-icon-arrow-right">
			  	<el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
			  	<el-breadcrumb-item>个人中心</el-breadcrumb-item>
			</el-breadcrumb>
		</div>
	</div>
	
	<div id="main" class="main">
		<div class="clearfix container">
			<div class="userLeftNav">
				<%- include ../userLeftNav.ejs %>
			</div>
			<div class="userRightContent">
				
				<div id="orderList">
					
				  <div class="filter-container">
				  	<el-input class="search-input" placeholder="请输入订单编号" @keyup.enter.native="handleFilter" v-model="listQuery.orderNumber"> </el-input>
				    <el-input class="search-input" placeholder="请输入购买人手机" @keyup.enter.native="handleFilter" v-model="listQuery.buyUserMobile"> </el-input>
				    <el-input class="search-input" placeholder="请输入收货人名称" @keyup.enter.native="handleFilter" v-model="listQuery.consignee"> </el-input>
				    <el-input class="search-input" placeholder="请输入收货人手机号码" @keyup.enter.native="handleFilter" v-model="listQuery.consigneeMobile"> </el-input>
				    <!--<el-input placeholder="订单编号" @keyup.enter.native="handleFilter" style="width: 210px;margin: 0 20px 20px 0;" v-model="listParams.search"> </el-input>-->
				    <el-button type="primary" icon="el-icon-search" @click="handleFilter">查询</el-button>
				  </div>
				
				  <el-table :key='tableKey' :data="list" v-loading.body="listLoading" border fit highlight-current-row style="width: 100%">
				
				    <el-table-column width="170px" align="center" label="订单编号">
				      <template slot-scope="{ row }">
				        <span @click="$router.push({ name: detailRouteName, query: { id: row.id } })">{{row.orderNumber}}</span>
				      </template>
				    </el-table-column>
				    
				    <el-table-column width="140px" align="center" label="购买人手机号">
				      <template slot-scope="{ row }">
				        <span>{{row.buyUserName}}</span>
				      </template>
				    </el-table-column>
				    
				    <el-table-column width="100px" align="center" label="收货人">
				      <template slot-scope="{ row }">
				        <span>{{row.userAddress.consignee}}</span>
				      </template>
				    </el-table-column>
				    
				    <el-table-column width="140px" align="center" label="收货人手机号">
				      <template slot-scope="{ row }">
				        <span>{{row.userAddress.mobile}}</span>
				      </template>
				    </el-table-column>
				    
				    <el-table-column width="100px" align="center" label="运费">
				      <template slot-scope="{ row }">
				        <span>{{row.freightMoney}}</span>
				      </template>
				    </el-table-column>
				    
				    <el-table-column width="100px" align="center" label="退款金额">
				      <template slot-scope="{ row }">
				        <span>{{row.payMoney}}</span>
				      </template>
				    </el-table-column>
				    
				    <el-table-column width="180px" align="center" label="支付时间">
				      <template slot-scope="{ row }">
				        <span>{{row.payTime}}</span>
				      </template>
				    </el-table-column>
				
				    <el-table-column width="180px" align="center" label="退款申请时间">
				      <template slot-scope="{ row }">
				        <span>{{row.createTime}}</span>
				      </template>
				    </el-table-column>
				    
				     <!--<el-table-column width="100px" align="center" label="订单状态">
				      <template slot-scope="{ row }">
				        <span>{{refundState[row.refundType]}}</span>
				      </template>
				    </el-table-column> -->
				
				    <!--<el-table-column width="100px" align="center" label="退货状态">
				      <template slot-scope="{ row }">
				        <span>{{auditState[row.auditState]}}</span>
				      </template>
				    </el-table-column>-->
				
				    <el-table-column width="280px" fixed="right" align="left" label="操作">
				      <template slot-scope="{ row, $index }">
				        <el-button
				          type="primary"
				          size="small"
				          :data-id="row.orderNumber"
				          class="toDetail"
				        >
				          详情
				        </el-button>
				        <el-button
				        	type="success"
				          size="small"
				          @click="agreeCancel(row.orderNumber)"
				        >
				          同意退款
				        </el-button>
				      </template>
				    </el-table-column>
				
				  </el-table>
				  <div v-show="!listLoading" class="pagination-container">
				    <el-pagination @current-change="handleCurrentChange" :current-page.sync="listParams.offset" :page-size="listParams.limit" layout="total, prev, pager, next, jumper" :total="total"> </el-pagination>
				  </div>
				</div>
			</div>
		</div>
		
		
</div> 
	<%- include ../userFooter.ejs %>
	<%- include commonJs.ejs %>	
<script>
$(".userLeftNav li[data-target='exchange'] li:eq(7)").addClass("cur");
var routerVm = new Vue({
	el: "#router"
})
var listVm = new Vue({
	el: "#orderList",
	data: {
	  list: null,
	  total: null,
	  listLoading: true,
	  listParams: {
//	  	search: undefined,
	    offset: 1,
	    limit: 10,
//	    state: 
	  },
	  listQuery: {
	  	orderNumber: undefined,
	    buyUserMobile: undefined,
	    consignee: undefined,
	    consigneeMobile: undefined,
	    orderState: undefined,
	  },
	  tableKey: 0,
	  orderState: {
	  	  1: '待支付',
				  2: '已支付',
				  3: '设计中&制造中',
				  4: '待发货',
				  5: '待收货',
				  //6: '已收货',
				  7: '已完成',
				  8: '已取消',
				  9: '已关闭',
				  10: '退款中',
				  11: '退款成功',
				  12: '退款失败',
				  13: '退货中',
				  14: '退货成功',
				  15: '已删除',
				  16: '待评价',
				  100: '支付中'
	  },
	  payType: {
		  	1: '支付宝', 2: '微信', 3: '银联', 4: '通联支付'
	  	},
	  auditState: {
	    0: '审核中',
	    1: '退款中(服务中)',
	    2: '审核通过',
	    3: '退款成功',
	    4: '退款失败',
	    5: '用户取消',
	    6: '审核拒绝',
	    7: '仲裁中',
	    8: '仲裁通过',
	    9: '仲裁拒绝',
	    10: '仲裁退回'
	  },
	  refundState: {
	  	1: '待收货',
	  	2: '已收货'
	  },
	  isAddr: false
	},
	mounted: function(){
		var self = this
		this.getList()
	},
	computed: {
	    orderStatus: function() {
	      return Object.keys(this.orderState).map(key => {
	        return { value: key, label: this.orderState[key] }
	      })
	    }
	},
	methods: {
		getList: function() {
			var self = this
	    this.listLoading = true
	    this.listQuery.orderState = 17
	    this.listQuery.orderType = 2
	    utils.ajax({
      	url: "/admin/merchant/order/page",
      	type: "post",
      	data: JSON.stringify(this.listQuery),
      	params: this.listParams,
      	success: function(data){
      		self.list = data.data.records
	        self.total = data.data.total
	        self.listLoading = false
      	}
	    })
    },
    handleFilter: function() {
      this.getList()
    },
    handleCurrentChange: function(val) {
      this.listParams.offset = val
      this.getList()
    },
    agreeCancel (orderNo) {
    	this.$confirm('同意退款后，退款金额将原路返回', '提示', {
	      confirmButtonText: '确定',
	      cancelButtonText: '取消'
	    }).then(() => {
	      utils.ajax({
	      	url: "/admin/merchant/order/agreeCancel/" + orderNo,
	      	success: function(data){
	      		utils.alert('success', '操作成功')
	      		setTimeout(function(){
	    				window.location.reload()
	    			},1000)
	      	}
		    })
	    }).catch(() => {})
		},
    handleCommand: function({ row, state, $index }) {
      this.audit(row, state, $index)
    },
    refunAmount: function(id){
    	utils.ajax({
    		type: 'get',
    		url: '/admin/order/refund/refundAmount/' + id,
    		success: function(data){
    			utils.alert('success', '操作成功')
    			setTimeout(function(){
    				window.location.reload()
    			},1000)
    		}
    	})
    }
	},
	filters: {
		formatImg: function(str){
			return utils.formatImg(str);
		}
	}
})
$(function(){
	$(document).on("click", ".toDetail", function(e){
		var self = $(e.currentTarget);
		var id = self.attr('data-id');
		window.location = '../../user/order/exchange_buy_out_detail?id=' + id  + '&list=cancal';
	})
})

</script>
</body>
</html>

