<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv='X-UA-Compatible' content='IE=Edge,chrome=1' />
  <meta name="renderer" content="webkit">
  <meta name="description" content="中宝协云平台-中国珠宝行业垂直云平台，聚集珠宝爱好者！最新珠宝新资讯，商品涵盖钻石、黄金、彩宝、翡翠玉石、珍珠琥珀等珍贵材质、独特设计、给您精致奢华精彩呈现。！">
  <meta name="keywords"
    content="中宝协云平台、中宝云、中宝平、珠宝圈、珠宝定制、珠宝鉴定、珠宝品牌、钻石戒指、玉石闲 置、珠宝直播、珠宝拍卖、珠宝行业、珠宝证书、求婚钻戒、彩宝、珠宝商城、珠宝首饰、珠宝展、珠宝设计、珠宝市场、珠宝图片、世界珠宝、钻戒定制、首饰、珠宝店、珠宝真品、黄金/K金及首饰、银饰及首饰、天然钻石及首饰、翡翠、和田玉、彩色宝石、珍珠、水晶、琥珀、黄龙玉、绿松石、玛瑙、印章石、其他玉石及首饰、贵金属（除黄金、K金、白银）首饰 、有机宝石（除珍珠、琥珀）、培育钻石及首饰、珠宝一站式购物商城、品牌珠宝、买首饰、珠宝商城、专业珠宝、珠宝鉴定、最权威的珠宝鉴定网站、珠宝科普、钻石怎么买、什么是5G黄金、什么是千足金、翡翠鉴定、玉石变色的原因、海水珍珠怎么鉴别、爱迪生珍珠、什么是海蓝宝、什么是铂金、怎么计算钻石价格">
  <title><%= title %></title>
  <link rel="shortcut icon" type="image/x-icon" href="http://app.gacjc.com/app/download/favicon.ico" />
  <link rel="bookmark" type="image/x-icon" href="http://app.gacjc.com/app/download/favicon.ico" />
  <link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_718775_m854kdemp1s.css" />
  <link rel="stylesheet" type="text/css" href="../../src/css/sprite.css" />
  <link rel="stylesheet" type="text/css" href="../../dist/css/all.css" />
  <link rel="stylesheet" type="text/css" href="../../src/js/vue/index.css" />
  <script src="../../dist/js/template.js"></script>
  <script src="../../dist/js/lib.js"></script>
  <script src="../../dist/js/v.js"></script>
  <style>
    .userRightContent {
      padding: 30px 20px 40px;
      background: #fff;
    }

    .userRightContent h3 {
      margin-bottom: 20px;
      color: #333;
      font-size: 16px;
      font-weight: bold;
    }

    .goods-info {
      padding: 0 66px 0 20px;
      color: #666;
      font-size: 12px;
      border: 1px solid #dedede;
    }

    .goods-info .shop-name {
      line-height: 34px;
      font-size: 16px;
    }

    .goods-info img {
      width: 100px;
      height: 100px;
    }

    .goods-info .el-row {
      padding-bottom: 12px;
    }

    .goods-name {
      margin: 20px 0;
      font-size: 16px;
    }

    .goods-sku {
      font-size: 12px;
      color: #aaa;
    }

    .goods-count {
      margin-top: 40px;
    }

    .goods-total {
      margin-top: 30px;
      margin-bottom: 10px;
    }

    .goods-total .price {
      color: #DF735A;
    }

    .content {
      margin-top: 30px;
    }

    .tip {
      color: #AAAAAB;
      font-size: 12px;
    }

    td {
      padding: 5px;
      line-height: 22px;
      font-size: 14px;
      color: #666;
    }

    td td {
      padding: 0 5px !important;
    }

    textarea {
      width: 100%;
      min-height: 146px;
      background: #f3f3f3;
    }

    .img img,
    .uploadbox {
      width: 100px;
      height: 100px;
      margin-right: 10px;
    }

    .score-box {
      padding-left: 5px;
      margin-bottom: 30px;
      line-height: 20px;
      font-size: 14px;
      background: #fff;
    }

    .score-box .item {
      display: inline-block;
      width: 33%;
    }

    .score-box .score-rate {
      margin-left: 30px;
      display: inline-block;
    }

    .submit {
      margin-top: 40px;
      width: 376px;
      height: 50px;
      background: #DF735A;
      border-radius: 0;
    }
  </style>
</head>

<body class="userOrderJewelry">

  <%- include ../../headerbar.ejs %>
  <%- include ../userHeaderNav.ejs %>

  <div class="container">
    <div class="router" id="router">
      <el-breadcrumb separator-class="el-icon-arrow-right">
        <el-breadcrumb-item>
          <a href="/">首页</a>
        </el-breadcrumb-item>
        <el-breadcrumb-item :to="{ path: '/' }">
          <a href="/user/acc_info">个人中心</a>
        </el-breadcrumb-item>
        <el-breadcrumb-item>我的评价</el-breadcrumb-item>
      </el-breadcrumb>
    </div>
  </div>

  <div id="main" class="main">
    <div class="clearfix container">
      <div class="userLeftNav">
        <%- include ../userLeftNav.ejs %>
      </div>
      <div class="userRightContent">

        <div id="orderComment">

          <h3>我的评价</h3>

          <div id="mainForm" v-for="(item,i) in data.orderGoodVOList">
            <div class="goods-info">
              <div class="shop-name">{{data.sellUserName}}</div>
              <el-row>
                <el-col :span="4">
                  <img :src="item.skuMainPic | formatImg" alt="">
                </el-col>
                <el-col :span="10">
                  <div class="goods-name">{{item.skuName}}</div>
                  <span class="goods-sku" v-for="(subItem,subI) in item.skuExplain">
                    <span>{{subItem.specsName}}</span>
                    <span>：</span>
                    <span>{{subItem.attrValue}}</span>
                    <span v-if="subI !== item.skuExplain.length-1">&nbsp;&nbsp;;&nbsp;&nbsp;</span>
                  </span>
                </el-col>
                <el-col :span="5" class="tc">
                  <div class="goods-count">数量：{{item.goodsNumber}}</div>
                </el-col>
                <el-col :span="5" class="tr">
                  <div class="goods-total">总价：<span class="price">￥{{item.totalPrice}}</span></div>
                  <span class="goods-freice">( 含运费：￥0.00 )</span>
                </el-col>
              </el-row>
            </div>
            <div class="content">
              <div class="score-box">
                <span class="item">
                  <span class="title">宝贝描述</span>
                  <el-rate class="score-rate" v-model="gcList[i].spmxxfScore"
                    :colors="['#D57E6A', '#D57E6A', '#D57E6A']">
                  </el-rate>
                </span>
                <span class="item">
                  <span class="title">卖家服务</span>
                  <el-rate class="score-rate" v-model="gcList[i].mjfwtdScore"
                    :colors="['#D57E6A', '#D57E6A', '#D57E6A']">
                  </el-rate>
                </span>
                <span class="item">
                  <span class="title">物流速度</span>
                  <el-rate class="score-rate" v-model="gcList[i].wlfhsdScore"
                    :colors="['#D57E6A', '#D57E6A', '#D57E6A']">
                  </el-rate>
                </span>

              </div>
              <table width="100%">
                <tr>
                  <td width="90" valign="top"><label>评价晒单</label></td>
                  <td>
                    <el-input type="textarea" placeholder="说说你的使用心得，分享给想买的人吧" v-model="gcList[i].content"
                      maxlength="300" show-word-limit>
                    </el-input>
                  </td>
                </tr>
                <tr>
                  <td width="90" valign="top"></td>
                  <td>
                    <div class="clearfix">
                      <div class="fl img clearfix">
                        <template v-for="item in gcList[i].gallerys">
                          <a :data-name="item"><img :src="item | formatImg"></a>
                        </template>
                      </div>
                      <div class="fl uploadbox triggerFile" :data-index="i" data-target="img">

                      </div>
                    </div>
                    <p class="tip">9张以内，支持jpg、gif、png格式，大小：3m以内</p>
                    <p class="Validform_checktip"></p>
                  </td>
                </tr>
              </table>
            </div>

            <div class="btn-box tc">
              <el-button type="danger" class="submit" @click="submit">评价</el-button>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>

  <%- include ../../footer.ejs %>

  <!-- <%- include commonJs.ejs %> -->
  <form id="form1" class="hide" method="post" enctype="multipart/form-data">
    <input type="file" name="cloudfile" accept="image/*" onchange="uploadGoodsImg(this)">
  </form>
  <script>
    // $(".userLeftNav li[data-target='refund']").addClass("cur");

    var routerVm = new Vue({
      el: "#router"
    })

    var detailVm = new Vue({
      el: "#orderComment",
      data: {
        data: {},
        commentType: '3',
        gcList: [],
        picList: [],
        id: utils.getUrlParam("id"),
        orderId: '',
        index: 0,
      },
      mounted() {
        var self = this;
        utils.ajax({
          url: "/api/order/info/" + this.id,
          type: "get",
          success: (data) => {
            this.data = data.data
            this.orderId = this.data.id
            this.data.orderGoodVOList.map((item) => {
              let gcObject = {
                spmxxfScore: 5,
                mjfwtdScore: 5,
                wlfhsdScore: 5,
                content: '',
                goodsId: item.goodId,
                gallerys: []
              }
              this.gcList.push(gcObject)
            })
            // $("#mainForm li").html(_template.userOrderComment({
            //   data: this.data
            // }))
          }
        })
      },
      methods: {
        submit: function () {
          var params = {
            orderId: this.orderId,
            commentType: this.commentType,
            gcList: this.gcList
          }
          utils.ajax({
            url: "/api/userCenter/userComment/orderCommentAdd",
            data: JSON.stringify(params),
            success: function (data) {
              if (data.success) {
                utils.alert("success", "评价成功");
                setTimeout(() => {
                  location.href = "/user/order/index"
                }, 500)
              } else {
                utils.alert("danger", data.msg)
              }
            }
          })
        }
      },
      filters: {
        formatImg: function (str) {
          return utils.formatImg(str);
        }
      }
    })

    $(function () {

      $(document).on("click", ".triggerFile", function (e) {
        var t = $(e.currentTarget).attr("data-target");
        target = t;
        detailVm.index = $(e.currentTarget).attr("data-index")
        $("#form1 input").trigger("click");
      })

    })
    //商品图片上传
    function uploadGoodsImg(self) {
      if (detailVm.picList.length >= 9) {
        utils.alert("danger", '最多上传9张图片')
        return
      }
      utils.uploadSectionFile(self.files[0], 3).then(res => {
        // var uploadFile = new FormData($("#form1")[0]);
        var uploadFile = new FormData()
        uploadFile.append('file', res)
        $.ajax({
          // url: '../../file/upload',
          url: '/api/pic/upload',
          type: 'POST',
          data: uploadFile,
          async: false,
          cache: false,
          contentType: false, //不设置内容类型
          processData: false, //不处理数据
          success: function (data) {
            detailVm.gcList[Number(detailVm.index)].gallerys.push(data.data.picUrl);
            $("#form1 input").val("");
          },
          error: function () {

          }
        })
      })
    }
  </script>

</body>

</html>