<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv='X-UA-Compatible' content='IE=Edge,chrome=1' />
  <meta name="renderer" content="webkit">
  <meta name="description" content="中宝协云平台-中国珠宝行业垂直云平台，聚集珠宝爱好者！最新珠宝新资讯，商品涵盖钻石、黄金、彩宝、翡翠玉石、珍珠琥珀等珍贵材质、独特设计、给您精致奢华精彩呈现。！">
  <meta name="keywords"
    content="中宝协云平台、中宝云、中宝平、珠宝圈、珠宝定制、珠宝鉴定、珠宝品牌、钻石戒指、玉石闲 置、珠宝直播、珠宝拍卖、珠宝行业、珠宝证书、求婚钻戒、彩宝、珠宝商城、珠宝首饰、珠宝展、珠宝设计、珠宝市场、珠宝图片、世界珠宝、钻戒定制、首饰、珠宝店、珠宝真品、黄金/K金及首饰、银饰及首饰、天然钻石及首饰、翡翠、和田玉、彩色宝石、珍珠、水晶、琥珀、黄龙玉、绿松石、玛瑙、印章石、其他玉石及首饰、贵金属（除黄金、K金、白银）首饰  、有机宝石（除珍珠、琥珀）、培育钻石及首饰">
  <title><%= title %></title>
  <link rel="shortcut icon" type="image/x-icon" href="http://app.gacjc.com/app/download/favicon.ico" />
  <link rel="bookmark" type="image/x-icon" href="http://app.gacjc.com/app/download/favicon.ico" />
  <link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_718775_m854kdemp1s.css" />
  <link rel="stylesheet" type="text/css" href="../../src/css/sprite.css" />
  <link rel="stylesheet" type="text/css" href="../../dist/css/all.css" />
  <link rel="stylesheet" type="text/css" href="../../src/js/vue/index.css" />
  <script src="../../dist/js/template.js"></script>
  <script src="../../dist/js/lib.js"></script>
  <script src="../../dist/js/v.js"></script>
</head>
<style>
  .theme-color {
    color: #FB746E;
  }

  .userRightContent {
    margin-bottom: 20px;
    padding: 30px;
    color: #666;
    font-size: 14px;
  }

  #title h3 {
    margin-bottom: 20px;
    color: #333;
    font-size: 16px;
    font-weight: bold;
  }

  #title .order-number {
    font-size: 12px;
  }

  .panel-title {
    background: #f3f3f3;
  }

  .userPanel .panel-control {
    background: #f3f3f3;
  }

  .express-info {
    font-size: 12px;
  }

  .express-info label {
    color: #999;
  }

  .express-info .panel-body span {
    color: #666;
  }

  .goodsList .goods-name {
    color: #666;
  }

  .goodsList .goods-sku {
    line-height: 16px;
    font-size: 12px;
    color: #999;
  }

  .goodsList .price {
    font-size: 20px;
    color: #FB746E;
  }

  .order-price .item {
    line-height: 30px;
    height: 30px;
  }

  .order-status {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #e5e5e5;
  }

  .order-operation {
    margin-top: 30px;
    padding: 33px 12px 33px 33px;
    background: #f3f3f3;
    font-size: 20px;
  }

  .order-operation .link {
    margin-left: 10px;
  }

  .order-operation .contact-merchant {
    display: inline-block;
    cursor: pointer;
  }

  .operation {
    text-align: right;
    float: right;
  }

  .operation a {
    display: inline-block;
    width: 123px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    border: 1px solid #666;
    font-size: 14px;
  }

  .operation a.btn-warning {
    color: #fff;
    background: #D57E6A;
    border-color: #D57E6A;
    border-radius: 0;
  }
</style>

<body class="userOrderJewelry">

  <%- include ../../headerbar.ejs %>

  <%- include ../userHeaderNav.ejs %>

  <div class="container">
    <div class="router" id="router">
      <el-breadcrumb separator-class="el-icon-arrow-right">
        <el-breadcrumb-item>
          <a href="/">首页</a>
        </el-breadcrumb-item>
        <el-breadcrumb-item :to="{ path: '/' }">
          <a href="/user/acc_info">个人中心</a>
        </el-breadcrumb-item>
        <el-breadcrumb-item>
          <a href="/user/order/index">我的订单</a>
        </el-breadcrumb-item>
        <el-breadcrumb-item>订单详情</el-breadcrumb-item>
      </el-breadcrumb>
    </div>
  </div>

  <div id="main" class="main">
    <div class="clearfix container">
      <div class="userLeftNav">
        <%- include ../userLeftNav.ejs %>
      </div>
      <div class="userRightContent">

        <div id="orderDetail" v-cloak>

          <!-- <div class="title" style="font-size: 16px;">
			    		<a href="javascript:history.back(-1)" style="color: #333;"><i class="el-icon-d-arrow-left"> 返回  </i></a>
			    		<span>|</span>
			    		<span>订单详情123</span>
            </div>        -->

          <!-- <div id="orderProgress" style="margin-top: 20px;">
						<ul class="clearfix">
							<template v-if="data.state==8">
							<li class="cur">
								<h4>待支付</h4>
								<span>1</span>
							</li>
							<li class="cur">
								<h4>交易取消</h4>
								<span>2</span>
							</li>
							</template>
							<template v-else>
							<li>
								<h4>待支付</h4>
								<span>1</span>
							</li>
							<li>
								<h4>待发货</h4>
								<span>2</span>
							</li>
							<li>
								<h4>待收货</h4>
								<span>3</span>
							</li>
							<li>
								<h4>评价</h4>
								<span>4</span>
							</li>
							<li>
								<h4>交易完成</h4>
								<span>5</span>
							</li>
							</template>
						</ul>
          </div> -->

          <div id="title">
            <h3>订单状态：
              <template class="title fr theme-color" v-if="data.isCommented == 1 && data.state === 6">待评价</template>
              <template class="title fr theme-color" v-else>{{orderState[data.state]}}</template>
              <span class="count-down theme-color fs14"
                v-if="data.state == 1 || data.state == 100">（您还有{{countDown}}来付款，超时订单自动关闭）</span>
            </h3>
            <p class="order-number">
              订单号：{{data.orderNumber}}
            </p>
          </div>

          <div id="orderProgress" style="margin-top: 20px;">
            <ul class="clearfix">
              <template>
                <li>
                  <span class="point"></span>
                  <h4>提交订单</h4>
                  <span>{{data.createTime}}</span>
                </li>
                <li>
                  <span class="point"></span>
                  <h4>付款成功</h4>
                  <span>{{data.payTime}}</span>
                </li>
                <!-- <li>
                  <span class="point"></span>
                  <h4>商品出库</h4>
                  <span>04.21 18:04</span>
                </li> -->
                <li>
                  <span class="point"></span>
                  <h4>等待收货</h4>
                  <span>{{data.sendTime}}</span>
                </li>
                <li>
                  <span class="point"></span>
                  <h4>完成</h4>
                  <span>{{data.endTime}}</span>
                </li>
              </template>
            </ul>
          </div>

          <div class="express-info">
            <template v-if="data.state == 5 || data.state == 6 || data.state == 12 || data.state == 18">
              <div>
                <div class="panel userPanel">
                  <div class="panel-header">
                    <div class="panel-control">
                      <a :orderId="data.id" class="expressOrderBtn"><span class="blue">查看物流信息</span> ></a>
                    </div>
                    <h3 class="panel-title"><b>物流信息</b></h3>
                  </div>
                  <div class="panel-body">
                    <table>
                      <tr>
                        <td width="33%">
                          <label>物流公司：</label>
                          <span v-if="data.orderExpress">{{data.orderExpress.expressCompany}}</span>
                        </td>
                        <td width="33%">
                          <label>物流单号：</label>
                          <span v-if="data.orderExpress">{{data.orderExpress.expressNum}}</span>
                        </td>
                        <td>
                          <label>收件地址：</label>
                          <span v-if="data.userInfoVO">{{data.userInfoVO.shippingAddr}}</span>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
            </template>
          </div>

          <div class="goodsList">
            <div class="panel userPanel">
              <div class="panel-header">
                <h3 class="panel-title"><b>商品名称</b></h3>
              </div>
              <div class="panel-body">
                <table>
                  <tbody>
                    <tr v-for="item in data.orderGoodVOList">
                      <td width="100">
                        <img :src="item.skuMainPic | formatImg" width="60" height="60">
                      </td>
                      <td>
                        <h3 class="goods-name">{{item.skuName}}</h3>
                        <span class="goods-sku" v-for="(citem,index) in item.skuExplain" :key="index">
                          {{citem.specsName}}:{{citem.attrValue}}
                          <span v-if="index !== item.skuExplain.length-1"> ; </span>
                        </span>
                      </td>
                      <td class="tc">x{{item.goodsNumber}}</td>
                      <td class="tr">订单金额：<span class="price">￥{{item.goodsNumber*item.unitPrice}}</span></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div class="order-price">
            <div class="item">
              <div class="title fl">商品总价：</div>
              <div class="title fr" v-if="data.goodsTotalMoney">
                ¥{{(data.goodsTotalMoney + data.discountPrice).toFixed(2)}}</div>
            </div>
            <div class="item">
              <div class="title fl">运费（快递）：</div>
              <div class="title fr">¥{{data.freightMoney}}</div>
            </div>
            <div class="item">
              <div class="title fl">优惠金额：</div>
              <div class="title fr">¥{{data.discountPrice}}</div>
            </div>
            <div class="item">
              <div class="title fl">合计金额：</div>
              <div class="title fr">¥{{data.goodsTotalMoney + data.freightMoney}}</div>
            </div>
            <div class="item">
              <div class="title fl">支付金额：</div>
              <div class="title fr theme-color">¥{{data.payMoney}}</div>
            </div>
          </div>

          <div class="order-price order-status">
            <div class="item">
              <div class="title fs16">订单信息</div>
            </div>
            <div class="item">
              <div class="title fl">订单状态：</div>
              <div class="title fr theme-color" v-if="data.isCommented == 1 && data.state === 6">待评价</div>
              <div class="title fr theme-color" v-else>{{orderState[data.state]}}</div>
            </div>
            <div class="item">
              <div class="title fl">订单编号：</div>
              <div class="title fr">{{data.orderNumber}}</div>
            </div>
            <div class="item">
              <div class="title fl">创建时间： </div>
              <div class="title fr">{{data.createTime}}</div>
            </div>
          </div>

          <div class="order-operation">
            <div class="contact-merchant" @click="contactKefu"><img src="../../src/img/jewelry/contact-merchant.png"
                alt=""><span class="link">联系商家</span></div>
            <div class="operation">
              <template v-if="data.state==1 || data.state==100">
                <a class="btn btn-warning toPayOrderBtn" :orderNumber="data.orderNumber">立即支付</a>&emsp;&emsp;
                <a v-if="data.revokeState != 1" class="cancelOrderBtn" :orderNumber="data.orderNumber">取消订单</a>
              </template>
              <template v-else-if="data.state==2">
                <a v-if="data.revokeState != 1" class="cancelOrderBtn" :orderNumber="data.orderNumber">取消订单</a>
              </template>
              <template v-else-if="data.state==3">

              </template>
              <template v-else-if="data.state==4">
                <a v-if="data.revokeState != 1" class="cancelOrderBtn" :orderNumber="data.orderNumber">取消订单</a>
              </template>
              <template v-else-if="data.state==5">
                <a class="ensureOrderBtn" :orderNumber="data.orderNumber">确认收货</a>
                <a v-if="data.revokeState != 3 && data.revokeState != 4" class="serviceOrderBtn"
                  :orderNumber="data.orderNumber" :orderId="data.id" refundType="1">申请退款</a>
                <a v-if="data.delayedReceipt == 0" class="delayOrderBtn" :orderId="data.id"
                  :orderNumber="data.orderNumber">延迟收货</a>
              </template>
              <template v-else-if="data.state==6">
                <a v-if="data.isCommented != 2" class="commentOrderBtn" :orderNumber="data.orderNumber">去评价</a>
                <a v-if="data.revokeState != 6 && data.revokeState != 6" class="serviceOrderBtn"
                  :orderNumber="data.orderNumber" :orderId="data.id" refundType="1">申请退货</a>
              </template>
              <template v-else-if="data.state==7">

              </template>

              <template v-else-if="data.state==8">

              </template>
              <template v-else-if="data.state==9">

              </template>
              <template v-else-if="data.state==10">
                <a v-if="data.revokeState != 3 && data.revokeState != 4" class="revokeCancelBtn" refundType="1"
                  :orderId="data.orderRefundId">撤销退款</a>
              </template>
              <template v-else-if="data.state==11">

              </template>
              <template v-else-if="data.state==12">

              </template>
              <template v-else-if="data.state==13">
                <a v-if="data.revokeState != 5 && data.revokeState != 6" class="revokeCancelBtn" refundType="1"
                  :orderId="data.orderRefundId">撤销退货</a>
              </template>
              <template v-else-if="data.state==14">

              </template>
              <template v-else-if="data.state==15">

              </template>
              <template v-else-if="data.state==16">
                <a class="commentOrderBtn" :orderNumber="data.orderNumber">去评价</a>
              </template>
              <template v-else-if="data.state==17">
                <a class="revokeCancelBtn" refundType="0" :orderId="data.id">撤销取消申请</a>
              </template>
              <template v-else-if="data.state==18">
                <a class="revokeCancelBtn" refundType="1" :orderId="data.orderRefundId">撤销退货</a>
                <a class="serviceOrderBtn" refundType="2" :orderNumber="data.orderNumber" :orderId="data.id">申请退货</a>
              </template>
              <template v-else-if="data.state==41">

              </template>
              <template v-else-if="data.state==42">

              </template>
              <template v-else-if="data.state==43">

              </template>
              <template v-else-if="data.state==44">

              </template>
              <template v-else>

              </template>
            </div>
          </div>

          <!-- <div class="orderInfo">
						<div class="panel userPanel">
							<div class="panel-header">
								<h3 class="panel-title">
									<b style="margin-right: 20px">{{data.createTime}}</b>
									<span>
										订单编号：{{data.orderNumber}}
									</span>
								</h3>
							</div>
							<div class="panel-body">
								<table>
									<tr>
										<td width="330" valign="top" style="padding-right: 20px;">
											<h3>收货人信息</h3>
											<p>
												<label>收件人：</label>
												<span v-if="data.userInfoVO">{{data.userInfoVO.username}}</span>
											</p>
											<p>
												<label>手机号码：</label>
												<span v-if="data.userInfoVO">{{data.userInfoVO.mobile}}</span>
											</p>
											<p>
												<label>收货地址：</label>
												<span v-if="data.userInfoVO">{{data.userInfoVO.shippingAddr}}</span>
											</p>
										</td>
										<td valign="top" style="border-left: 1px dashed #eaeaea;padding: 0 30px;">
											<h3>订单状态：
											<template v-if="data.state == 1 || data.state==100">
												待付款
											</template>
											<template v-else-if="data.state == 2">
												待发货
											</template>
											<template v-else-if="data.state == 3">
												设计中&制造中
											</template>
											<template v-else-if="data.state == 4">
												待发货
											</template>
											<template v-else-if="data.state == 5">
												待收货
											</template>
											<template v-else-if="data.state == 6">
												<template v-if="data.isCommented == 1">
													待评价
												</template>
												<template v-else>
													已评价
												</template>
											</template>
											<template v-else-if="data.state == 7">
												已完成
											</template>
											<template v-else-if="data.state == 8">
												已取消
											</template>
											<template v-else-if="data.state == 9">
												已关闭
											</template>
											<template v-else-if="data.state == 10">
												退款申请中
											</template>
											<template v-else-if="data.state == 11">
												退款成功
											</template>
											<template v-else-if="data.state == 12">
												退款失败
											</template>
											<template v-else-if="data.state == 13">
												退货申请中
											</template>
											<template v-else-if="data.state == 14">
												退货成功
											</template>
											<template v-else-if="data.state == 15">
												已删除
											</template>
											<template v-else-if="data.state == 17">
												取消中
											</template>
											<template v-else-if="data.state == 18">
												退货失败
											</template>
											<template v-else-if="data.state == 19">
												同意退货
											</template>
											<template v-else-if="data.state == 20">
												商家待收货
											</template>
											<template v-else-if="data.state == 21">
												退款仲裁中
											</template>
											<template v-else-if="data.state == 22">
												退货仲裁中
											</template>
											<template v-else-if="data.state == 41">
												待换出人支付
											</template>
											<template v-else-if="data.state == 42">
												待换出人发货
											</template>
											<template v-else-if="data.state == 43">
												待换入人收货
											</template>
											<template v-else-if="data.state == 44">
												待换出人收货
											</template>
											</h3>
											<div class="clearfix">
												<p class="fr">
													<label>应付总额：</label>
													<b class="red fs24">￥{{data.payMoney}}</b>
												</p>
												<p class="fl">
													<label v-if="data.userCouponsVO">优惠金额：￥{{data.userCouponsVO.couponsPrice}}</label>
													<label v-else>优惠金额：￥0</label>
												</p>
											</div>
											<div>
												<template v-if="data.state==1 || data.state==100">
													<a class="btn btn-warning toPayOrderBtn" :orderNumber="data.orderNumber">立即支付</a>&emsp;&emsp;
													<a v-if="data.revokeState != 1" class="blue cancelOrderBtn" :orderNumber="data.orderNumber">取消订单</a>
												</template>
												<template v-else-if="data.state==2">
													<a v-if="data.revokeState != 1" class="blue cancelOrderBtn" :orderNumber="data.orderNumber">取消订单</a>
												</template>
												<template v-else-if="data.state==3">
													
												</template>
												<template v-else-if="data.state==4">
													<a v-if="data.revokeState != 1" class="blue cancelOrderBtn" :orderNumber="data.orderNumber">取消订单</a>													
												</template>
												<template v-else-if="data.state==5">
													<a class="blue ensureOrderBtn" :orderNumber="data.orderNumber">确认收货</a>
													<a v-if="data.revokeState != 3 && data.revokeState != 4" class="serviceOrderBtn blue" orderNumber="data.orderNumber" orderId="data.id" refundType="1">申请退款</a>
													<a v-if="data.delayedReceipt == 0" class="delayOrderBtn blue" orderId="data.id" orderNumber="data.orderNumber">延迟收货</a>
												</template>
												<template v-else-if="data.state==6">
													<a v-if="data.isCommented != 2" class="blue commentOrderBtn" :orderNumber="data.orderNumber">去评价</a>
													<a v-if="data.revokeState != 6 && data.revokeState != 6" class="serviceOrderBtn blue" orderNumber="data.orderNumber" orderId="data.id" refundType="1">申请退货</a>
												</template>
												<template v-else-if="data.state==7">
													
												</template>
												
												<template v-else-if="data.state==8">
												
												</template>
												<template v-else-if="data.state==9">
												
												</template>
												<template v-else-if="data.state==10">
													<a v-if="data.revokeState != 3 && data.revokeState != 4" class="blue revokeCancelBtn" refundType="1" orderId="data.orderRefundId">撤销退款</a>
												</template>
												<template v-else-if="data.state==11">
												
												</template>
												<template v-else-if="data.state==12">
												
												</template>
												<template v-else-if="data.state==13">
													<a v-if="data.revokeState != 5 && data.revokeState != 6" class="blue revokeCancelBtn" refundType="1" orderId="data.orderRefundId">撤销退货</a>
												</template>
												<template v-else-if="data.state==14">
												
												</template>
												<template v-else-if="data.state==15">
												
												</template>
												<template v-else-if="data.state==16">
													<a class="blue commentOrderBtn" :orderNumber="data.orderNumber">去评价</a>
												</template>
												<template v-else-if="data.state==17">
													<a class="blue revokeCancelBtn" refundType="0" orderId="data.id">撤销取消申请</a>
												</template>
												<template v-else-if="data.state==18">
													<a class="revokeCancelBtn blue" refundType="1" orderId="data.orderRefundId">撤销退货</a>
													<a class="serviceOrderBtn blue" refundType="2" orderNumber="data.orderNumber" orderId="data.id">申请退货</a>						
												</template>
												<template v-else-if="data.state==41">
												
												</template>
												<template v-else-if="data.state==42">
												
												</template>
												<template v-else-if="data.state==43">
												
												</template>
												<template v-else-if="data.state==44">
												
												</template>
												<template v-else>
												
												</template>
											</div>
										</td>
									</tr>
								</table>
							</div>
						</div>
					</div> -->

          <!-- <div class="payInfo">
						<div class="panel userPanel">
							<div class="panel-header">
								<h3 class="panel-title"><b>支付信息</b></h3>
							</div>
							<div class="panel-body">
								<table>
									<tr>
										<td width="45%">
											<label>支付方式：</label>
											<span>在线支付</span>
										</td>
										<td>
											<label>支付渠道：{{g_const.payType[data.payType]}}</label>
											<span></span>
										</td>
									</tr>
									<tr>
										<td>
											<label>下单时间：</label>
											<span>{{data.createTime}}</span>
										</td>
									</tr>
									<tr v-if="data.state == 2 || data.state == 3 || data.state == 4 || data.state == 5 || data.state == 6 || data.state == 7 || data.state == 16">
										<td>
											<label>支付时间：</label>
											<span>{{data.payTime}}</span>
										</td>
										<td></td>
									</tr>
								</table>
							</div>
						</div>
					</div> -->

          <!-- <template v-if="data.state == 5 || data.state == 6 || data.state == 12 || data.state == 18">
            <div class="expressInfo">
              <div class="panel userPanel">
                <div class="panel-header">
                  <div class="panel-control">
                    <a :orderId="data.id" class="blue expressOrderBtn">查看物流</a>
                  </div>
                  <h3 class="panel-title"><b>物流信息</b></h3>
                </div>
                <div class="panel-body">
                  <table>
                    <tr>
                      <td width="33%">
                        <label>快递公司：</label>
                        <span v-if="data.orderExpress">{{data.orderExpress.expressCompany}}</span>
                      </td>
                      <td width="33%">
                        <label>快递单号：</label>
                        <span v-if="data.orderExpress">{{data.orderExpress.expressNum}}</span>
                      </td>
                      <td>
                        <label>时间：</label>
                        <span v-if="data.orderExpress">{{data.orderExpress.createTime}}</span>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </template>

          <div v-if="data.message">
            <div class="panel userPanel">
              <div class="panel-header">
                <h3 class="panel-title"><b>买家留言</b></h3>
              </div>
              <div class="panel-body">
                {{data.message}}
              </div>
            </div>
          </div>

          <div class="ticketInfo" v-if="data.invoiceType != 0">
            <div class="panel userPanel">
              <div class="panel-header">
                <div class="panel-control">
                  <a class="blue">查看发票详情</a>
                </div>
                <h3 class="panel-title"><b>发票信息</b></h3>
              </div>
              <div class="panel-body">
                <table>
                  <tr>
                    <td width="33%">
                      <label>发票类型：</label>
                      <span v-if="data.invoiceType == 1">企业</span>
                      <span v-if="data.invoiceType == 2">个人</span>
                    </td>
                    <td width="33%">
                      <label>发票抬头：</label>
                      <span>{{data.invoiceTitle}}</span>
                    </td>
                    <td>
                      <label>发票内容：</label>
                      <span>{{data.code}}</span>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>

          <div class="goodsList">
            <div class="panel userPanel">
              <div class="panel-header">
                <h3 class="panel-title"><b>我的商品</b></h3>
              </div>
              <div class="panel-body">
                <table>
                  <thead>
                    <tr class="tc">
                      <th colspan="2">商品</th>
                      <th>单价</th>
                      <th>数量</th>
                      <th>实付</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="item in data.orderGoodVOList">
                      <td width="120">
                        <img :src="item.skuMainPic | formatImg" width="100" height="100">
                      </td>
                      <td>
                        <h3>{{item.skuName}}</h3>
                        <p v-for="(citem,index) in item.skuExplain" :key="index">
                          {{citem.specsName}}:{{citem.attrValue}}
                        </p>
                      </td>
                      <td class="tc">￥{{item.unitPrice}}</td>
                      <td class="tc">{{item.goodsNumber}}</td>
                      <td class="tc">￥{{item.goodsNumber*item.unitPrice}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div> -->

        </div>

      </div>
    </div>
  </div>

  <%- include ../../footer.ejs %>

  <%- include commonJs.ejs %>
  <script>
    $(".userLeftNav li[data-target='order']").addClass("cur");

    var routerVm = new Vue({
      el: "#router"
    })

    var id = utils.getUrlParam("id");

    var detailVm = new Vue({
      el: "#orderDetail",
      data: {
        data: {},
        countDown: '',
        orderState: {
          1: '待付款',
          2: '待发货',
          3: '设计中&制造中',
          4: '待发货',
          5: '待收货',
          6: '已评价',
          7: '已完成',
          8: '已取消',
          9: '已关闭',
          10: '退款申请中',
          11: '退款成功',
          12: '退款失败',
          13: '退货申请中',
          14: '退货成功',
          16: '待评价',
          17: '取消中',
          18: '退货失败',
          19: '同意退货',
          20: '商家待收货',
          21: '退款仲裁中',
          22: '退货仲裁中',
          23: '拼团中',
          24: '拼团成功',
          100: '待付款'
        }
      },
      mounted() {
        utils.ajax({
          url: "/api/order/info/" + id,
          type: "get",
          success: (data) => {
            this.data = data.data
            this.initKefu(this.data.keFuId, this.data.orderNumber, this.data.payMoney)
            if (this.data.state == 1 || this.data.state == 100) {
              $("#orderProgress li:eq(1)").prevAll().addClass("cur")
              this.getCountDown()
            } else if (this.data.state == 2 || this.data.state == 3 || this.data.state == 4 || this.data
              .state == 10 || this.data.state == 21) {
              $("#orderProgress li:eq(2)").prevAll().addClass("cur")
            } else if (this.data.state == 5 || this.data.state == 11 || this.data.state == 12 || this.data
              .state == 14 || this.data
                .state == 18 || this.data.state == 13 || this.data.state == 19 || this.data.state == 20 || this
                  .data.state == 22
            ) {
              $("#orderProgress li:eq(3)").prevAll().addClass("cur")
            } else if (this.data.state == 6 || this.data.state == 7) {
              $("#orderProgress li").addClass("cur")
            }
          }
        })
      },
      methods: {
        contactKefu() {
          NTKF.im_openInPageChat(this.data.keFuId)
        },
        // 初始化客服
        initKefu(keFuId, orderNumber, orderprice) {
          var uname = utils.getCookie('nickName') || ""
          var uid = utils.getCookie('userIdZBX') || ""
          NTKF_PARAM = {
            siteid: utils.getCookie('siteid'), //企业ID，为固定值，必填
            sellerid: 'zd_' + utils.kefuStr(keFuId),
            settingid: keFuId, //接待组ID，为固定值，必填
            uid: uid, //用户ID，支持字母、数字、下划线。未登录可以为空，但不能给null，uid赋予的值在显示到小能客户端上
            uname: uname, //未登录可以为空，但不能给null，uname赋予的值显示到小能客户端上
            isvip: "0", //是否为vip用户，0代表非会员，1代表会员，取值显示到小能客户端上
            userlevel: "0", //网站自定义会员级别，0-N，可根据选择判断，取值显示到小能客户端上
            erpparam: "erp", //erpparam为erp功能的扩展字段，可选，购买erp功能后用于erp功能集成
            orderid: orderNumber, //orderid：(选填)订单号
            orderprice: orderprice //orderprice：(选填)订单价格
          }
        },
        // 促销倒计时
        getCountDown() {
          let endTime = +new Date(Date.parse(this.data.createTime.replace(/-/g, "/")))
          endTime += 30 * 60 * 1000
          let diferentTime = this.leftTimer(endTime - new Date())
          this.countDown = diferentTime
          this.timeOut = setInterval(() => {
            let endTime = +new Date(Date.parse(this.data.createTime.replace(/-/g, "/")))
            endTime += 30 * 60 * 1000
            let diferentTime = this.leftTimer(endTime - new Date())
            this.countDown = diferentTime
          }, 1000)
        },
        leftTimer(leftTime) {
          var text = "";
          var days = parseInt(leftTime / 1000 / 60 / 60 / 24, 10); //计算剩余的天数
          var hours = parseInt(leftTime / 1000 / 60 / 60 % 24, 10); //计算剩余的小时
          var minutes = parseInt(leftTime / 1000 / 60 % 60, 10); //计算剩余的分钟
          var seconds = parseInt(leftTime / 1000 % 60, 10); //计算剩余的秒数
          if (seconds < 0) {
            this.isPromoteSale = false
          }
          days = this.checkTime(days)
          hours = this.checkTime(hours)
          minutes = this.checkTime(minutes)
          seconds = this.checkTime(seconds)
          if (days >= 0 || hours >= 0 || minutes >= 0 || seconds >= 0) {
            // text = days + "天" + hours + "小时" + minutes + "分" + seconds + "秒"
            text = minutes + "分" + seconds + "秒"
          }
          return text
        },
        checkTime(i) { //将0-9的数字前面加上0，例1变为01
          if (i < 10) {
            i = "0" + i
          }
          return i
        }
      },
      filters: {
        formatImg: function (str) {
          return utils.formatImg(str);
        }
      }
    })

    $(document).on("click", ".cancelOrderBtn", function (e) {
      //取消订单
      var self = $(e.currentTarget)
      var id = self.attr("orderNumber")
      cancelOrder(id, function () {
        utils.alert("success", "取消成功");
        setTimeout(function () {
          location.reload();
        }, 1500)
      })
    })
  </script>

</body>

</html>