<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv='X-UA-Compatible' content='IE=Edge,chrome=1' />
<meta name="renderer" content="webkit">
<meta name="description" content="">
<meta name="keywords" content="">
<title><%= title %></title>
<link rel="shortcut icon" type="image/x-icon" href="../../dist/img/favicon.ico"/>
<link rel="bookmark" type="image/x-icon" href="../../dist/img/favicon.ico"/>
<link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_718775_m854kdemp1s.css"/>
<link rel="stylesheet" type="text/css" href="../../src/css/sprite.css"/>
<link rel="stylesheet" type="text/css" href="../../dist/css/all.css"/>
<link rel="stylesheet" type="text/css" href="../../src/js/vue/index.css"/>
<script src="../../dist/js/template.js"></script>
<script src="../../dist/js/lib.js"></script>
<script src="../../dist/js/v.js"></script>
<script src="../../src/js/plugin/tinymce4.7.5/tinymce.min.js"></script>
<!-- 引入样式 -->
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<style type="text/css">
		.layui-form{
    		margin-left: 20px;
    		width: 900px;
    		float: left;
    	}
    	.layui-form-item{
    		width: 100%;
    		display: flex;
    		align-items: center;
    		margin-top: 20px;
    		position: relative;
    	}
    	.layui-form-item .layui-input-block .layui-input{
    		width: 300px;
    		border-radius: 10px;
    		height:30px;
    		outline: none;
    		border:1px solid #ccc;
    		padding-left: 10px;
    	}
    	.layui-form-label{
    		width: 100px;
    		font-size: 16px;
    		text-align: right;
    		margin-right: 20px;
    	}
    	.radios input:nth-child(2){
    		margin-left: 70px;
    	}
    	.weights-input{
    		width: 100px;
    		height:30px;
    		border:1px solid #ccc;
    		border-radius: 10px;
    		margin:0 5px;
    	}
    	.ts{
    		font-size: 14px;
    		color:#ccc;
    		margin-left: 50px;
    		margin-top: 10px;
    	}
    	.address{
    		width: 500px;
    		height: 300px;
    		border:1px solid #ccc;
    		position: absolute;
    		top:0;
    		left:200px;
    		background: #FFF;
    	}
    	.address h1{
    		font-size:20px;
    		text-align: center;
    		color: #666;
    	}
    	.address .region{
    		border-top: 1px solid #ccc;
    	}
    	.region p{
    		display: inline-block;
    		padding: 0 9px;
    		font-size: 12px;
    		height: 0px;
    	}
    	.address .bottom{
    		width: 100%;
    		height: 50px;
    		background: #ccc;
    		position: absolute;
    		bottom:0;
    	}
    	.bottom .button{
    		float: right;
    		width: 140px;
    		height: 35px;
    		margin:7.5px 5px 0;
    		border:0;
    		border-radius: 8px;
    	}
    	.success{
    		background:rgba(22, 155, 213, 1);
    		color:#fff;
    	}
    	.cancel{
    		background: #fff;
    		color:#333;
    	}
    	.named{
    		border:1px solid #ccc;
    		background: #fff;
    	}
    	.named_name{
    		display: flex;
    		align-items: center;
    		border-bottom:1px solid #ccc;
    	}
    	.dz{
    		flex: 2;
    	}
    	.dz p{
    		display: inline-block;
    		padding: 0 5px;
    	}
    	.items span{
    		display: inline-block;
    		padding: 10.5px 8px;
    		color:rgba(22, 155, 213, 1);
    	}
    	.weight{
    		margin: 10px 0;
    	}
    	.address1{
    		border-top: 1px solid #ccc;
    		margin: 10px 0;
    		color:rgba(22, 155, 213, 1);
    	}
    	.btn{
    		width: 150px;
		    height: 40px;
		    border: 0;
		    color: #fff;
		    margin-top: 150px;
		    margin-left: 20px;
		    background:rgba(22, 155, 213, 1);
		    border-radius: 8px;
    	}
    	.fh{
    		display: block;
		    width: 80px;
		    background:rgba(22, 155, 213, 1);;
		    color: #fff;
		    text-decoration: none;
		    text-align: center;
		    height: 30px;
		    line-height: 30px;
		    margin: 20px 25px 30px;
		    border-radius: 5px;
    	}
</style>
</head>
<body class="userPublish">
  <%- include ../../headerbar.ejs %>
  
  <%- include ../../header.ejs %>
  
  <%- include ../userHeaderNav.ejs %>
  	<div class="container">
	    <div class="router" id="router">
	      <el-breadcrumb separator-class="el-icon-arrow-right">
	          <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
	          <el-breadcrumb-item>个人中心</el-breadcrumb-item>
	      </el-breadcrumb>
	    </div>
	  </div>
	  <div id="main" class="main">
	  	<div class="clearfix container">
	  		<div class="userLeftNav">
          <%- include ../userLeftNav.ejs %>
        </div>
        	<form class="layui-form" action="" id="layui-form">
				<div class="layui-form-item">
		    	<label class="layui-form-label">模板名称</label>
		    	<div class="layui-input-block">
		      		<input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入模板名称" class="layui-input" v-model="form.name">
		    	</div>
			</div>
			<div class="layui-form-item" pane="">
		    <label class="layui-form-label">计价方式</label>
		    <div class="radios" v-model="form.pricMethod">
		      <input type="radio" name="sex" :value="1" title="按照件数" checked="">按照件数
		      <input type="radio" name="sex" :value="2" title="按照重量">按照重量
		    </div>
		  </div>
		  <div class="layui-form-item" pane="">
		    <label class="layui-form-label">默认运费</label>
		    <div class="weights">
		    	<input type="text" name="title" lay-verify="title" autocomplete="off" class="weights-input" v-model="form.startWeight">件内 <input type="text" name="title" lay-verify="title" autocomplete="off" class="weights-input" v-model="form.startPrice">元；每增加<input type="text" name="title" lay-verify="title" autocomplete="off" class="weights-input" v-model="form.renewWeight">件，运费增加<input type="text" name="title" lay-verify="title" autocomplete="off" class="weights-input" v-model="form.renewPrice">元
		    </div>
		  </div>
		  <p class="ts">提示：默认运费，即除"指定地区"外的运费</p>
		  <input type="button" value="保存" name="保存" class="btn" @click="addfreight"/>
		  </form>
	  	</div>
	  </div>
</body>
<script type="text/javascript">
  	var routerVm = new Vue({
  		el: "#layui-form",
  		data(){
  			return {
  				isShow:false,
  				isData:'',
  				checkedCities1:[],
  				addressShows:true,
  				showdata:false,
  				list:[],
  				form:{
  					name:'',
		            pricMethod:1,
			        template_type:3,
			        startWeight: '',
			        startPrice: '',
			        renewWeight:'',
			        renewPrice: '',
  				}
  			}
  		},
  		computed:{
			getTitle(){
				let res = location.href.split('/')
				return unescape(res[res.length-1].split('?')[1].split('=')[1])
			}
		},
		created(){
			this.pull()
		},
  		methods:{
  			addressShow(){
  				var _this = this;
  				_this.isShow = true;
  			},
  			pull(){
  				var _this = this;
  				$.ajax({
  					type:"get",
  					url:`/admin/freight/detail/${_this.getTitle}`,
  					contentType: 'application/json;charset=utf-8',
		      		headers:{
		            'Authorization':utils.getCookie("token")
		          },
			       	success(data){
			       		console.log(data)
			       		_this.form.name = data.data.name;
		    			_this.form.startWeight = data.data.startWeight;
		    			_this.form.startPrice = data.data.startPrice;
		    			_this.form.renewWeight = data.data.renewWeight;
		    			_this.form.renewPrice= data.data.renewPrice;
			       	}
  				})
  			},
  			addfreight(){
  				var _this = this;
  				$.ajax({
  					type:"post",
  					url:`/admin/freight/updateFreightTemplate?name=${_this.form.name}&pricMethod=${_this.form.pricMethod}&template_type=1&startWeight=${_this.form.startWeight}&startPrice=${_this.form.startPrice}&renewWeight=${_this.form.renewWeight}&renewPrice=${_this.form.renewPrice}&id=${_this.getTitle}`,
  					contentType: 'application/json;charset=utf-8',
		      		headers:{
		            'Authorization':utils.getCookie("token")
		          },
			        success(res){
			        	if(_this.form.name == '' ||_this.form.startWeight == '' || _this.form.startPrice == '' || _this.form.renewWeight == '' || _this.form.renewPrice == ''){
				      		alert('输入框不可为空，请全部填写');
				      	}else{
				      		if(res.msg === "成功"){
				      			window.location.href= './index.html'
				      		}else{
				      			alert('提交失败，请重试')
				      		}	
				      	}
			        }
  				})
  			},
  		}
  	});
  </script>
</html>