<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv='X-UA-Compatible' content='IE=Edge,chrome=1' />
	<meta name="renderer" content="webkit">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<title><%= title %></title>
	<link rel="shortcut icon" type="image/x-icon" href="http://app.gacjc.com/app/download/favicon.ico" />
	<link rel="bookmark" type="image/x-icon" href="http://app.gacjc.com/app/download/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_718775_m854kdemp1s.css" />
	<link rel="stylesheet" type="text/css" href="../../src/css/sprite.css" />
	<link rel="stylesheet" type="text/css" href="../../dist/css/all.css" />
	<link rel="stylesheet" type="text/css" href="../../src/js/vue/index.css" />
	<script src="../../dist/js/template.js"></script>
	<script src="../../dist/js/lib.js"></script>
	<script src="../../dist/js/v.js"></script>
	<script src="../../src/js/address.js"></script>
	<style>
		.confirm-order {
			background: #ffffff;
			padding: 30px 30px 10px;
			margin: 50px auto 74px;
		}

		.confirm-order .subtitle {
			margin-top: 50px
		}

		.confirm-order .el-radio-button__inner {
			width: 254px;
			margin: 0 10px;
			border: 1px solid #e5e5e5;
		}

		.confirm-order .el-radio-button:first-child .el-radio-button__inner,
		.confirm-order .el-radio-button:last-child .el-radio-button__inner {
			border-radius: 2px;
		}

		.confirm-order .el-radio-button:first-child .el-radio-button__inner:hover,
		.confirm-order .el-radio-button:last-child .el-radio-button__inner:hover {
			color: #DF735A;
		}

		.confirm-order .el-radio-button__orig-radio:checked+.el-radio-button__inner {
			color: #666666;
			background-color: transparent;
			border: 2px solid #DF735A;
			-webkit-box-shadow: none;
			box-shadow: none;
		}

		.exchange-baddress .new-address {
			padding: 4px 8px;
			color: #DF735A;
			border: 1px solid;
		}

		.exchange-baddress ul {
			/* height: 181px; */
			overflow: hidden;
		}

		.exchange-baddress ul.show {
			height: auto;
		}

		.exchange-baddress li {
			position: relative;
			float: left;
			width: 366px;
			height: 171px;
			line-height: 30px;
			margin: 10px;
			border: 1px solid #e0e0e0;
			padding: 15px;
			background: #fff;
			font-size: 14px;
			color: #666;
		}

		.exchange-baddress li.cur {
			position: relative;
			border-color: #DF735A;
			border-width: 2px;
		}

		.exchange-baddress li.cur::after {
			content: url(../../src/img/order/addr-selected.png);
			position: absolute;
			right: 0;
			bottom: 0;
			width: 35px;
			height: 35px;
		}

		.exchange-baddress li:nth-child(3n) {
			margin-right: 0;
		}

		.exchange-baddress li:nth-child(3n+1) {
			margin-left: 0;
		}

		.exchange-baddress .addr-edit {
			position: absolute;
			width: 20px;
			height: 20px;
			top: 12px;
			right: 56px;
		}

		.exchange-baddress .addr-del {
			position: absolute;
			width: 18px;
			height: 18px;
			right: 20px;
			top: 13px;
		}

		.exchange-baddress .locale {
			margin-top: 30px;
			margin-right: 50px;
			line-height: 20px;
			height: 40px;
			overflow: hidden;
			font-size: 14px;
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 2;
		}

		.exchange-baddress .addr-default {
			text-align: right;
			line-height: 22px;
			font-size: 12px;
		}

		.exchange-baddress .addr-default a {
			padding: 2px 4px;
			color: #DF735A;
		}

		.exchange-baddress .addr-default a.default {
			color: #fff;
			background: #DF735A;
		}

		.exchange-baddress li.cur .addr-default a {
			display: none;
		}

		.exchange-baddress .no-address {
			position: relative;
			margin-bottom: 30px;
			text-align: center;
		}

		.exchange-baddress .no-address p {
			position: absolute;
			bottom: 40px;
			margin-left: -60px;
			left: 50%;
			font-size: 24px;
			color: #525252;
		}

		.exchange-bpay li {
			display: inline-block;
			margin: 20px 15px;
			width: 267px;
			height: 64px;
			line-height: 64px;
			font-size: 20px;
			color: #666666;
			text-align: center;
			border: 1px solid #e0e0e0;
		}

		.shop-goods {
			margin-top: 20px;
			border: 1px solid #e0e0e0;
		}

		.shop-goods .shop {
			height: 52px;
			line-height: 52px;
			background: #F3F3F3;
			padding: 0 30px;
		}

		.shop-goodslist {
			padding: 0 30px;
		}

		.shop-goodslist table {
			width: 100%;
		}

		.shop-goodslist td {
			padding: 15px 0;
			text-align: center;
		}

		.shop-goodslist td p {
			width: 213px;
			font-size: 14px;
			color: #585858;
			text-align: left;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}

		.shop-goodslist .sku {
			margin-top: 20px;
			text-align: left;
		}

		.shop-goodslist .sku>span {
			display: inline-block;
			font-size: 12px;
			color: #999999;
		}

		.exchange-blist th {
			font-weight: normal;
		}

		.leave-word {
			padding: 20px 30px;
			border-top: 1px solid #e0e0e0;
		}

		.leave-word textarea {
			width: 547px;
			height: 86px;
			vertical-align: text-top;
		}

		.leave-word>div {
			text-align: right;
			float: right;
		}

		.leave-word>div p {
			margin-top: 35px;
		}

		.receipt .el-radio-group {
			margin: 10px 0;
		}

		.receipt p {
			margin-top: 20px;
		}

		.receipt p>label {
			display: inline-block;
			width: 100px;
			text-align: right;
		}

		.receipt input {
			width: 530px;
			height: 44px;
			border-radius: 0;
		}

		.amount {
			font-size: 14px;
			color: #666;
			border-bottom: 1px solid #e0e0e0;
			padding: 10px 0;
			line-height: 30px;
		}

		.go-pay .fl {
			line-height: 24px;
			font-size: 14px;
			color: #585858;
			padding-top: 15px;
		}

		.go-pay button {
			display: inline-block;
			width: 200px;
			height: 50px;
			margin: 15px;
			font-size: 18px;
			color: #999;
			background: transparent;
			border: 1px solid #e0e0e0;
			border-radius: 0;
		}

		.go-pay button.btn-orange {
			background: #DF735A;
			color: #fff;
			border-color: #DF735A;
		}

		.orange-color {
			color: #FB746E;
		}

		.code_msg {
			position: absolute;
			left: 0;
			top: 40px;
		}
	</style>
</head>

<body class="exchangeBuy">

	<%- include ../headerbar.ejs %>

	<%- include ../header.ejs %>

	<%- include cartHeaderNav.ejs %>

	<div id="main" class="main container confirm-order">
		<div class="exchange-baddress" id="address">
			<h3 class="clearfix fs16">
				<a class="fr red new-address" id="showAddDialog"><img src="../../src/img/order/add-address.png"
						style="margin-right: 4px;" />添加新地址</a>
				<b>收货地址</b>
			</h3>
			<div>
				<ul class="clearfix" v-if="list && list.length">
					<template v-for="item in list">
						<li :data-id="item.id" :consignee="item.consignee" :province="item.province" :city="item.city"
							:area="item.area" :mobile="item.mobile" :street="item.street" :detail="item.detail">
							<div class="clearfix">
								<a class="addr-edit showEditBtn" :data-id="item.id"><img src="../../src/img/order/edit.png" /></a>
								<a class="addr-del" v-on:click="showDel($event)" :data-id="item.id"><img
										src="../../src/img/order/delete.png" /></a>
								<!-- <a class="fr setBtn" :data-id="item.id">设为默认</a> -->
								<span>收货人：{{ item.consignee }}</span>
							</div>
							<div class="clearfix">
								<span>手机号：{{ item.mobile }}</span>
							</div>
							<div class="locale">
								<p>寄送至：{{ item.province }}{{ item.city }}{{ item.area }}{{ item.street }}{{ item.detail }}</p>
							</div>
							<div class="addr-default">
								<a :class="{default: item.isDefault == 1}">{{(item.isDefault == 1) ? '默认地址' : '设为默认'}}</a>
							</div>
						</li>
					</template>
				</ul>
				<div v-else class="no-address">
					<img src="../../src/img/order/no-address.png">
					<p>暂无收货地址</p>
				</div>
				<div v-if="list.length > 4 && !isShowAll">
					<a class="btn" v-on:click="toggle">显示全部地址</a>
				</div>
			</div>
		</div>

		<div class="exchange-bpay container">
			<h3 class="fs16 subtitle">
				<strong>支持以下3种付款方式</strong>
			</h3>
			<div>
				<ul class="clearfix">
					<li>
						<label>
							<img src="../../src/img/order/Alipay.png">
							<span>支付宝</span>
						</label>
					</li>
					<li>
						<label>
							<img src="../../src/img/order/wechat.png">
							<span>微信</span>
						</label>
					</li>
					<li>
						<label>
							<img src="../../src/img/order/unionpay.png">
							<span>银联</span>
						</label>
					</li>
				</ul>
			</div>
		</div>
		<div id="detail">
			<div class="exchange-blist">
				<h3 class="fs16 subtitle">
					<strong>商品及服务信息</strong>
				</h3>
				<div>
					<div style="padding: 0 30px;">
						<table width="100%">
							<tr>
								<th colspan="2">商品信息</th>
								<th width="260">单价</th>
								<th width="100">数量</th>
								<th width="260">小计</th>
							</tr>
						</table>
					</div>
					<ul>
						<template v-for="item in goodsList">
							<li class="shop-goods">
								<div class="clearfix layer-table li_div">
									<div>
										<div class="goodslist">
											<div class="shop">
												<h3>
													<span>{{ item.userName }}</span>
												</h3>
											</div>
											<div class="shop-goodslist">
												<table>
													<tr v-for="goodsitem in item.goods">
														<td width="120">
															<img :src="goodsitem.goodsLogo | formatImg" width="75" height="75">
														</td>
														<td valign="top">
															<p>{{ goodsitem.goodsName }}</p>
															<div class="sku" v-if="goodsitem.skuList && goodsitem.skuList.length">
																<span v-for="sku in goodsitem.skuList">{{sku.specsName}}:{{sku.attrValue}}&emsp;</span>
															</div>
														</td>
														<td width="260">
															<span class="fs16">¥{{ goodsitem.skuPrice }}</span>
														</td>
														<td width="100">
															<span class="fs14">{{ goodsitem.quantity }}</span>
														</td>
														<td width="260">
															<strong class="new-red fs16">¥{{ goodsitem.skuPrice }}</strong>
														</td>
													</tr>
												</table>
											</div>
										</div>
									</div>
								</div>
								<div class="leave-word">
									<span style="color: #999999;">给卖家留言：</span>
									<textarea v-model="item.message" maxlength="150" placeholder="最多可输入150个字">{{item.message}}</textarea>
									<div>
										<span>运费</span>
										<p class="fs14 new-red">￥{{item.freightMoney}}</p>
									</div>
								</div>
								<!-- <div v-if="item.coupons && item.coupons.length">
									<p class="pV">商家优惠券</p>
									<div class="clearfix voucher merchantVoucher">
										<div class="fl voucher_item" v-for="citem in item.coupons" :key="citem.couponsId"
											:data-id="citem.couponsId" :data-price="citem.couponsPrice" onclick="activeVoucher(this)">
											<div class="clearfix tc">
												<div class="fl voucher_money1">{{citem.couponsPrice}}</div>
												<div class="fl voucher_money2">
													<p class="fs16">优惠券</p>
													<p>满{{citem.couponsScale}}使用</p>
												</div>
											</div>
											<span>券</span>
										</div>
									</div>
								</div> -->
							</li>
						</template>
					</ul>
				</div>
			</div>
			<div id="receipt" class="receipt">
				<h3 class="fs16 subtitle">
					<strong>发票信息</strong>
				</h3>
				<div>
					<el-radio-group v-model="invoiceType">
						<el-radio-button label="0">不开票</el-radio-button>
						<el-radio-button label="1">开票</el-radio-button>
					</el-radio-group>
					<!-- <ul class="clearfix">
						<li class="fl" style="margin-right: 20px;">
							<label>
								<input type="radio" name="invoiceType" value="0" checked="checked">
								<span>不开票</span>
							</label>
						</li>
						<li class="fl" style="margin-right: 20px;">
							<label>
								<input type="radio" name="invoiceType" value="1">
								<span>开票</span>
							</label>
						</li>
						<li class="fl f12 red">
							(暂不支持专票)
						</li>
					</ul> -->
					<div class="clearfix " v-if="invoiceType == 1">
						<el-radio-group v-model="personOrCompany">
							<el-radio-button label="2">个人</el-radio-button>
							<el-radio-button label="1">企业</el-radio-button>
						</el-radio-group>
						<!-- <a class="fl"><a class="receipt_g active" val="2">个人</a><a class="receipt_g" val="1">企业</a></p> -->
						<div id="company" v-if="personOrCompany == 1">
							<p><label>抬头名称：</label><input type="text" name="companyName" placeholder="请输入抬头名称" /></p>
							<p style="position: relative;">
								<label>纳税人识别号：</label>
								<input type="text" name="code" placeholder="请输入纳税人识别号" onfocus="$('.code_msg').show()" />
								<img src="../../src/img/exchange/message.png" class="code_msg" />
							</p>
						</div>
						<div id="personal" v-else-if="personOrCompany == 2">
							<p><label>名称：</label><input type="text" name="companyName" placeholder="请输入名称" /></p>
							<p>
								<label>手机号：</label>
								<input type="text" name="code" placeholder="请输入手机号" />
							</p>
						</div>
					</div>
				</div>
			</div>
			<!-- <div class="container" v-if="coupons0 && coupons0.length"
				style="padding: 10px 0;border-bottom: 1px solid #E0E0E0;">
				<p class="pV">平台优惠券（不可与商家优惠券同时使用）</p>
				<div class="clearfix voucher voucher0" v-if="coupons0 && coupons0.length">
					<div class="fl voucher_item" v-for="citem in coupons0" :key="citem.couponsId" :data-id="citem.couponsId"
						:data-price="citem.couponsPrice" onclick="activeVoucher(this)">
						<div class="clearfix tc">
							<div class="fl voucher_money1">{{citem.couponsPrice}}</div>
							<div class="fl voucher_money2">
								<p class="fs16">优惠券</p>
								<p>满{{citem.couponsScale}}使用</p>
							</div>
						</div>
						<span>券</span>
					</div>
				</div>
			</div> -->
			<div class="tr amount">
				<p>商品件数：<span class="orange-color">{{ totalGoodsNum }}件</span></p>
				<p>应付总额：<span class="orange-color fs24">{{totalGoodsPrice}}元</span></p>
			</div>
			<div class="go-pay clearfix">
				<div class="fl">
					<p>{{ consignee }} {{ mobile }}</p>
					<p>{{ province }}{{ city }}{{ area }}{{ street }}{{ detail }}</p>
				</div>
				<div class="fr tr">
					<button @click="window.history.back()" v-if="source == 1">返回购物车</button>
					<button @click="create" class="btn-orange">去结算</button>
				</div>
			</div>
		</div>
	</div>

	<%- include ../footer.ejs %>

	<%- include ../user/address_common.ejs %>
	<script>
		$('.step-cart .step').eq(1).addClass('active')
		var flag = utils.getUrlParam("flag");
		var source = utils.getUrlParam("source");
		var goodsType = utils.getUrlParam("goodsType");
		var purchaseType = null;
		if (source == 2) {
			$('.step-cart .step').eq(0).hide()
			$('.step-cart .step').eq(1).find('.step-line').hide()
			$('.step-cart .step').eq(1).find('.step-circle').text(1)
			$('.step-cart .step').eq(2).find('.step-circle').text(2)
			$('.step-cart .step').eq(3).find('.step-circle').text(3)
		}
		if (goodsType == 1) {
			purchaseType = 1
		}
		var addressVm = new Vue({
			el: "#address",
			data: {
				list: [],
				isShowAll: false,
				source: utils.getUrlParam("source")
			},
			mounted: function () {
				this.render();
			},
			methods: {
				showDel: function (event) {
					var id = event.currentTarget.getAttribute("data-id");
					showDelAddress(id);
				},
				toggle: function () {
					$("#address ul").addClass("show");
					self.isShowAll = true;
				},
				render: function () {
					var self = this;
					utils.ajax({
						url: "/api/userCenter/addr/page",
						type: "get",
						success: function (data) {
							data = data.data;
							self.list = data.records;
							setTimeout(function () {
								$("#address li:eq(0)").trigger("click");
							}, 100)
						}
					})
				}
			},
		})

		$(document).on("click", ".showDelBtn", function (e) {
			//删除
			var self = $(e.currentTarget);
			var id = self.attr("data-id");
			showDelAddress(id);
		}).on("click", "#delBtn", function (e) {
			var id = $(e.currentTarget).data("id");
			delAddress(id, function () {
				addressVm.list = _.remove(addressVm.list, function (n) {
					return n.id != id;
				});;
			})
		}).on("click", ".setBtn", function (e) {
			var self = $(e.currentTarget);
			var id = self.attr("data-id");
			setDefault(id, function (data) {
				addressVm.render();
			})

		}).on("click", ".showEditBtn", function (e) {
			var self = $(e.currentTarget);
			var id = self.attr("data-id");
			showEditAddress(id, function (data) {

			})
		}).on("click", "#showAddDialog", function () {
			//显示添加弹出框
			showAddDialog();
		}).on("click", "#addBtn", function () {
			addAddress(function (data) {
				if (data.success) {
					$(".addAddressDialog").removeClass("show");
					addressVm.render();
				} else {
					utils.alert("danger", data.msg);
				}
			})
		})
			/* .on("click", 'input[name=invoiceType]', function (e) {
						var self = $(e.currentTarget);
						var val = self.val();
						if (val == '1') {
							$('.receipt').removeClass('hide')
						} else {
							$('.receipt').addClass('hide')
						}
					}).on("click", ".receipt_g", function (e) {
						var self = $(e.currentTarget);
						var val = self.attr('val')
						$(document).find('.receipt_g').removeClass('active')
						self.addClass('active')
						if (val == '2') {
							$("#company").addClass('hide')
							$("#personal").removeClass('hide')
						} else {
							$("#company").removeClass('hide')
							$("#personal").addClass('hide')
						}
					}) */
			.on("click", '.code_msg', function () {
				$(this).hide()
			})

		var detailVm = new Vue({
			el: "#detail",
			data: {
				goodsList: [],
				coupons0: [], //平台优惠券
				totalGoodsPrice: 0,
				expressPrice: 0,
				totalGoodsNum: 0,

				consignee: "",
				province: "",
				city: "",
				area: "",
				street: "",
				detail: "",
				mobile: "",
				addressId: "1006",
				submitDisabled: false,
				invoiceType: 0,
				personOrCompany: 2
			},
			mounted: function () {

				var self = this;

				if (source == 2) {
					//立即购买
					var id = utils.getUrlParam("id");
					var goodsNumber = utils.getUrlParam("goodsNumber") || 1
					var skuid = utils.getUrlParam("skuid")

					if (flag == "design" || flag == "manufacture") {
						utils.ajax({
							url: "/api/designmanu/designroom/case/info/" + id,
							type: "get",
							success: function (data) {
								data = data.data;
								var freightPrice = data.freightPrice;
								/*
								if(data.price*parseInt(goodsNumber) >= 88){
									freightPrice = 0;
								}
								*/
								var skuPrice = getPrice(skuid, data.goodsSkus)
								var skuArr = getSpecVal(skuid, data.goodsSkus, data.goodsSpecs)
								self.goodsList.push({
									goods: [{
										goodsName: data.caseName,
										goodsLogo: (data.picList[0] || ""),
										skuPrice: skuPrice,
										goodsSku: skuid,
										skuList: skuArr,
										goodsSource: data.goodsSource,
										quantity: goodsNumber,
										goodsId: id,
										selected: true
									}],
									merchantId: data.merchantId,
									userName: data.merchantName,
									freightMoney: freightPrice,
									coupons: [],
									message: ''
								})
								setTimeout(function () {
									//获取优惠券
									self.getConpons();
									self.totalGoodsPrice = countTotalGoodsPrice();
									self.expressPrice = countExpressPrice();
									self.totalGoodsNum = countGoodsNum();
								}, 100)
							}
						})
					} else if (flag == 'jewelry') {
						/*珠宝店立即购买*/
						utils.ajax({
							url: "/api/marketPage/goodsDetailShow",
							type: "get",
							data: {
								goodsId: id
							},
							success: function (data) {
								data = data.data;
								var freightPrice = data.freightPrice;
								/*
								if(data.price*parseInt(goodsNumber) >= 88){
									freightPrice = 0;
								}
								*/
								var skuPrice = getPrice(skuid, data.goodsSkus)
								self.goodsList.push({
									goods: [{
										goodsName: data.goodsName,
										goodsLogo: (data.goodsGallerys[0].imgUrl || ""),
										skuPrice: skuPrice,
										goodsSku: skuid,
										goodsSource: data.goodsSource,
										quantity: goodsNumber,
										goodsId: id,
										selected: true
									}],
									merchantId: data.merchantId,
									userName: data.merchantName,
									freightMoney: freightPrice,
									coupons: [],
									'message': ''
								})
								setTimeout(function () {
									self.totalGoodsPrice = countTotalGoodsPrice();
									self.expressPrice = countExpressPrice();
									self.totalGoodsNum = countGoodsNum();
									//获取优惠券
									self.getConpons()
								}, 100)
							}
						})
					} else if (flag == 'skuGoods') {
						/**
						 * 关联商品立即购买
						 * */
						var obj = JSON.parse(utils.getUrlParam('obj'));
						var goods = [];
						var freightPrice = obj.freightPrice;
						/*
						if(parseInt(Number(obj.totalPrice)) >= 88){
							freightPrice = 0;
						}
						*/
						$.each(obj.arr, function (idx, item) {
							goods.push({
								goodsName: item.goodsName,
								goodsLogo: item.mainPic,
								skuPrice: item.price,
								goodsSku: item.skuId,
								goodsSource: 2,
								quantity: item.goodsNum,
								goodsId: item.goodsId,
								selected: true
							})
						})
						self.goodsList.push({
							goods: goods,
							userName: obj.merchantName,
							freightMoney: freightPrice,
							coupons: [],
							message: ''
						})
						setTimeout(function () {
							self.totalGoodsPrice = countTotalGoodsPrice();
							self.expressPrice = countExpressPrice();
							self.totalGoodsNum = countGoodsNum();
							//获取优惠券
							self.getConpons()
						}, 100)
					} else if (flag == 'auction') {
						utils.ajax({
							url: "/api/swap/portal/goods/swap_goods_auction/info/" + id,
							type: 'get',
							success: function (data) {
								data = data.data;
								var freightPrice = data.freightPrice;
								/*
								if(parseInt(freightPrice) >= 88){
									freightPrice = 0;
								}
								*/
								var price = data.dealPrice - data.deposit
								self.goodsList.push({
									goods: [{
										goodsName: data.goodsName,
										goodsLogo: (data.imgUrl || ""),
										skuPrice: price,
										goodsSku: data.goodsSku.id,
										goodsSource: data.goodsSource,
										quantity: 1,
										goodsId: id,
										selected: true,
										goodsSource: '3'
									}],
									merchantId: data.merchantId || "",
									userName: data.merchantName || "",
									freightMoney: freightPrice,
									coupons: [],
									message: ''
								})
								setTimeout(function () {
									self.totalGoodsPrice = countTotalGoodsPrice();
									self.expressPrice = countExpressPrice();
									self.totalGoodsNum = countGoodsNum();
								}, 100)
							}
						})
					} else {
						utils.ajax({
							url: "/api/swap/portal/goods/sale_goods/info/" + id,
							type: "get",
							success: function (data) {
								data = data.data;
								var freightPrice = data.freightPrice;
								/*
								if(data.price >= 88){
									freightPrice = 0;
								}
								*/
								if (data.swapble == "1") {
									var skuPrice = data.price
									var skuArr = []
									skuid = data.goodsSku.id
								} else {
									var skuPrice = getPrice(skuid, data.goodsSkus)
									var skuArr = getSpecVal(skuid, data.goodsSkus, data.goodsSpecs)
								}
								self.goodsList.push({
									goods: [{
										goodsName: data.goodsName,
										goodsLogo: data.imgUrl,
										skuPrice: skuPrice,
										skuList: skuArr,
										goodsSku: skuid,
										goodsSource: 2,
										quantity: goodsNumber,
										goodsId: id,
										selected: true
									}],
									merchantId: data.merchantId,
									userName: data.userName,
									freightMoney: freightPrice,
									coupons: [],
									message: ""
								})
								setTimeout(function () {
									self.totalGoodsPrice = countTotalGoodsPrice();
									self.expressPrice = countExpressPrice();
									self.totalGoodsNum = countGoodsNum();
									//获取优惠券
									self.getConpons()
								}, 100)
							}
						})
					}


				} else if (source == 1) {
					//购物车购买
					var cart = JSON.parse(localStorage.getItem("cart"));
					for (var i = 0; i < cart.length; i++) {
						var goodsItem = cart[i].goods;
						var freightMoney = 0;
						var merchantId = null;
						for (var o = 0; o < goodsItem.length; o++) {
							freightMoney += goodsItem[o].freightPrice
							merchantId = goodsItem[o].merchantId
						}
						self.goodsList.push({
							goods: goodsItem,
							merchantId: merchantId,
							userName: cart[i].goods[0].merchantName,
							freightMoney: freightMoney,
							coupons: [],
							message: ''
						})
					}
					setTimeout(function () {
						self.totalGoodsPrice = countTotalGoodsPrice();
						self.expressPrice = countExpressPrice();
						self.totalGoodsNum = countGoodsNum();
						//获取优惠券
						self.getConpons()
					}, 100)
				}

			},
			methods: {
				getConpons: function () {
					var self = this;
					var buySkuDTOList = [];
					for (var i = 0; i < self.goodsList.length; i++) {
						for (var j = 0; j < self.goodsList[i].goods.length; j++) {
							buySkuDTOList.push(
								self.goodsList[i].goods[j].goodsSku
							)
						}
					}
					utils.ajax({
						url: "/api/order/goodsCoupons",
						data: JSON.stringify(buySkuDTOList),
						success: function (data) {
							var res = data.data;
							for (key in res) {
								$.each(self.goodsList, function (idx, item) {
									if (String(item.merchantId) == String(key)) {
										self.goodsList[idx].coupons = res[key]
									} else if (key == 0) {
										self.coupons0 = res[key]
									}
								});
							}
						}
					})
				},
				create: function (el) {
					this.submitDisabled = true
					var self = this;
					if ($(".exchange-baddress li.cur").length == 0) {
						utils.alert("warning", "请选择收货地址");
						return;
					}
					var buySkuDTOList = [],
						couponsArr = [];
					for (var i = 0; i < self.goodsList.length; i++) {
						for (var j = 0; j < self.goodsList[i].goods.length; j++) {
							buySkuDTOList.push({
								skuId: self.goodsList[i].goods[j].goodsSku,
								source: self.goodsList[i].goods[j].goodsSource,
								goodsNumber: self.goodsList[i].goods[j].quantity,
								message: self.goodsList[i].message
							})
						}
					}
					if ($(".activeVoucher").length) {
						$.each($(".activeVoucher"), function (idx, item) {
							var val = $(item).attr('data-id');
							couponsArr.push(val)
						});
					}
					// var invoiceType = $("input[name=invoiceType]:checked").val();
					var invoiceType = detailVm.invoiceType;
					var companyName = '',
						code = '';
					/* if (invoiceType != '0') {
						invoiceType = $('.receipt .active').attr('val')
					} else {
						if (invoiceType == '1') {
							companyName = $("#company").find('input[name=companyName]').val().trim();
							code = $("#company").find('input[name=code]').val().trim()
						} else {
							companyName = $("#personal").find('input[name=companyName]').val().trim();
							code = $("#personal").find('input[name=code]').val().trim()
						}
					} */

					if (invoiceType != 0) {
						if (detailVm.personOrCompany == 2) {
							companyName = $("#personal").find('input[name=companyName]').val().trim();
							code = $("#personal").find('input[name=code]').val().trim()
						} else if (detailVm.personOrCompany == 1) {
							companyName = $("#company").find('input[name=companyName]').val().trim();
							code = $("#company").find('input[name=code]').val().trim()
						}
					}
					if (invoiceType != '0') {
						if (companyName == '' || code == '') {
							utils.alert('info', '请填写完整发票信息')
							return false;
						}
					}
					var json = {
						addrId: self.addressId,
						payType: 10,
						buySkuDTOList: buySkuDTOList,
						source: source,
						couponIds: couponsArr,
						invoiceType: Number(invoiceType),
						companyName: companyName,
						code: code,
						purchaseType: purchaseType
					}
					//buySkuDTOList[i].source   1珠宝店,2互换销售订单,3拍卖订单, 5设计室, 6制造间, 7图文馆

					utils.ajax({
						url: "/api/order/payOrder/add",
						data: JSON.stringify(json),
						el: el.currentTarget,
						success: function (data) {
							if (data.success) {
								location.href = "../../exchange/pay?from=" + flag + "&id=" + data.data.id + "&p=" + data.data
									.payAmount + "&tradeId=" + data.data.tradeId;
							} else {
								utils.alert("danger", data.msg)
							}
							self.submitDisabled = false
						}
					})
				}
			},
			filters: {
				formatImg: function (str) {
					return utils.formatImg(str);
				}
			}
		})



		$(document).on("click", "#address li", function (e) {
			var self = $(e.currentTarget);
			var id = self.attr("data-id");
			self.addClass("cur").siblings("li").removeClass("cur");

			var consignee = self.attr("consignee");
			var province = self.attr("province");
			var city = self.attr("city");
			var area = self.attr("area");
			var street = self.attr("street");
			var detail = self.attr("detail");
			var mobile = self.attr("mobile");
			detailVm.consignee = consignee
			detailVm.province = province
			detailVm.city = city
			detailVm.area = area
			detailVm.street = street
			detailVm.detail = detail
			detailVm.mobile = mobile
			detailVm.addressId = id
		})

		function activeVoucher(e) {
			var self = e || window.event;
			var id = $(self).attr("data-id");
			var goodsCounts = []
			for (var i = 0; i < detailVm.goodsList.length; i++) {
				var goodsList = detailVm.goodsList[i].goods
				for (var j = 0; j < goodsList.length; j++) {
					var good = goodsList[j]
					goodsCounts.push({
						goodsId: good.goodsId,
						goodsCount: good.quantity,
						skuId: good.goodsSku
					})
				}
			}
			var datas = JSON.stringify({
				couponsId: id,
				goodsCounts: goodsCounts
			})
			utils.ajax({
				url: '/api/userCenter/coupons/check',
				data: datas,
				success: function (data) {
					if ($(self).parent().hasClass('voucher0')) {
						$(".merchantVoucher").find('.activeVoucher').removeClass('activeVoucher');
						$('.voucher0').find('.activeVoucher').removeClass('activeVoucher');
						$(self).addClass('activeVoucher')
					} else if ($(self).parent().hasClass('merchantVoucher')) {
						$('.voucher0').find('.activeVoucher').removeClass('activeVoucher');
						$(self).parent().find('.activeVoucher').removeClass('activeVoucher');
						$(self).addClass('activeVoucher')
					}
					detailVm.totalGoodsPrice = countTotalGoodsPrice()
				}
			})
		}


		function countTotalGoodsPrice() {
			var totalGoodsPrice = 0;
			var totalFreightMoney = 0;
			for (var i = 0; i < detailVm.goodsList.length; i++) {
				totalFreightMoney += Number(detailVm.goodsList[i].freightMoney)
				for (var j = 0; j < detailVm.goodsList[i].goods.length; j++) {
					if (detailVm.goodsList[i].goods[j]) {
						totalGoodsPrice += Number(detailVm.goodsList[i].goods[j].quantity) * Number(detailVm.goodsList[i].goods[j]
							.skuPrice)
					}
				}
			}
			var num = getCouponsPrice()
			totalGoodsPrice -= num
			totalGoodsPrice = Number(totalGoodsPrice) + Number(totalFreightMoney)
			totalGoodsPrice = totalGoodsPrice >= 0 ? totalGoodsPrice : 0
			return utils.keepTwoDecimalFull(totalGoodsPrice);
		}

		function countGoodsNum() {
			var totalGoodsNum = 0;
			for (var i = 0; i < detailVm.goodsList.length; i++) {
				for (var j = 0; j < detailVm.goodsList[i].goods.length; j++) {
					if (detailVm.goodsList[i].goods[j].selected) {
						totalGoodsNum += Number(detailVm.goodsList[i].goods[j].quantity)
					}
				}
			}
			return totalGoodsNum
		}

		function countExpressPrice() {
			var len = 0;
			for (var i = 0; i < detailVm.goodsList.length; i++) {
				var hasSelected = false;
				for (var j = 0; j < detailVm.goodsList[i].goods.length; j++) {
					if (detailVm.goodsList[i].goods[j].selected) {
						hasSelected = true;
						break;
					}
				}
				var total = 0;
				for (var j = 0; j < detailVm.goodsList[i].goods.length; j++) {
					if (detailVm.goodsList[i].goods[j].selected) {
						total += Number(detailVm.goodsList[i].goods[j].skuPrice) * parseInt(detailVm.goodsList[i].goods[j].quantity)
					}
				}
				/*
				if(hasSelected && total < 88){
					len += Number(detailVm.goodsList[i].freightMoney);
				}
				*/
				len += Number(detailVm.goodsList[i].freightMoney);
			}
			return len;
		}
		//获取使用的优惠券
		function getCouponsPrice() {
			var s = 0
			if ($(".activeVoucher").length) {
				$.each($(".activeVoucher"), function (idx, item) {
					var val = $(item).attr('data-price');
					s += Number(val)
				});
			}
			return s;
		}
		//Sku获取价钱
		function getPrice(skuid, arr) {
			var price = 0
			$.each(arr, function (idx, item) {
				if (item.id == skuid) {
					if (goodsType == 1) {
						price = item.groupPrice
					} else if (goodsType == 2) {
						price = item.promotionPrice
					} else {
						price = item.price
					}
				}
			});
			return price;
		}
		//SkuID获取规格值
		function getSpecVal(id, goodsSkus, goodsSpecs) {
			var arr = []
			goodsSkus.forEach(function (data) {
				if (String(data.id) == String(id)) {
					arr = data.attrSymbolPath.split(',')
				}
			})
			var arr2 = []
			arr.forEach(function (data) {
				goodsSpecs.forEach(function (data1) {
					data1.goodsSpecsAttrs.forEach(function (data2) {
						if (String(data) == data2.symbol) {
							arr2.push({
								'specsName': data1.specsName,
								'attrValue': data2.attrValue
							})
						}
					})
				})
			})
			return arr2;
		}
	</script>

</body>

</html>