<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv='X-UA-Compatible' content='IE=Edge,chrome=1' />
<meta name="renderer" content="webkit">
<meta name="description" content="">
<meta name="keywords" content="">
<title><%= title %></title>
<link rel="shortcut icon" type="image/x-icon" href="../../dist/img/favicon.ico"/>
<link rel="bookmark" type="image/x-icon" href="../../dist/img/favicon.ico"/>
<link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_718775_m854kdemp1s.css"/>
<link rel="stylesheet" type="text/css" href="../../src/css/sprite.css"/>
<link rel="stylesheet" type="text/css" href="../../dist/css/all.css"/>
<link rel="stylesheet" type="text/css" href="../../src/js/vue/index.css"/>
<script src="../../dist/js/template.js"></script>
<script src="../../dist/js/lib.js"></script>
<script src="../../dist/js/v.js"></script>
<style>
.exchangeDetailDesc {padding: 20px 0;}
.exchangeDetailSecurity h3 {font-size: 22px;}
.exchangeDetailSecurity h3,
.exchangeDetailSecurity p {margin: 15px 0;}
.icon_collect{
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-bottom: -3px;
	background: url(../../src/img/exchange/collected.png) center center no-repeat;
	background-size: 100% 100%;
}
.authentication{
	display: inline-block;
	width: 86px;
	height: 22px;
	background: url('../../src/img/exchange/authentication.png') center center no-repeat;
	background-size: 100% 100%;
}
/*商品规格*/
.specification{
	line-height: 27px;
}
.specification .norms{
	    display: inline-block;
}
.specification .norms .norm{
	    border: 1px solid #CCCCCC;
    padding: 3px 12px;
    margin-left: 5px;
        position: relative;
    cursor: pointer;
}
.specification .norms .norm i{
	display: inline-block;
    	display: none;
    	width: 8px;
    	height: 8px;
    	background: url(../../src/img/jewelry/default_adress.png) no-repeat;
    	background-size: 100% auto;
    	position: absolute;
    	right: 0;
    	bottom: 0;
    }
.specification .norms .norm:hover{
	border-color: #E6B75B;
}
.specification .norms .norm.active{
	    border: 1px solid #E6B75B;
    padding: 3px 12px;
    margin-left: 5px;
}
.specification .norms .norm.active i{
	    display: block;
}
.specification,.goodsNum,.goodsStock{
	margin-right: 15px;
	margin-top: 6px;
}
.goodsStock .fl .el-input{
	width: 100px;
}
/*jqzoom*/
.jqzoom,#detail{
	position: relative;
	
}
.zoomdiv{
	z-index:100;
	position:absolute;
	top:0px;
	left:400px;
	width:370px;
	height:370px;
	 border:1px solid #e4e4e4;
	 display:block !important;
	 text-align:center;
	 overflow: hidden;
	 }
.bigimg{
	min-width:700px;
	height:700px;
	width:700px;
	}
.jqZoomPup{
	z-index:10;
	visibility:hidden;
	position:absolute;
	top:0px;left:0px;
	width:200px !important;
	height:200px !important;
	border:1px solid #aaa;
	background:#F5F5F5 50% top no-repeat;
	opacity:0.5;
	-moz-opacity:0.5;
	-khtml-opacity:0.5;
	filter:alpha(Opacity=50);cursor:move;
	}
#coupons_select{
	display: inline-block;
	width: 78px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	border: 1px solid #C2A347;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	background: #f5dab1;
	color: #e6a23c;
	-webkit-transform: translateY(4px);
	-moz-transform: translateY(4px);
	-ms-transform: translateY(4px);
	-o-transform: translateY(4px);
	transform: translateY(4px);
	margin-right: 10px;
	cursor: pointer;
}
#coupons{
	border: 1px dashed #E5E5E5;
	padding: 20px;
	margin-bottom: 20px;
}
#coupons button{
	border: none;
	padding: 5px;
	margin-right: 10px;
	color: #FFFFFF;
	background: #E6B75B;
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
}
#coupons button.poor{
	background: #CCCCCC;
}
#coupons button:hover{
	opacity: .7;
}
#goodsAttrs{
  margin: 20px;
  font-size: 16px;
}
#goodsAttrs table{
  width: 100%;
  text-align: center;
}
#goodsAttrs table, #goodsAttrs tr, #goodsAttrs td{
  border-color: #E0E0E0 !important;
}
#goodsAttrs td{
  padding: 10px 0;
}
</style>
</head>
<body class="">
	
	<%- include ../headerbar.ejs %>
	
	<%- include ../header.ejs %>
	
	<%- include ../headerNav.ejs %>
	
	<div id="main" class="main">
		
		<div class="container">
			<div class="router" id="router">
				<el-breadcrumb separator-class="el-icon-arrow-right">
				  	<el-breadcrumb-item><a href="../../">我的位置：首页</a></el-breadcrumb-item>
            <el-breadcrumb-item><a href="../../exchange/index">互换坊</a></el-breadcrumb-item>
				  	<el-breadcrumb-item>物品销售</el-breadcrumb-item>
				</el-breadcrumb>
			</div>
		</div>
		
		<div class="container">
			<div class="clearfix">
				<div class="fr exchangeDetailRight" id="businessInfo">
					<div class="opt clearfix">
						<a val='0' class="startBtn fs16 fl"><i class="iconfont icon-exchangeStar"></i>收藏</a>
						&emsp;
						<!--<a><i class="iconfont icon-exchangeShare"></i>分享</a>-->
						<div class="fr" style="height: 20px;">
							<%- include ../share_baidu.ejs %>
						</div>
					</div> 
					<div class="businessInfo">
						<h3>卖家信息</h3>
						<div style="padding: 0 10px 20px 10px;">
							<table>
								<tr>
									<td width="80">
										<img id="user_logo" src="../../src/img/icon_head@2x.png" width="60" height="60">
									</td>
									<td>
									  <p id="userName">
									  	<span v-if="userType == 4">{{shopName}}</span>
									  	<span v-else>{{nickname}}</span>
									  </p>
										<strong id="hsMarkUrl"></strong>
										<p v-if="userType != 4">已实名认证<span class="tag">证</span></p>
										<p v-if="userType == 4"><a class="authentication"></a></p>
									</td>
								</tr>
								<tr>
									<td><label>认证时间</label></td>
									<td id="authTime"></td>
								</tr>
								<tr>
									<td><label>发布商品</label></td>
									<td><span id="goodsCount"></span>件</td>
								</tr>
								<tr>
									<td><label>联系电话</label></td>
									<td id="mobilePhone"></td>
								</tr>
								<tr>
									<td colspan="2"><a class="btn btn-primary doyenDetail">查看个人详情</a></td>
									<td></td>
								</tr>
							</table>
						</div>
					</div>
					<div class="designLeftItem tc">
						<h2 class="title cursor" @click="NTKF.im_openInPageChat(keFuId)">
							<img src="../../src/img/kefu.png" width="25"/>联系商家
						</h2>
					</div>
					<div class="other">
						<h3>卖家其他销售商品</h3>
						<ul class="other-container">
							
						</ul>
					</div>
					<div class="recommend">
						<h3>同类商品推荐</h3>
						<ul class="hot-container">
							
						</ul>
					</div>
				</div>
				<div class="exchangeDetailLeft"  id="detail">
					<div class="clearfix" style="overflow:hidden;margin-bottom: 20px;">
						<div class="fl img jqzoom">
							<img src="" width="100%">
						</div>
						<div class="fl imgs">
							<ul>
								<li v-for="item in imgs">
									<a><img :src="item.imgUrl | formatImg" width="100%"></a>
								</li>
							</ul>
						</div>
						<div class="info">
							<div class="intro">
								<p>{{ goodsName }}</p>
							</div>
							<table>
								<tr class="priceWrap">
									<td>
										<label>售价</label>
										<span class="new-red fs14">￥<b class="fs20">{{ skuObj.price }}</b></span>
									</td>
									<td class="tr" colspan="3">
										<span class="gray">原价￥<del>{{ marketPrice }}</del></span>
									</td>
								</tr>
								<tr>
									<td><label>鉴定机构</label></td>
									<td class="tr" colspan="3">
										<span>{{ hsMark.hsMarkName }}<span class="tag">证</span></span>
									</td>
								</tr>
								<tr>
									<td><label>商品品牌</label></td>
									<td class="tr" colspan="3">
										<span>{{ brandName }}</span>
									</td>
								</tr>
								<tr>
									<td><label>新旧程度</label></td>
									<td class="tr">
										<span>{{ deprecition | formatDep }}</span>
									</td>
									<!--<td><label>所在地</label></td>
									<td class="tr">
										<span>广东深圳</span>
									</td>-->
								</tr>
								<tr class="hide">
									<td><label>交换方式</label></td>
									<td class="tr" colspan="3">
										<span>在线交换</span>
									</td>
								</tr>
								<tr class="demandWrao hide">
									<td><span>交换需求</span></td>
									<td class="tr" colspan="3">
										<span>{{ categoryName }}</span>
									</td>
								</tr>
							</table>
							<div>
								<div class="specification" v-for="(specs,specsIndex) in goodsSpecs" :key="specsIndex">
									<label>{{specs.specsName}}</label>
									<div class="norms">
										<span :class="['norm',{'active':item.active},'1'+item.active]" v-for="(item,index) in specs.goodsSpecsAttrs" :key="index" @click="handleNorm(item,index,specs,specsIndex)">{{item.attrValue}}<i></i></span>
										
									</div>
								</div>
							</div>
							<div class="goodsStock clearfix" style="height: 30px;">
								<p class="fl">
									<label>库存</label>
									<el-input v-model="skuObj.stock" size="mini" :disabled="true"></el-input>
								</p>
								<p class="fr">
									<label>购买数量</label>
									<el-input-number size="mini" v-model="goodsNumber" @change="handleChange" :min="1" max="skuObj.stock" label=""></el-input-number>
								</p>
							</div>
							<div class="opt">
								<span id="coupons_select" val="1" class="fs16">优惠券 <a>&and;</a></span>
								<a class="btn btn-warning toBuyBtn" v-if="skuObj.stock">立即购买</a>
								<a class="btn btn-default" v-if="!skuObj.stock">立即购买</a>
								<a class="btn btn-danger toCartBtn">加入购物车</a>
							</div>
						</div>
					</div>
					<div id="coupons" class="hide">
						<div v-if="coupons && coupons.length">
							<a  v-for="item in coupons"
								:key="item.id">
								<button v-if="item.poorCount > 0" 
									onclick="draw(this)" 
									:data-id="item.id">
									满{{item.couponsScale}}减{{item.couponsPrice}}
								</button>
								<button v-else>
									满{{item.couponsScale}}减{{item.couponsPrice}}
								</button>
							</a>
						</div>
						<div class="tc" v-else>
							暂无优惠券
						</div>
					</div>
					<div>
						<ul class="tabWrap clearfix">
							<li class="cur" target=".exchangeDetailDesc"><a>详情</a></li>
							<li target=".exchangeDetailAttr"><a>商品属性</a></li>
							<li target=".exchangeDetailComment"><a>评论<span class="red">(<span id="commentTotal">0</span>)</span></a></li>
							<li target=".exchangeDetailSecurity"><a>售后保障</a></li>
						</ul>
						<div>
							<div class="exchangeDetailDesc ue-view">
								<div class="columnVideo" v-if="videoUrl != ''">
									<video :src="videoUrl | formatImg" 
										width="" height="300" controls="controls">
										当前浏览器不支持 video直接播放
									</video>
								</div>
							</div>
							<div class="exchangeDetailAttr hide" id="goodsAttrs">
                <table border="1" cellspacing="0" cellpadding="0">
                  <tbody></tbody>
                </table>
              </div>
							<div class="exchangeDetailComment hide">
								<%- include ../goodsComments.ejs %>
							</div>
							<div class="exchangeDetailSecurity hide">
                <h3 class="fs16">权利声明：</h3>
                <p class="fs14">中宝协珠宝店内所有商品信息、客户评价、商品咨询、网友讨论等内容，是中宝协重要的经营资源，未经许可，禁止非法转载使用。</p>
                <p class="fs14">注：本站商品信息均来自于合作方，其真实性、准确性和合法性由信息拥有者（合作方）负责。本站不提供任何保证，并不承担任何法律责任。</p>
                <h3 class="fs16">中宝协承诺</h3>
                <p class="fs14">中宝协平台卖家销售并发货的商品，由平台卖家提供发票和相应的售后服务。请您放心购买！</p>
                <p class="fs14">注：因厂家会在没有任何提前通知的情况下更改产品包装、产地或者一些附件，本司不能确保客户收到的货物与商城图片、产地、附件说明完全一致。只能确保为原厂正货！并且保证与当时市场上同样主流新品一致。若本商城没有及时更新，请大家谅解！</p>
                <h3 class="fs16">正品行货</h3>
                <p>中宝协商城向您保证所售商品均为正品行货，由商家开具机打发票或电子发票。</p>
              </div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	
	<%- include ../footer.ejs %>

<script>
var id = utils.getUrlParam("id") || ''
var contentType = 1;
var routerVm = new Vue({
	el: "#router"
})
var businessInfo = new Vue({
	el: "#businessInfo",
	data:{
		keFuId: '',
		userType: '',
		shopName: '',
		nickname: ''
	}
})
/* *
 * 是否已收藏
 * source：1珠宝店,2互换销售订单, 5设计室, 6制造间, 7图文管
 * */
utils.checkCollect(id, 2, function(){
	$(".startBtn").attr("val","1")
	$('.startBtn').children("i").attr("class",'icon_collect')
})
$(function(){
	
	$(document).on("click", ".startBtn", function(){
		if(!utils.islogin()){
			utils.alert("danger","请登录后再进行操作！");
			return;
		}
		var val = $(this).attr("val");
		//source：1珠宝店,2互换销售订单, 5设计室, 6制造间, 7图文管
		if(val == '0'){
			//收藏
			utils.ajax({
				url: "/api/userCenter/collect/add/" + id+'/2',
				success: function(data){
					if(data.success){
						utils.alert("success", "收藏成功");
						$('.startBtn').attr("val","1");
						$('.startBtn').children("i").attr("class",'icon_collect')
					}else{
						utils.alert("danger", data.msg);
					}
				}
			})
		}else{
			//删除
			utils.ajax({
				url: "/api/userCenter/collect/delete/" + id+'/2',
				success: function(data){
					if(data.success){
						utils.alert("success", "您已取消收藏！");
						$('.startBtn').attr("val","0")
						$('.startBtn').children("i").attr("class",'iconfont icon-exchangeStar')
					}else{
						utils.alert("danger", data.msg);
					}
				}
			})
		}
	}).on("click", ".imgs li", function(e){
		//图片预览
		var self = $(e.currentTarget);
		var src = self.find("img").attr("src");
		self.addClass("cur").siblings().removeClass("cur");
		$(".img img").attr("src", src);
		$(".img img").attr("jqimg", src);
	}).on("click", ".toDetail", function(e){
		//点击去详情
		var self = $(e.currentTarget);
		var id = self.parents("li").attr("data-id");
		var swapble = self.parents("li").attr("data-swapble");
		if(swapble == 1){
		  location.href = "../../exchange/swap_detail?id=" + id;
		}else{
		  location.href = "../../exchange/sale_detail?id=" + id;
		}
		
	}).on("click", ".tabWrap li", function(e){
		//详情评论切换
		var self = $(e.currentTarget);
		var target = self.attr("target");
		self.addClass("cur").siblings().removeClass("cur")
		$(target).removeClass("hide").siblings().addClass("hide");
	}).on("click", ".toBuyBtn", function(){
		//立即购买
		if(utils.islogin()){
			var skuid = detailVm.skuObj.id
			location.href = "../../exchange/buy?flag=sale&skuid="+skuid+"&source=2&id=" + id + "&goodsNumber=" + detailVm.goodsNumber;
		}else{
			location.href = "../../login?from=" + encodeURIComponent(location.href);
		}
	}).on("click", ".toCartBtn", function(){
		//加入购物车
		if(utils.islogin()){
			var json = {
				goodsId: id,
				goodsSku: detailVm.skuObj.id,
				number: detailVm.goodsNumber,
				goodsSource: 2
			}
			utils.ajax({
				url: "/api/order/cart/add",
				data: JSON.stringify(json),
				success: function(data){
					utils.alert("success", "加入成功");
					utils.ajax({
						url: "/api/order/cart/list",
						type: "get",
						success: function(data){
							var len = 0
							var list = data.data.cartItemList;
							for(var i= 0; i<list.length; i++){
								len += list[i].goods.length
							}
							$("#carNum").text(len)
						}
					})
				}
			})
		}else{
			location.href = "../../login?from=" + encodeURIComponent(location.href);
		}
	}).on('click',"#coupons_select",function(){
		var val = $("#coupons_select").attr('val')
		if(val == '1'){
			$("#coupons_select a").html('&and;');
			$("#coupons_select").attr('val', '0')
			$("#coupons").addClass("hide")
		}else{
			$("#coupons_select a").html('v')
			$("#coupons_select").attr('val', '1')
			$("#coupons").removeClass("hide")
		}
	})
	
	
	
	
	
	var detailVm = new Vue({
		el: "#detail",
		data: function(){
			return {
				imgs: [],
				goodsName: "",
				price: "",
				marketPrice: "",
				hsMark: {
					hsMarkName: ""
				},
				goodsNumber: '',
				brandName: "",
				deprecition: "",
				categoryName: "",
				goodsSpecs:[],
				goodsSkus:[],
				skuObj:{},
				userId: '',
				coupons: [],
				videoUrl: ''
			}
		},
		mounted: function(){
			var self = this;
			utils.ajax({
				url: "/api/swap/portal/goods/sale_goods/info/" + id,
				type: "get",
				success: function(data){
					data = data.data;
					self.imgs = data.imgs;
					self.goodsName = data.goodsName;
					self.price = data.price;
					self.marketPrice = data.marketPrice;
					self.hsMark.hsMarkName = data.hsMark.hsMarkName
					self.brandName = data.brandName;
					self.deprecition = data.deprecition;
					self.categoryName = data.categoryName;
					businessInfo.userType = data.userType;
					businessInfo.keFuId = data.keFuId;
					self.userId = data.userId;
					self.coupons = data.coupons;
					self.videoUrl = data.videoUrl;
					
					setTimeout(function(){
						$(".imgs li:eq(0)").trigger("click");
					}, 0)
					
					getOther(data.userId);
					
					getHot();
					
					getDesc();
					
					getBusiness(data.userId)
					$(".jqzoom").jqueryzoom({
							xzoom:400,
							yzoom:400,
							offset:10,
							position:"right",
							preload:1,
							lens:1
						});
				  //商品属性
				  $.each(data.goodsAttrs,function(idx,item){
		            goodsAttrs += '<tr><td style="width: 150px">'+item.attrName+'</td><td>'+item.attrValue+'</td></tr>';
		          })
		          $("#goodsAttrs tbody").html(goodsAttrs);
					
					//商品规格
					function deepClone(obj){
					    var _obj = JSON.stringify(obj),
					        objClone = JSON.parse(_obj);
					    return objClone
					}    
					var goodsSpecs = deepClone(data.goodsSpecs);
					var symbolArr = []
					goodsSpecs.forEach((sub1,index1)=>{
						sub1.goodsSpecsAttrs.forEach((sub2,index2)=>{
							if(index2){
								sub2.active = false
							}else{
								sub2.active = true
								symbolArr.push(String(sub2.symbol))
							}
							
						})
					})
					self.goodsSpecs = goodsSpecs
					self.goodsSkus = data.goodsSkus
					self.getRepertory(symbolArr)
					
					//客服
					var uname = utils.getCookie('nickName') || ""
					var uid = utils.getCookie('userIdZBX') || ""
					var NTKF_PARAM = {
					    siteid:utils.getCookie('siteid'),     //企业ID，为固定值，必填
					    sellerid: 'zd_'+utils.kefuStr(data.keFuId),
					    settingid: data.keFuId,    //接待组ID，为固定值，必填
					    uid:uid,                              //用户ID，支持字母、数字、下划线。未登录可以为空，但不能给null，uid赋予的值在显示到小能客户端上
					    uname:uname,                            //未登录可以为空，但不能给null，uname赋予的值显示到小能客户端上
					    isvip:"0",                           //是否为vip用户，0代表非会员，1代表会员，取值显示到小能客户端上
					    userlevel:"0",                       //网站自定义会员级别，0-N，可根据选择判断，取值显示到小能客户端上
					    erpparam:"erp",                        //erpparam为erp功能的扩展字段，可选，购买erp功能后用于erp功能集成
					    itemid:data.id,                         //(必填)商品ID
					    itemparam:"2"                         //(选填)itemparam为商品接口扩展字段，用于商品接口特殊要求集成
					}
				}
			})
			//评论
			conmmentRender(1);
		},
		methods:{
			handleChange: function(val){
				if(val > this.skuObj.stock){
					this.goodsNumber = this.skuObj.stock
				}
			},
			getRepertory: function(symbolArr){
				var symbolStr = symbolArr.sort().join(",")
				this.goodsSkus.forEach((sub,index)=>{
					var arr = sub.attrSymbolPath.split(',').sort().join(',')
					if(arr === symbolStr){
						this.skuObj = sub
					}
				})
			},
			handleNorm: function(item,index,prevItem,prevIndex){
				item.active = true
				var symbolArr = []
				this.goodsSpecs.forEach((sub1,index1)=>{
					sub1.goodsSpecsAttrs.forEach((sub2,index2)=>{
						if(prevIndex == index1){
							if(index2 !== index){
								sub2.active = false
							}
						}
						if(sub2.active){
							symbolArr.push(String(sub2.symbol))
						}
					})
				})
				
				this.getRepertory(symbolArr)
			}
		},
		filters: {
			formatImg: function(src){
				return utils.formatImg(src);
			},
			formatDep: function(str){
				return utils.formatDep(str);
			}
		}
	})
	
	$('.doyenDetail').click(function(){
		location.href="doyen?id=" + detailVm.userId
	})
	
})

//卖家其他互换商品
function getOther(userId){
	utils.ajax({
		url: "/api/swap/portal/goods/sale_goods/user_goods_list",
		type: "get",
		data: {
			userId: userId
		},
		success: function(data){
			data = data.data;
			var html = '';
			for(var i = 0; i < data.length; i++){
				html += _template.exchangeHotItem({
					data: data[i]
				})
			}
			$(".other-container").html(html);
		}
	})
}

//侧边热卖
function getHot(){
	utils.ajax({
		url: "/api/swap/portal/goods/sale_goods/hot_list",
		type: "get",
		success: function(data){
			data = data.data;
			var html = '';
			for(var i = 0; i < data.length; i++){
				html += _template.exchangeHotItem({
					data: data[i]
				})
			}
			$(".hot-container").html(html);
		}
	})
}

//商品描述
function getDesc(){
	utils.ajax({
		url: "/api/swap/portal/common/goods_desc/" + id,
		type: "get",
		success: function(data){
			data = data.data;
			$(".exchangeDetailDesc").append(data.goodsDesc.replace(/pa95ui71l.bkt.clouddn/g, 'image.gacjc'));
		}
	})
}

//商家信息
function getBusiness(userId){
	utils.ajax({
		url: "/api/swap/portal/common/sale_user/info/" + userId,
		type: "get",
		success: function(data){
			data = data.data;
			console.log(data)
			var mobilePhone = utils.phoneHide(data.mobilePhone);
			businessInfo.shopName = data.shopName;
			businessInfo.nickname = data.nickname;
			$("#hsMarkUrl").html(data.hsMarkUrl);
			$("#authTime").html(new Date(data.authTime).format("yyyy-MM-dd"));
			$("#mobilePhone").html(mobilePhone);
			$("#goodsCount").html(data.goodsCount);
			if(data.user_logo){
				$("#user_logo").attr("src", data.user_logo);
			}
		}
	})
}
/**
 * 领取优惠券
 * */
function draw(e){
	var el = e || window.event; 
	var id = $(el).attr("data-id")
	if (!utils.islogin()){
		utils.alert('danger','请登录后再进行操作！');
		setTimeout(function(){
			window.location = '../login'
		},300)
		return false;
	}
	utils.ajax({
		url:"/api/userCenter/addCoupons/"+id,
		success:function(res){
			if(res.success) {
				utils.alert('success','已领取成功！');
			}else{
				utils.alert('danger',res.msg);
			}
		}
	});
}
</script>

</body>
</html>

