<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv='X-UA-Compatible' content='IE=Edge,chrome=1' />
<meta name="renderer" content="webkit">
<meta name="description" content="">
<meta name="keywords" content="">
<title><%= title %></title>
<link rel="shortcut icon" type="image/x-icon" href="../../dist/img/favicon.ico"/>
<link rel="bookmark" type="image/x-icon" href="../../dist/img/favicon.ico"/>
<link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_718775_m854kdemp1s.css"/>
<link rel="stylesheet" type="text/css" href="../../src/css/sprite.css"/>
<link rel="stylesheet" type="text/css" href="../../dist/css/all.css"/>
<link rel="stylesheet" type="text/css" href="../../src/js/vue/index.css"/>
<script src="../../dist/js/template.js"></script>
<script src="../../dist/js/lib.js"></script>
<script src="../../dist/js/v.js"></script>
<%- include swapCss.ejs %>
<style type="text/css">
.cateItem{
	width: 100%;
	padding-left: 50px;
	border-top: 1px dashed #E0E0E0;
}
.cateItemChildren{
	width: 1000px;
	background: #FFFFFF;
	padding: 10px 30px;
	margin-left: 50px;
	background: #FFFFFF;
	border: 1px solid #E0E0E0;
	border-radius: 3px;
}
.curs{color: #C2A374 !important;}
</style>
</head>
<body class="">
	
	<%- include ../headerbar.ejs %>
	
	<%- include ../header.ejs %>
	
	<%- include ../headerNav.ejs %>
	
	<div id="main" class="main">
		
		<div class="container">
			<div class="router" id="router">
				<el-breadcrumb separator-class="el-icon-arrow-right">
				  	<el-breadcrumb-item :to="{ path: '/' }">我的位置：互换坊</el-breadcrumb-item>
				  	<el-breadcrumb-item>物品销售</el-breadcrumb-item>
				</el-breadcrumb>
			</div>
		</div>
		
		<div class="container exchangeSearch" id="search">
			<table>
				<tr class="hide">
					<td width="90"><label>品牌：</label></td>
					<td class="brand-container">

					</td>
					<td></td>
				</tr>
				<tr>
					<td width="90"><label>分类：</label></td>
					<td class="category-container"  style="position: relative;">
						<a data-id="" class="category1 curs">全部</a>
						<template v-for="item in cateList">
							<a :data-id="item.id" class="category1">{{item.name}}</a>
						</template>
						<div class="cateItem" v-if="cateItemArr && cateItemArr.length">
							<a data-id="" id="category2" class="category2 curs">不限</a>
							<template v-for="citem in cateItemArr">
								<a :data-id="citem.id" class="category2">{{citem.name}}</a>
							</template>
						</div>
						<div class="cateItemChildren" v-if="cateItemChildrenArr && cateItemChildrenArr.length">
							<a data-id="" id="category3" class="category3 curs">不限</a>
							<a :data-id="ccitem.id" class="category3" v-for="ccitem in cateItemChildrenArr">{{ccitem.name}}</a>
						</div>
					</td>
					<td></td>
				</tr>
				<tr>
					<td width="90"><label>新旧程度：</label></td>
					<td class="newAndOld-container">
						
					</td>
					<td></td>
				</tr>
			</table>
			
			<div class="clearfix term" v-if="termData && termData.length">
				<h3 class="fl">搜索条件:</h3>
				<a v-if="termData[0].categoryName">
					<span>{{termData[0].categoryName}}</span>
					<i class="term-close" @click="termDel('categoryId', 0)">x</i>
				</a>
				<a v-if="termData[1].deprecitionName">
					<span>{{termData[1].deprecitionName}}</span>
					<i class="term-close" @click="termDel('deprecition', 1)">x</i>
				</a>
				<!--<a v-if="termData[2].searchWord">
					<span>{{termData[2].searchWordName}}</span>
					<i class="term-close" @click="termDel('searchWord', 2)">x</i>
				</a>-->
			</div>
			
			<div class="clearfix">
				<div class="fr clearfix">
					<div class="searchPage fr">
                        <a @click="toPrev()"><i class="iconfont icon-exchangePageLeft"></i></a>
                        <span>{{currentPage}}/{{totalPage}}</span>
                        <a @click="toNext()"><i class="iconfont icon-userAccountRight"></i></a>
                    </div>
				</div>
				<div class="clearfix">
					<ul>
						<li class="cur">
							<a>综合排序</a>
						</li>
						<li class="sortByPrice">
							<a>价格</a>
							<span class="caret-wrapper">
								<i class="sort-caret ascending"></i>
								<i class="sort-caret descending"></i>
							</span>
						</li>
						<li style="width: 220px;">
							<div class="searchPrice2">
								<div>
									<input type="text" class="startPrice" onkeyup="this.value=this.value.replace(/\D|^0/g,'')" onafterpaste="this.value=this.value.replace(/\D|^0/g,'')">
									<span>￥</span>
								</div>
								-
								<div>
									<input type="text" class="endPrice" onkeyup="this.value=this.value.replace(/\D|^0/g,'')" onafterpaste="this.value=this.value.replace(/\D|^0/g,'')">
									<span>￥</span>
								</div>
								<a class="btn btn-warning priceSearchBtn">确定</a>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		
		<div class="clearfix container">
			<div class="fr columnRight">
				<h3>热门商品</h3>
				<ul class="hot-container">
					
				</ul>
			</div>
			<div class="columnLeft">
				<p class="nosearch hide">很遗憾，未搜索到与<span class="red">“搜索词”</span>相关的商品，换个搜索词试试吧</p>
				<ul class="clearfix" id="list" style="overflow: hidden">
					
				</ul>
				<div id="pagination" class="pagination"></div>
			</div>
		</div>

	</div>
	
	<%- include ../footer.ejs %>
	
	<%- include commonJs.ejs %>
<script>
window.params = {
  current: 1,
  size: 40,
  search: search,
  brandId: "",
  categoryId: "",
  priceBegin: "",
  priceEnd: "",
  marketPrice: "",
  deprecition: "",
  userId: userid,
  swapble: 2
}
var searchId = utils.getUrlParam("searchId") || ""
var searchWord = utils.getUrlParam("searchWord") || ""
var temp = {}
var cateListWrap = []
//路由
var routerVm = new Vue({
	el: "#router"
})

//搜索
var searchVm = new Vue({
	el: "#search",
	data: {
		currentPage: 1,
    totalPage: 1,
    cateList: [],
    cateItemArr: [],
		cateItemChildrenArr:[],
		
		termData: [{
			categoryId:'',
			categoryName:''
		},{
			deprecition: '',
			deprecitionName:''
		}/*,{
			searchWord: searchWord,
			searchWordName:searchWord
		}*/]
	},
	mounted: function(){
		var self = this
		getBrand();
		
		getNewAndOld()
		
		getCategory(null, function(data){
			self.cateList = data
			cateListWrap = self.cateList
			getNode(self.cateList,searchId);
		});
		if(!!utils.getUrlParam("search")){
			this.termData = []
		}
	},
	methods: {
		toPrev: function(){
    	if(params.current>1){
    		var current = params.current - 1;
    		render(current);
    	}
    	
    },
    toNext: function(){
    	if(this.currentPage < this.totalPage){
    		var current = this.currentPage + 1;
    		render(current);
    	}
    },
    termDel: function(str, index){
    	if(index == 0){
    		this.termData[0].categoryId = ""
		    this.termData[0].categoryName = ""
    	}else if(index == 1){
    		this.termData[1].deprecition = ""
		    this.termData[1].deprecitionName = ""
    	}/*else if(index == 2){
    		this.termData[2].searchWord = ""
		this.termData[2].searchWordName = ""
    	}*/
    	params[str] = ""
    	render(1)
    	$('.category-container').find('.curs').removeClass('curs');
      $('.category-container').find('.category1:eq(0)').addClass('curs');
    }
	}
})
setTimeout(function(){
  if(searchId != ''){
    var self = $('.category1[data-id="'+temp.id+'"]');
    var val = self.attr("data-id");
    self.addClass("curs").siblings().removeClass("curs");
    
    searchVm.termData[0].categoryId = val
    searchVm.termData[0].categoryName = self.text()
    
    self.addClass("curs").siblings().removeClass("curs");
    $(document).find('.category2').removeClass("curs");
    $(document).find('.category3').removeClass("curs")
    if(val == ''){
      searchVm.cateItemArr = [];
      searchVm.cateItemChildrenArr = [];
    }else{
      $.each(searchVm.cateList, function(idx, data) {
        if(String(data.id) == val){
          searchVm.cateItemArr = data.children
          setTimeout(function(){
            $("#category2").attr("data-id", val)
          },20)
        }
      })
    }
    params.categoryId = val;
  }
},1000)
$(document).on("click", ".brand-container a", function(e){
	var self = $(e.currentTarget);
	var id = self.attr("data-id");
	self.addClass("cur").siblings().removeClass("cur");
	params.brandId = id;
	render(1)
	
}).on("click", ".newAndOld-container a", function(e){
	var self = $(e.currentTarget);
	var text = self.attr("data-id");
	
	searchVm.termData[1].deprecition = text
	searchVm.termData[1].deprecitionName = self.text()
	
	self.addClass("cur").siblings().removeClass("cur");
	params.deprecition = text;
	render(1)
}).on("click", ".priceSearchBtn", function(){
	var start = $.trim($(".startPrice").val());
	var end = $.trim($(".endPrice").val());
	if(start!= "" && end != ""){
		start = parseInt(start);
		end = parseInt(end);
		if(end < start){
			utils.alert("info", "请输入正确的价格区间");
			return;
		}
	}
	params.priceBegin = start;
	params.priceEnd = end;
	render(1);
}).on("click", ".sortByPrice", function(e){
	var self = $(e.currentTarget);
	if(!self.hasClass("descending")){
		self.addClass("descending").removeClass("ascending")
		params.marketPrice = 0;
	}else{
		self.removeClass("descending").addClass("ascending")
		params.marketPrice = 1;
	}
	params.current = 1;
	render(1);
}).on('click', '.category1', function(e){
	var self = $(e.currentTarget);
	var val = self.attr("data-id");
	
	searchVm.termData[0].categoryId = val
	searchVm.termData[0].categoryName = self.text()
	
	self.addClass("curs").siblings().removeClass("curs");
	$(document).find('.category2').removeClass("curs");
	$(document).find('.category3').removeClass("curs")
	if(val == ''){
		searchVm.cateItemArr = [];
		searchVm.cateItemChildrenArr = [];
	}else{
		$.each(searchVm.cateList, function(idx, data) {
			if(String(data.id) == val){
				searchVm.cateItemArr = data.children
				setTimeout(function(){
					$("#category2").attr("data-id", val)
				},20)
			}
		})
	}
	params.categoryId = val;
	render(1)
}).on('click', '.category2', function(e){
	var self = $(e.currentTarget);
	var val = self.attr("data-id");
	self.addClass("curs").siblings().removeClass("curs");
	$(document).find('.category3').removeClass("curs")
	$.each(searchVm.cateItemArr, function(idx, data) {
		if(String(data.id) == val){
			searchVm.cateItemChildrenArr = data.children
			setTimeout(function(){
				$("#category3").attr("data-id", val)
			},20)
		}
	});
	params.categoryId = val;
	render(1)
}).on('click', '.category3', function(e){
	var self = $(e.currentTarget);
	var val = self.attr("data-id");
	self.addClass("curs").siblings().removeClass("curs");
	params.categoryId = val;
	render(1)
})


var search = "";
if(!!utils.getUrlParam("search")){
	search = decodeURIComponent(utils.getUrlParam("search"));
	$(".searchType li[data-val='2']").addClass("cur").siblings().removeClass("cur")
	$(".search").val(search)
}
var userid = utils.getUrlParam("userid") || ""


/*
current		分页的页号，从1开始
size		每页显示数量
search		搜索词
swapble		1仅互换 (不传为全部可销售商品)
brandId		品牌ID
categoryId	分类 ID
priceBegin	最小价格
priceEnd	最高价格
deprecition	商品折旧  3, "三成以下"4, "四成新"5, "五成新"6, "六成新"7, "七成新"8, "八成新"9, "九成新"10, "全新"
 */
$(function(){
	getHot();
	
	$(document).on("click", ".toDetail", function(e){
		var self = $(e.currentTarget);
		var id = self.parents("li").attr("data-id");
		location.href = "../../exchange/sale_detail?id=" + id;
	})
	
	render(1)
})


function render(page){
	params.current = page
	utils.ajax({
		url: "/api/swap/portal/goods/sale_goods/list",
		type: "get",
		data: params,
		success: function(data){
			data = data.data;
			searchVm.currentPage = data.current
			searchVm.totalPage = data.pages
			if(data.total == 0){
				//没有数据
				$("#list").html("");
				$(".nosearch").removeClass("hide");
			}else{
				$(".nosearch").addClass("hide");
				var html = "";
				for(var i = 0; i < data.records.length; i++){
					html += _template.exchangeSwapItem({
						data: data.records[i]
					}) 
				}
				$("#list").html(html);
				
				if(params.current == 1 && data.pages > 1){
					$("#pagination").pagination({
						pageCount: data.pages,
					    jump: true,
					    coping: true,
					    prevContent: '<',
					    nextContent: '>',
					    callback: function (api){
					        render(api.getCurrent());
					    }
					});
				}
				
			}
		}
	})
}

var parentNode = null;
var node = null;
var pId = null;
function getNode(json, nodeId) {
    //1.第一层 root 深度遍历整个JSON
    for (var i = 0; i < json.length; i++) {
        if (node && node.parentId == 0) {
            break;
        }
        var obj = json[i];
        //没有就下一个
        if (!obj || !obj.id) {
            continue;
        }
        //2.有节点就开始找，一直递归下去
        if (obj.id == nodeId) {
            //找到了与nodeId匹配的节点，结束递归
            node = obj;
            pId = obj.parentId;
            if(pId != 0){
              familyTree(cateListWrap, pId);
            }
            break;
        } else {
            //3.如果有子节点就开始找
            if (obj.children) {
                //4.递归前，记录当前节点，作为parent 父亲
                parentNode = obj;
                //递归往下找
                getNode(obj.children, nodeId);
            } else {
                //跳出当前递归，返回上层递归
                continue;
            }
        }
    }
    if(node && node.parentId == 0){
      temp=node;
      params.categoryId = temp.id
      return temp;
    }
    //5.如果木有找到父节点，置为null，因为没有父亲  
    if (!node) {
        parentNode = null;
    }
    //6.返回结果obj
    /*return {
        parentNode: parentNode,
        node: node
    };*/
}
function familyTree(arr, pid) {
  var forFn = function(arr, pid) {
    for (var i = 0; i < arr.length; i++) {
      var item = arr[i];
      if (item.id == pid && item.parentId == 0) {
        temp=item;
        params.categoryId = temp.id
        return temp;
      }
    }
  };
  forFn(arr, pid);
}
</script>

</body>
</html>

