<!DOCTYPE html>
<html lang="zh">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv='X-UA-Compatible' content='IE=Edge,chrome=1' />
	<meta name="renderer" content="webkit">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<title>
		<%= title %>
	</title>
	<link rel="shortcut icon" type="image/x-icon" href="http://app.gacjc.com/app/download/favicon.ico" />
	<link rel="bookmark" type="image/x-icon" href="http://app.gacjc.com/app/download/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_718775_m854kdemp1s.css" />
	<link rel="stylesheet" type="text/css" href="../../src/css/sprite.css" />
	<link rel="stylesheet" type="text/css" href="../../dist/css/all.css" />
	<link rel="stylesheet" type="text/css" href="../../src/js/vue/index.css" />
	<link rel="stylesheet" type="text/css" href="../src/css/gallery_index_new_css/galleryActivity.css" />
	<script src="../../dist/js/template.js"></script>
	<script src="../../dist/js/lib.js"></script>
	<script src="../../dist/js/v.js"></script>
</head>
<style type="text/css">
	.router a {
		color: #999999;
		font-weight: 400;
		font-size: 14px;
		font-family: MicrosoftYaHei;
	}

	#routerTitle {
		font-size: 14px;
		font-family: MicrosoftYaHei;
		color: #333333;
	}
</style>

<body class="activityDatails-bd">
	<%- include headerbar %>

	<%- include header %>

	<%- include headerNav %>

	<div class="activity_datails">
		<div class="container">
			<div class="router" id="router">
				<el-breadcrumb separator-class="el-icon-arrow-right">
					<el-breadcrumb-item :to="{ path: '/' }">
						<a href="../../">我的位置：首页</a>
					</el-breadcrumb-item>
					<el-breadcrumb-item>
						<a :href="supTypeHref">{{supTxt}}</a>
					</el-breadcrumb-item>
					<el-breadcrumb-item><span id="routerTitle">活动详情</span></el-breadcrumb-item>
				</el-breadcrumb>
			</div>
		</div>
		<div class="datails_list" id="datails_list">
			<h1>{{list.title}}</h1>
			<div class="datails_freq">
				<div class="datails_time">
					<b>{{list.creationTime}}</b>
					<span>浏览次数：{{list.rate}}</span>
				</div>
				<div class="datails_num" @click.stop="linkNum($event,list.id)">
					<em></em><span class="browseNum">{{list.likeNum}}</span>
				</div>
			</div>
			<div class="datails_content">
				<p v-html="list.content"></p>
			</div>
		</div>
	</div>
	<%- include footer %>
	<script type="text/javascript">
		var supArr = { '1': '图文馆', '2': '珠宝店', '3': '设计室', '4': '制造间', '5': '互换坊', '6': '行业之声', '7': '珠宝展', '8': '直播厅' }
		var supType = utils.getUrlParam('supType');
		var supTypeHref = ''
		if (supType == '1') {
			$("#headerNav").find('.cur').removeClass('cur')
			$("#headerNav").find('li').eq(5).children('a').addClass('cur')
			supTypeHref = '../../gallery/index'
		} else if (supType == '2') {
			$("#headerNav").find('.cur').removeClass('cur')
			$("#headerNav").find('li').eq(1).children('a').addClass('cur')
			supTypeHref = '../../jewelry/index'
		} else if (supType == '3') {
			$("#headerNav").find('.cur').removeClass('cur')
			$("#headerNav").find('li').eq(3).children('a').addClass('cur')
			supTypeHref = '../../design/index'
		} else if (supType == '4') {
			$("#headerNav").find('.cur').removeClass('cur')
			$("#headerNav").find('li').eq(4).children('a').addClass('cur')
			supTypeHref = '../../manufacture/index'
		} else if (supType == '5') {
			$("#headerNav").find('.cur').removeClass('cur')
			$("#headerNav").find('li').eq(2).children('a').addClass('cur')
			supTypeHref = '../../exchange/index'
		}
		var routerVm = new Vue({
			el: "#router",
			data() {
				return {
					supTxt: supArr[supType],
					supTypeHref: supTypeHref
				}
			}
		})

		var name, value;
		function UrlSearch() {
			var str = location.href; //取得整个地址栏
			var num = str.indexOf("?")
			str = str.substr(num + 1); //取得所有参数   stringvar.substr(start [, length ]

			var arr = str.split("&"); //各个参数放到数组里
			for (var i = 0; i < arr.length; i++) {
				num = arr[i].indexOf("=");
				if (num > 0) {
					name = arr[i].substring(0, num);
					value = arr[i].substr(num + 1);
					this[name] = value;
				}
			}
		}
		UrlSearch();
		var datailsList = new Vue({
			el: "#datails_list",
			data() {
				return {
					list: "",
					liked: false
				}
			},
			created() {
				this.render()
			},
			methods: {
				render: function () {
					var self = this;
					utils.ajax({
						url: "/admin/gallery/activity/getGalleryActivityById/" + id,
						type: "get",
						success: function (data) {
							self.list = data.data;
						}
					})
				},
				linkNum: function (event, id) {
					if (!utils.islogin()) {
						utils.alert('danger', '请登录后再进行操作')
						return false
					}
					var type = window.location.href.split('#')[1]
					if (type == 0 && !this.liked) {
						var self = this;
						utils.ajax({
							url: "/admin/gallery/activity/updateIncrLikeNum?id=" + id,
							type: "post",
							success: function (data) {
								var browseBorw = document.querySelector('.datails_num');
								var browseNum = browseBorw.querySelector('.browseNum');
								browseNum.innerHTML++;
								self.liked = true
							}
						})
					} else {
						utils.alert('info', '您已点赞')
					}
				},
			},
			filters: {
				formatImg: function (src) {
					return utils.formatImg(src);
				}
			}
		})
	</script>
</body>

</html>