<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv='X-UA-Compatible' content='IE=Edge,chrome=1' />
<meta name="renderer" content="webkit">
<meta name="description" content="">
<meta name="keywords" content="">
<title><%= title %></title>
<link rel="shortcut icon" type="image/x-icon" href="../../dist/img/favicon.ico"/>
<link rel="bookmark" type="image/x-icon" href="../../dist/img/favicon.ico"/>
<link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_718775_m854kdemp1s.css"/>
<link rel="stylesheet" type="text/css" href="../../src/css/sprite.css"/>
<link rel="stylesheet" type="text/css" href="../../dist/css/all.css"/>
<link rel="stylesheet" type="text/css" href="../../src/js/vue/index.css"/>
<script src="../../dist/js/template.js"></script>
<script src="../../dist/js/lib.js"></script>
<script src="../../dist/js/v.js"></script>
</head>
<body class="comment-bd">
	
	<%- include headerbar %>
	
	<%- include header %>
	
	<%- include headerNav %>
	
	<input type="hidden" id="id" value="<%= data.id %>">
	
	<div id="main" class="main">
		<div class="container">
			<div class="router" id="router">
				<el-breadcrumb separator-class="el-icon-arrow-right">
				  	<el-breadcrumb-item :to="{ path: '/' }">我的位置：首页</el-breadcrumb-item>
				  	<el-breadcrumb-item>行业之声</el-breadcrumb-item>
				  	<el-breadcrumb-item><a id="title"></a></el-breadcrumb-item>
				  	<el-breadcrumb-item>评论详情</el-breadcrumb-item>
				</el-breadcrumb>
			</div>
			
			<div>
				
				<%- include commentPost %>
				
				<%- include commentList %>
				
			</div>
			
		</div>
	</div>
	
	<%- include footer %>
	


<script>

var id = $("#id").val();
var title = utils.getUrlParam("title");
$("#title").text(title).attr("href", ("../../news/detail/" + id + "?title=" + title));

var routerVm = new Vue({
	el: "#router"
})
utils.commentList({
	url: "/pc/industry/article/comment/list/" + id,
	data: {
		articleId: id,
		offset: 1,
		limit: 10
	},
	success: function(data){
		$(".totalCommentNum").text(data.total);
	}
})

$(document).on("click", ".commentPost .postBtn", function(){
	//发表评论
	var anonymous = $(".commentPost .checkbox").hasClass("checked") ? 2 : 1;
	var val = $.trim($(".commentPost textarea").val());
	var data = {
		articleId: id,
		content: val,
		anonymous: anonymous
	}
	utils.postComment({
		url: "/pc/industry/article/comment/add",
		data: data,
		succcess: function(data){
			
		}
	})
})

$(".loadMoreComment").on("click", function(e){
	var self = $(e.currentTarget);
	var curPage = parseInt(self.data("curPage"));
	var maxPage = parseInt(self.data("maxPage"));
	utils.loadMoreComment({
		url: "/pc/industry/article/comment/list/" + id,
		data: {
			articleId: id,
			offset: (curPage + 1),
			limit: 10
		},
		success: function(data){
			
		}
	});
});


</script>
</body>
</html>

