<!DOCTYPE html>
<html lang="zh">
<head>
		<meta charset="UTF-8" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv='X-UA-Compatible' content='IE=Edge,chrome=1' />
		<meta name="renderer" content="webkit">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<title>
			<%= title %>
		</title>
	    <link rel="shortcut icon" type="image/x-icon" href="http://app.gacjc.com/app/download/favicon.ico" />
	<link rel="bookmark" type="image/x-icon" href="http://app.gacjc.com/app/download/favicon.ico" />
		<link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_718775_m854kdemp1s.css" />
		<link rel="stylesheet" type="text/css" href="../../src/css/sprite.css" />
		<link rel="stylesheet" type="text/css" href="../../dist/css/all.css" />
		<link rel="stylesheet" type="text/css" href="../../src/js/vue/index.css" />
		<script src="../../dist/js/template.js"></script>
		<script src="../../dist/js/lib.js"></script>
		<script src="../../dist/js/v.js"></script>
		<style type="text/css">
		*{
			margin:0;
			padding: 0;
			list-style: none;
			font-family: "微软雅黑";
		}
		.newspublic_bd{
			width: 100%;
			height: 100%;
		   	background: #f8f8f8;
		}
		.news_public{
			width: 1200px;
			margin:0 auto;
			position: relative;
		}
		.news_public h1{
			font-size:26px;
			font-family:MicrosoftYaHei;
			font-weight:400;
			color:rgba(0,0,0,1);
			text-align: center;
			margin: 28px 0;
		}
		.news_public .public_content{
			width: 1200px;
			background: #fff;
			margin-top: 35px;
		}
		.new_bigbox{
			width: 800px;
			text-align: center;
		}
		.news_public .public_content h2{
			font-size:22px;
			font-family:MicrosoftYaHei;
			font-weight:400;
			color:rgba(51,51,51,1);
			padding:31px 0;
			text-align: center;
		}
		.news_public .public_content .public_time{
			display: flex;
			justify-content: space-between;
			padding: 13px 0;
		}
		.news_public .public_content .public_time p{
			margin-right: 20px;
		}
		.news_public .public_content .public_time p:nth-child(1){
			margin-left: 20px;
		    font-size: 14px;
		    font-family: MicrosoftYaHei;
		    font-weight: 400;
		    color: rgba(153,153,153,1);
		}
		.news_public .public_content .public_time p:nth-child(2) em{
			background: url(../../../src/img/news/new4.png) no-repeat;
			display: inline-block;
			width: 16px;
			height: 10px;
		}
		.news_public .public_content .public_time p:nth-child(2) span{
			margin-left: 5px;
			font-size: 14px;
		    font-family: MicrosoftYaHei;
		    font-weight: 400;
		    color: rgba(153,153,153,1);
		}
		.public_img{
			width: 800px;
			height: 532px;
			margin: 0 auto;
		}
		.public_img img{
			width: 800px;
			height: 532px;
		}
		.content_news{
			padding:29px 19px 31px;
			background: #fff;
			font-size:14px;
			font-family:MicrosoftYaHei;
			font-weight:400;
			color:rgba(51,51,51,1);
			line-height:21px;
		}
		</style>
</head>
<body class="newspublic_bd">
	    <%- include headerbar %>

		<%- include header %>

		<%- include headerNav %>
		<div class="container">
		<div class="router" id="router">
			<el-breadcrumb separator-class="el-icon-arrow-right">
			  	<el-breadcrumb-item :to="{ path: '/' }"><a href="../../">我的位置：首页</a></el-breadcrumb-item>
			  	<el-breadcrumb-item><a href="../../news/">行业之声</a></el-breadcrumb-item>
			  	<el-breadcrumb-item><span id="routerTitle">公告详情</span></el-breadcrumb-item>
			</el-breadcrumb>
		</div>
	</div>
		<div class="news_public" id="news_public">
			<div class="new_bigbox">
				<div class="public_content">
				<h2 v-text="publicList.title"></h2>
				<div class="public_time">
					<p v-text="'发布时间：'+publicList.createTime"></p>
					<p><em></em><span v-text="publicList.lookNum"></span></p>
				</div>
			</div>
		</div>
			<div class="content_news">
				<p v-html="publicList.content"></p>
			</div>
			<div style="position: absolute;bottom: 31px;right: 0;width: 100%;">
				<div class="bdsharebuttonbox"  style="position: absolute;right: 10px;"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_qzone" data-cmd="qzone"></a><a href="#" class="bds_tsina" data-cmd="tsina"></a><a href="#" class="bds_tqq" data-cmd="tqq"></a><a href="#" class="bds_renren" data-cmd="renren"></a><a href="#" class="bds_weixin" data-cmd="weixin"></a></div>
				<script>
					var myhref=window.location.href;
					window._bd_share_config={
						"common":{
								"bdSnsKey":{},
								"bdText":"",
								"bdUrl":myhref,
								"bdMini":"2",
								"bdStyle":"0",
								"bdSize":"16"
							},
							"share":{},
							"selectShare":{
								"bdContainerClass":null,
								"bdSelectMiniList":[
								"qzone","tsina","tqq","renren","weixin"
								]
								}
							};
							with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
				</script>
			</div>
		</div>
		<%- include newFooter %>
		<script type="text/javascript">
			var routerVm = new Vue({
				el: "#router"
			})
			var newsPublic = new Vue({
				el:"#news_public",
				data:function (){
					return{
						publicList:[]
					}
				},
				created:function (){
					this._list()
				},
				computed:{ 
					getIdes:function (){
						var res = location.href.split('/')
						return res[res.length-1]
					}
				},
				methods:{
					_list:function (){
						var _this=this;
						utils.ajax({
							url:"/pc/industry/notice/detail/"+_this.getIdes,
							type:"get",
							success:function(data){
								data.data.content = data.data.content.replace(/pa95ui71l.bkt.clouddn/g, 'image.gacjc')
								_this.publicList =data.data;
							}
						})
					},
					formatImg:utils.formatImg
				}
			})
		</script>
</body>
</html>