<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv='X-UA-Compatible' content='IE=Edge,chrome=1' />
  <meta name="renderer" content="webkit">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <title><%= title %></title>
  <link rel="shortcut icon" type="image/x-icon" href="http://app.gacjc.com/app/download/favicon.ico" />
	<link rel="bookmark" type="image/x-icon" href="http://app.gacjc.com/app/download/favicon.ico" />
  <link rel="stylesheet" type="text/css" href="../../dist/css/all.css" />
  <script src="../../dist/js/lib.js"></script>
  <style type="text/css">
    #main {
      margin-top: 30px;
    }

    #infoPanel {
      padding: 0 35px;
    }

    .refundable h3 {
      font-size: 20px;
      font-weight: bolder;
      letter-spacing: 5px;
      text-align: center;
      margin: 30px 0;
    }

    .refundable h1 {
      font-size: 20px;
      font-weight: bolder;
      margin: 30px 0;
    }

    .refundable p {
      font-size: 16px;
      line-height: 30px;
      color: #000000;
    }

    .head-middle p {
      color: #d2d2d2;
    }

    .userRightContent {
      margin-bottom: 50px;
    }

    .userInfoWrap {
      padding: 30px;
    }
  </style>
</head>

<body class="userAccount">
  <%- include ../../headerbar.ejs %>

  <%- include ../../headerNav.ejs %>
  <div id="main" class="main refundable">
    <div class="clearfix container">
      <div class="userLeftNav">
        <%- include ../agreement_left.ejs %>
      </div>
      <div class="userRightContent">
        <div class="userInfoWrap">

          <p align="center"><b>附件4：</b><b>中宝平</b><b>商品质量问题纠纷处理</b></p>
          <p><b>&nbsp;</b></p>
          <p>适用范围：本规则适用于中宝平：指入驻中宝平，使用中宝平及其包含的各板块提供的服务项目。</p>
          <p>
            当买卖双方由于商品质量问题产生纠纷时，买家应在售后规定的时间内发起售后退换货申请。如果商品属于&ldquo;三包&rdquo;(指法律法规规定的三包)保障范围内的，买家应当在相关规定时间内向卖家申请提供退货、换货或维修等相应的售后服务。
          </p>
          <p><b>一、&nbsp;&nbsp;质量问题的处理规则</b></p>
          <p>（1）如果卖家出售的商品确实存在质量问题的，买家可以申请售后退货退款、或换货，并且退换货产生的所有运费由卖家承担。如果卖家出售的商品没有质量问题的，卖家有权拒绝买家的退货退款要求。</p>
          <p>（2）如果卖家出售的商品存在危及人身财产安全的不合理危险，导致买家损失的，建议买家与卖家自行协商或通过其他途径解决，中宝平不介入该类纠纷处理。</p>
          <p>（3）如果买家在超过三包期限向中宝平或卖家提出关于质量问题的投诉，原则上中宝平不介入该类纠纷的处理，请买家注意。例如商品已经超出&ldquo;三包&rdquo;保障范围，建议买卖双方自行协商处理。</p>
          <p>
            （4）&nbsp;对于商品质量问题，客户需向卖家提供第三方质检机构出具的检测报告，若检测报告表明商品本身确实存在质量问题的，则卖家应接受退货或者换货申请。客户出具质检费用证明后，卖家应承担客户提供检测报告所需的全部费用。客户应妥善包装后退回商品，返回方式及地址以售后服务单审核为准，产生的退换货运费均由卖家承担；
          </p>
          <p>（5）对于高档首饰等附带国家级宝玉石鉴定中心出具的鉴定证书，客户收货后可到出具该证书的鉴定机构进行复检；</p>
          <p>
            （6）贵金属类商品因受测量环境、测量方式等外界因素影响，会导致测量结果与标识克重产生差异，该差异在国家发布的贵金属饰品质量标准规定的误差标准范围内的，以及因拍摄设备、光线、显示器等原因产生的色差问题，均不属于商品质量问题；
          </p>
          <p><b>二、质量问题的举证</b></p>
          <p>如果买家收到商品存在质量问题，买家申请中宝平介入纠纷处理，买家需要根据纠纷问题按照中宝平要求，提供相应的证明文件予以证明（如衣服开线、长短袖问题，需提供商品照片等）。</p>
          <p><b>三、质量问题的检测</b></p>
          <p>
            当买家提出所购买的商品存在质量问题并申请中宝平介入后，如卖家可以提供有效的证明文件（如权威机构出具的质量检测报告、产品合格证等证明所售商品质量合格的证明文件），如果买家对该文件存在异议的，此时可以根据中宝平的要求提供相应的检测证明文件。而送检的检测费用将根据检测报告结果进行判定。
          </p>
          <p>注：检测机构建议使用正规权威认证机构，非正规国家认证机构出具的检测报告将视为无效举证。</p>
          <table>
            <tbody>
              <tr>
                <td valign="center" width="242">
                  <p align="center"><b>检测</b></p>
                </td>
                <td valign="center" width="242">
                  <p align="center"><b>检测费用</b></p>
                </td>
                <td valign="center" width="242">
                  <p align="center"><b>检测中商品本身的损坏</b></p>
                </td>
                <td valign="center" width="241">
                  <p align="center"><b>送检运费</b></p>
                </td>
              </tr>
              <tr>
                <td valign="center" width="242">
                  <p align="center">商品存在质量问题</p>
                </td>
                <td valign="center" width="242">
                  <p align="center">卖家承担</p>
                </td>
                <td valign="center" width="242">
                  <p align="center">卖家承担</p>
                </td>
                <td valign="center" width="241">
                  <p align="center">卖家承担</p>
                </td>
              </tr>
              <tr>
                <td valign="center" width="242">
                  <p align="center">商品不存在质量问题</p>
                </td>
                <td valign="center" width="242">
                  <p align="center">买家承担</p>
                </td>
                <td valign="center" width="242">
                  <p align="center">买家承担</p>
                </td>
                <td valign="center" width="241">
                  <p align="center">买家承担</p>
                </td>
              </tr>
            </tbody>
          </table>
          <p><b>四、质量问题的相关运费纠纷处理</b></p>
          <p>交易中的运费争议，根据&ldquo;谁过错，谁承担&rdquo;的原则处理，但买卖双方协商一致的除外。具体运费纠纷，买家可查看《运费问题纠纷处理》。</p>
        </div>
      </div>
    </div>
  </div>

  <%- include ../../footer.ejs %>
  <script type="text/javascript">
    $("#rightBar").hide()
    $(".userLeftNav li li:eq(1)").addClass("cur")
  </script>
</body>

</html>