<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv='X-UA-Compatible' content='IE=Edge,chrome=1' />
  <meta name="renderer" content="webkit">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <title><%= title %></title>
  <link rel="shortcut icon" type="image/x-icon" href="http://app.gacjc.com/app/download/favicon.ico" />
	<link rel="bookmark" type="image/x-icon" href="http://app.gacjc.com/app/download/favicon.ico" />
  <link rel="stylesheet" type="text/css" href="../../dist/css/all.css" />
  <script src="../../dist/js/lib.js"></script>
  <style type="text/css">
    #main {
      margin-top: 30px;
    }

    #infoPanel {
      padding: 0 35px;
    }

    .refundable h3 {
      font-size: 20px;
      font-weight: bolder;
      letter-spacing: 5px;
      text-align: center;
      margin: 30px 0;
    }

    .refundable h1 {
      font-size: 20px;
      font-weight: bolder;
      margin: 30px 0;
    }

    .refundable p {
      font-size: 16px;
      line-height: 30px;
      color: #000000;
    }

    .head-middle p {
      color: #d2d2d2;
    }

    .userRightContent {
      margin-bottom: 50px;
    }

    .userInfoWrap {
      padding: 30px;
    }
  </style>
</head>

<body class="userAccount">
  <%- include ../../headerbar.ejs %>

  <%- include ../../headerNav.ejs %>
  <div id="main" class="main refundable">
    <div class="clearfix container">
      <div class="userLeftNav">
        <%- include ../agreement_left.ejs %>
      </div>
      <div class="userRightContent">
        <div class="userInfoWrap">

          <p align="center"><b>附件2：中宝平退货问题纠纷处理</b></p>
          <p align="center">&nbsp;</p>
          <p>适用范围：本规则适用于中宝平指入驻中宝平，使用中宝平及其包含的各板块提供的服务项目。</p>
          <p>交易过程中为保证买家在提出退货申请后，卖家能够及时收到退货，并及时的为买家提供相关的退货服务，买家在将商品退回卖家时需要遵守以下规则：</p>
          <p><b>一、</b><b>退</b><b>货地址</b></p>
          <p>买家应根据卖家售后服务单审核处理的退货地址进行退货，以避免卖家因无法收到退货商品，而无法处理退货。</p>
          <p><b>二、</b><b>退</b><b>货方式</b></p>
          <p>买家根据卖家做出的售后审核处理结果操作退货时，请根据卖家审核意见的要求寄回商品，买家不得使用货到付款方式支付运费（买卖双方达成一致，得到卖家同意的情况除外）。</p>
          <p><b>三、</b><b>退</b><b>货问题的处理原则</b></p>
          <p>1.买家根据商家做出的售后审核处理结果操作退货时，根据审核意见的要求寄回商品，买家不得使用货到付款方式支付运费（买卖双方达成一致，得到商家同意的情况除外）。买家寄回退货商品后，商家有收货的义务。</p>
          <p>2.有七天无理由退货的商品，需要买家退货的时候商品保持完好。</p>
          <p>3.任何经过佩戴（有磨损一律视为已佩戴商品）、私自改动、调整尺寸、或者有其他购买后人为方式损坏的商品，卖家有权不接受退货；</p>
          <p>4.定制类、投资类等影响二次销售的商品不支持退货。买家根据商家售后审核结果操作退货时，商品在退货过程中如因非商家原因导致损毁、丢失的（如物流损、丢件、丢失赠品等），商家有权拒绝买家的退货要求。</p>
          <p>
            5.买家提交售后退货申请后，如果卖家未在48小时内处理并提供退货地址，或者提供退货地址错误导致买家无法退货或退回商品后无法送达的，或者买家根据卖家售后审核结果操作退货后，卖家无正当理由拒绝签收商品的，买家有权直接申请订单退款处理，相关的退货运费由卖家承担。
          </p>
          <p>6.买家提交换货申请并得到卖家审核同意后，如卖家收到买家退回的商品后72小时内未再次为买家发货的，或逾期未对买家的退货服务单进行处理的，买家可申请中宝平介入纠纷处理。</p>
          <p><b>四、</b><b>退</b><b>货问题的举证问题</b></p>
          <p>买卖双方申请中宝平介入处理退货纠纷后，中宝平有权要求买卖双方就相关纠纷问题提供举证信息，用以核实纠纷问题，请买家遵守以下规则：</p>
          <p>1.如果卖家表示未收到退货，而买家确认已经退货的，中宝平将要求买家提供相关的证明（如快递发货单、签收底单等）进行核实。</p>
          <p>2.如果买家使用了货到付款的方式退货且表示是征得卖家同意的，中宝平将要求买家提供卖家同意买家使用货到付款方式的相关证明，如无法提供或者证明无效的，货到付款的运费需要由买家自行承担。</p>
          <p>3.退货过程中，如退货运费需要卖家承担，由买家先行垫付后要求卖家支付的情况，买家需要提供实际支付退货运费金额的证明（如快递面单），以便处理.</p>
          <p><b>五、</b><b>退</b><b>货相关运费的纠纷问题</b></p>
          <p>交易中的运费纠纷，根据&ldquo;谁过错，谁承担&rdquo;的原则处理，但买卖双方协商一致的除外。具体关于退货问题相应的运费争议，请您查看《运费问题纠纷处理》。</p>
        </div>
      </div>
    </div>
  </div>

  <%- include ../../footer.ejs %>
  <script type="text/javascript">
    $("#rightBar").hide()
    $(".userLeftNav li li:eq(5)").addClass("cur")
  </script>
</body>

</html>