<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv='X-UA-Compatible' content='IE=Edge,chrome=1' />
  <meta name="renderer" content="webkit">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <title><%= title %></title>
  <link rel="shortcut icon" type="image/x-icon" href="http://app.gacjc.com/app/download/favicon.ico" />
	<link rel="bookmark" type="image/x-icon" href="http://app.gacjc.com/app/download/favicon.ico" />
  <link rel="stylesheet" type="text/css" href="../../dist/css/all.css" />
  <script src="../../dist/js/lib.js"></script>
  <style type="text/css">
    #main {
      margin-top: 30px;
    }

    #infoPanel {
      padding: 0 35px;
    }

    .refundable h3 {
      font-size: 20px;
      font-weight: bolder;
      letter-spacing: 5px;
      text-align: center;
      margin: 30px 0;
    }

    .refundable h1 {
      font-size: 20px;
      font-weight: bolder;
      margin: 30px 0;
    }

    .refundable p {
      font-size: 16px;
      line-height: 30px;
      color: #000000;
    }

    .head-middle p {
      color: #d2d2d2;
    }

    .userRightContent {
      margin-bottom: 50px;
    }

    .userInfoWrap {
      padding: 30px;
    }
  </style>
</head>

<body class="userAccount">
  <%- include ../../headerbar.ejs %>

  <%- include ../../headerNav.ejs %>
  <div id="main" class="main refundable">
    <div class="clearfix container">
      <div class="userLeftNav">
        <%- include ../agreement_left.ejs %>
      </div>
      <div class="userRightContent">
        <div class="userInfoWrap">

          <p align="center"><b>中宝平纠纷处理总规则</b></p>
          <p align="center"><b>&nbsp;</b></p>
          <p>
            适用范围：本规则适用于中宝平：指入驻中宝平，使用中宝平及其包含的各板块提供的服务项目。
          </p>
          <p>&nbsp;</p>
          <p><b>
              一、总则
            </b></p>
          <p>
            （
            1）为促进开放、透明、分享、责任的新商业文明，为规范合同纠纷调解工作，及时解决合同纠纷，保护交易双方当事人的合法权益，根据国家法律法规规范，以及《中宝协云用户注册协议》等相关协议和规则制定本规则。
          </p>
          <p>
            （2）中宝平
            将基于普通人的判断，根据本规则的规定对买卖双方的纠纷做出处理。
            中宝平
            并非司法机关，对凭证/证据的鉴别能力及对纠纷的处理能力有限，中宝平
            不保证纠纷处理结果符合买家和(或)商家的期望，也不对依据本规则做出的纠纷处理结果承担任何责任。
          </p>
          <p>
            （3）处理纠纷期间，中宝平
            通过交易纠纷端口、电子邮件、短信或电话等方式向买卖双方发送的与纠纷处理相关的提示或通知。
          </p>
          <p>
            （4）中宝平
            有权随时变更本规则并在网站上予以公告。
          </p>
          <p><b>
              二、交易纠纷处理原则
            </b></p>
          <p>
            （1）买卖双方应当进行真实交易，不得进行以增加信用或销量为目的的虚假交易。
          </p>
          <p>
            （2）签收问题处理原则：
          </p>
          <p>1.买家应当在订单中向商家提供准确的收货地址和收货人信息。若买家需要变更订单中的收货地址或收货人信息的，应当征得商家的明确同意。
          </p>
          <p>2.买家在提供收货人信息时，可以选择本人或者他人作为收货人。买家选择他人作为收货人，视为买家本人签收，该收货人违反约定义务的，需要由买家承担相应责任。</p>
          <p>3.商家按照约定发货后，收货人有收货的义务，不得无正当理由拒绝签收商品。
          </p>
          <p>4.收货人可以本人签收商品或委托他人代为签收商品，收货人委托他人代收的行为视为收货人本人签收。
          </p>
          <p>5.收货人在签收商品时，应当对商品进行验收。特别是涉及商品及包装等表面一致的事项。
          </p>
          <p>
            本条所称&ldquo;表面一致&rdquo;，是指凭肉眼即可判断所收到的商品表面状况良好且与商品页面描述相符，包括但不限于货物的形状、大小、数量、重量等。
          </p>
          <p>6.收货人签收商品时发现表面不一致的情形，有权拒绝签收商品。对于承运人不支持先验货再签收的，买家可致电商家协商之后拒绝签收。
          </p>
          <p>7.收货人签收商品后，商品毁损、灭失的风险由商家转移给买家。
          </p>
          <p><b>
              三、签收问题纠纷处理
            </b></p>
          <p>
            （1）买家无理由拒绝签收商品的，交易订单（非货到付款）应做退款处理，相关发货及退货运费由买家承担。
          </p>
          <p>
            （
            2）若买家提供有效凭证证明签收时既已存在表面不一致情形并买家拒绝签收的，交易支持做退款处理，未拒绝签收的做退货退款处理；若买家无法有效举证的，商家有权不支持买家的退款或退货退款要求。
          </p>
          <p>
            （3）收货人无正当理由拒绝签收商品的，相关发货及退货运费由买家承担。非货到付款订单运费将在买家支付的货款中扣除；货到付款订单，买家应在拒收后的15日内向商家支付运费。
          </p>
          <p>
            （
            4）若买家填写的收货地址和(或)收货人信息不准确，或者未经商家同意要求变更收货地址或收货人信息，导致商家发货后无法送达的，相关未妥投（发货及商品退回的）运费由买家承担。
          </p>
          <p>
            关于签收问题相关的纠纷处理，具体可查看《签收问题的纠纷处理》
            。
          </p>
          <p><b>
              四、退换货处理原则
            </b></p>
          <p>
            （
            1）买家根据商家做出的售后审核处理结果操作退货时，根据审核意见的要求寄回商品，买家不得使用货到付款方式支付运费（买卖双方达成一致，得到商家同意的情况除外）。买家寄回退货商品后，商家有收货的义务。
          </p>
          <p>
            （2）有七天无理由退换货的商品，需要买家退货的时候商品保持完好。
          </p>
          <p>
            （3）任何经过佩戴（有磨损一律视为已佩戴商品）、私自改动、调整尺寸、或者有其他购买后人为方式损坏的商品，卖家有权不接受退换货；
          </p>
          <p>
            （4）定制类、投资类等影响二次销售的商品不支持退换货。
          </p>
          <p>
            买家根据商家售后审核结果操作退换货时，商品在退换货过程中如因非商家原因导致损毁、丢失的（如物流损、丢件、丢失赠品等），商家有权拒绝买家的退换货要求。
          </p>
          <p>
            关于签收问题相关的纠纷处理，具体可查看《退换货问题纠纷处理》。
          </p>
          <p><b>
              五、运费问题处理原则
            </b></p>
          <p>
            （
            1）买家以七天无理由形式退货或拒绝签收的，非包邮商品的发货及退货运费均由买家承担，非货到付款订单运费将在买家支付的货款中扣除；货到付款订单，买家应在拒收后的15日内向商家支付运费。若商品提供包邮服务，买家仅承担商品退货运费。商家和买家另有约定的，按照约定承担。
          </p>
          <p>
            （2）交易中的运费纠纷，根据&ldquo;谁过错，谁承担&rdquo;的原则处理，但买卖双方协商一致的除外。
          </p>
          <p>
            （3）关于签收问题相关的纠纷处理，具体可查看《运费问题纠纷处理》。
          </p>
          <p><b>
              六、发票问题处理原则
            </b></p>
          <p>
            三方商家商品，发票金额含配送费金额，另有说明的除外，发票开具和邮寄事项请联系商家确认。
          </p>
          <p>
            （
            1）如何获得普通纸质发票：下单时选择&ldquo;普通发票（纸质）&rdquo;自助开取，此发票可用作单位报销凭证，一个订单对应一张或多张发票，不同的物流中心发出的包裹开具不同的发票，发票会随每次包裹一同发出。
          </p>
          <p>
            （2）如何获得普通电子发票：下单时选择&ldquo;普通发票（电子）&rdquo;自助开取，订单完成后，系统会自动开具，用户可登陆
            中宝平
            个人账户，在订单详情页
            -付款信息页面下载。电子发票是税务局认可的有效收付款凭证，具有售后维权的法律效力，可用于单位报销使用。个人用户选择开具电子发票后无法换取个人抬头的普通纸质发票。
          </p>
          <p>
            （3）如何获得增值税发票：下单时选择&ldquo;增值税发票 &rdquo;自助开具。
          </p>
          <p>1.首次开具增值税专用发票的顾客，请填写开具增值税专用发票所需信息（也可以下单时直接填写增票信息）。</p>
          <p>2.填写完毕后，为等待审核状态。</p>
          <p>3.如需要修改、删除增票资质，直接在此页面修改、删除即可，无需上传资质证件。<br />
            注：有效增值税开票资质仅为一个。资质审核通过30天后方可进行删除。
          </p>
          <p>4.交易中的发票纠纷，正常商品买家可申请开具发票，除特殊标注商品以外。特殊商品买家需告知买家实情。买家在知晓实情后进行下单。</p>
          <p><b>
              七、举证责任
            </b></p>
          <p>
            （1）买家申请中宝平
            介入纠纷处理后，纠纷处理过程中，
            中宝平
            有权要求买家或商家提供证据证明，且有权单方判断证据的效力。
          </p>
          <p>
            （2）买家主张未收到货的，商家应对其未收到商品的情形承担举证责任。
          </p>
          <p>
            （3）买家签收商品后，因表面不一致产生纠纷的，买家对签收商品时即已存在表面不一致的情形承担举证责任。
          </p>
          <p>
            （4）针对申请中宝平
            介入、
            中宝平
            受理的各类型纠纷所需提供的证明文件，以
            中宝平
            要求及各类纠纷处理规范的内容为准。
          </p>
          <p>
            （5）中宝平
            作为独立第三方，仅对双方提交的证据进行形式审查，并作出独立判断，双方自行对证据的真实性、完整性、准确性和及时性负责，并承担不能举证的后果
          </p>
          <p><b>
              八、交易纠纷（先行赔付）处理程序
            </b></p>
          <p>
            （1）申请和受理
          </p>
          <p>1.买、卖双方就订单产生交易纠纷的，买卖双方可以选择自行协商，买卖双方协商未果的，则可以申请中宝平
            介入处理；同时买卖双方也可以通过司法途径等其他方式解决相应纠纷。
          </p>
          <p>
            由
            中宝平
            介入的，客服即有权根据纠纷规则对纠纷进行处理。
          </p>
          <p>2.买卖双方向中宝平
            申请纠纷处理，必须符合以下条件：
          </p>
          <p>
            买家购买的商品须为在
            中宝平
            上通过第三方支付机构、货到付款方式（该货到付款方式须符合
            中宝平
            相应规则及流程要求）或
            中宝平
            认可的其他支付方式购买的商品；
          </p>
          <p>
            （2）纠纷的处理
          </p>
          <p>1.中宝平
            处理纠纷期间，买卖双方应当按照
            中宝平
            交易纠纷端的提示和（或）
            中宝平
            发送的短信、电话或邮件通知及时提供凭证。
          </p>
          <p>2. 中宝平
            收集到双方提供的凭证后，将按照交易纠纷规则对相应纠纷做出处理；交易纠纷规则没有明确规定的，由
            中宝平
            依其独立判断做出处理。
          </p>
          <p>3.消费者发起针对商家的投诉或申请交易纠纷处理，并提出退赔申请。中宝平
            根据投诉问题类型进行判断，对于通过系统即可判断投诉成立（如发票管理）问题类型，
            中宝平
            依据优先赔付标准予以处理。
          </p>
          <p>
            任何一方无正当理由，未按照规定提供凭证的，
            中宝平
            有权按照实际收集到的凭证做出处理。
          </p>

          <!-- <div class="panel userPanel" id="infoPanel">
						<h3>中宝协云平台退换货问题纠纷处理</h3>
						<div>
							<p>适用范围：本规则适用于中宝协云平台指入驻中宝协云平台，使用中宝协云平台及其包含的各板块提供的服务项目。</p>
							<p>交易过程中为保证买家在提出退换货申请后，卖家能够及时收到退货，并及时的为买家提供相关的退换货服务，买家在将商品退回卖家时需要遵守以下规则：</p>
						</div>
						<div>
							<h1>一、退换货地址</h1>
							<p>买家应根据卖家售后服务单审核处理的退货地址进行退换货，以避免卖家因无法收到退货商品，而无法处理退换货。</p>
						</div>
						<div>
							<h1>二、退换货方式</h1>
							<p>买家根据卖家做出的售后审核处理结果操作退换货时，请根据卖家审核意见的要求寄回商品，买家不得使用货到付款方式支付运费（买卖双方达成一致，得到卖家同意的情况除外）。</p>
						</div>
						<div>
							<h1>三、退换货问题的处理原则</h1>
							<p>1.买家根据商家做出的售后审核处理结果操作退货时，根据审核意见的要求寄回商品，买家不得使用货到付款方式支付运费（买卖双方达成一致，得到商家同意的情况除外）。买家寄回退货商品后，商家有收货的义务。</p>
							<p>2.有七天无理由退换货的商品，需要买家退货的时候商品保持完好。</p>
							<p>3.任何经过佩戴（有磨损一律视为已佩戴商品）、私自改动、调整尺寸、或者有其他购买后人为方式损坏的商品，卖家有权不接受退换货；</p>
							<p>4.定制类、投资类等影响二次销售的商品不支持退换货。买家根据商家售后审核结果操作退换货时，商品在退换货过程中如因非商家原因导致损毁、丢失的（如物流损、丢件、丢失赠品等），商家有权拒绝买家的退换货要求。</p>
							<p>5.买家提交售后退换货申请后，如果卖家未在48小时内处理并提供退货地址，或者提供退货地址错误导致买家无法退货或退回商品后无法送达的，或者买家根据卖家售后审核结果操作退货后，卖家无正当理由拒绝签收商品的，买家有权直接申请订单退款处理，相关的退货运费由卖家承担。</p>
							<p>6.买家提交换货申请并得到卖家审核同意后，如卖家收到买家退回的商品后72小时内未再次为买家发货的，或逾期未对买家的退换货服务单进行处理的，买家可申请中宝协云平台介入纠纷处理。</p>
						</div>
						<div>
							<h1>四、退换货问题的举证问题</h1>
							<p>买卖双方申请中宝协云平台介入处理退换货纠纷后，中宝协云平台有权要求买卖双方就相关纠纷问题提供举证信息，用以核实纠纷问题，请买家遵守以下规则：</p>
							<p>1.如果卖家表示未收到退货，而买家确认已经退货的，中宝协云平台将要求买家提供相关的证明（如快递发货单、签收底单等）进行核实。</p>
							<p>2.如果买家使用了货到付款的方式退货且表示是征得卖家同意的，中宝协云平台将要求买家提供卖家同意买家使用货到付款方式的相关证明，如无法提供或者证明无效的，货到付款的运费需要由买家自行承担。</p>
							<p>3.退换货过程中，如退货运费需要卖家承担，由买家先行垫付后要求卖家支付的情况，买家需要提供实际支付退货运费金额的证明（如快递面单），以便处理.</p>
						</div>
						<div>
							<h1>交易中的运费纠纷，根据“谁过错，谁承担”的原则处理，但买卖双方协商一致的除外。具体关于退换货问题相应的运费争议，请您查看《运费问题纠纷处理》。</h1>
						</div>
					</div> -->
        </div>
      </div>
    </div>
  </div>

  <%- include ../../footer.ejs %>
  <script type="text/javascript">
    $("#rightBar").hide()
    $(".userLeftNav li li:eq(0)").addClass("cur")
  </script>
</body>

</html>