<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=Edge,chrome=1' />
    <meta name="renderer" content="webkit">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title><%= title %></title>
    <link rel="shortcut icon" type="image/x-icon" href="../../dist/img/favicon.ico" />
    <link rel="bookmark" type="image/x-icon" href="../../dist/img/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_718775_m854kdemp1s.css" />
    <link rel="stylesheet" type="text/css" href="../../src/css/sprite.css" />
    <link rel="stylesheet" type="text/css" href="../../dist/css/all.css" />
    <link rel="stylesheet" type="text/css" href="../../src/js/vue/index.css" />
    <script src="../../dist/js/template.js"></script>
    <script src="../../dist/js/lib.js"></script>
    <script src="../../dist/js/v.js"></script>
</head>
<style>
    .navLeftItem span {
        font-size: 16px;
        font-weight: bold;
        padding: 16px 0;
        display: inline-block;
        margin-left: 12px;
        margin-right: 34px;

    }

    .navLeftItem ul li {
        color: #999999;
        font-size: 14px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        margin-left: -30px
    }

    .navMy {
        width: 22px;
        height: 22px;
        margin-left: -16px;
    }

    .trade {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* .count {
        width: 7px;
        height: 14px;
    }

    .countx {
        width: 14px;
        height: 7px;

    } */


    .userinfo {
        width: 355px;
        height: 293px;
        margin-top: -15px;
        background: #fff;
        margin-left: 10px;
        border-radius: 10px;
        position: relative;
    }

    .userinfo_card {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        text-align: center;
    }

    .userinfo_card img {
        width: 124px;
        height: 124px;
        float: left;
        border-radius: 50%;
        margin-left: 10px;
    }

    .usernames {
        font-size: 30px;
        color: #333;
        font-weight: bold;
    }

    .userchen,
    .mobile,
    .userid {
        font-size: 14px;
        color: #999999;
        margin-top: 6px;
    }

    .userchen {
        margin: 10px 0 16px 0;
    }

    .marginleft {
        float: left;
        margin-left: 10px;
    }

    .marginleft p {
        text-align: left;
    }

    .userdescitem img {
        width: 100px;
        height: 100px;
    }

    .userdescitem {
        float: left;
        margin-left: 78px;
        margin-top: 42px;

    }

    .shoptext {
        color: #666;
        font-size: 16px;
        text-align: center;
        margin: 10px;
    }

    .shoptextbottom {
        color: #333;
        font-size: 20px;
        text-align: center;
    }

    .userdesc {
        width: 602px;
        height: 265px;
    }

    .mycollectlike {
        height: 278px;
    }

    .collect,
    .like {
        margin-top: 30px;
        /* float: left; */
        width: 49%;
        background: #fff;
        margin-left: 19px;
        height: 278px;
    }

    .collect_head {
        height: 60px;
        ;
    }

    .collect_head span {
        font-size: 16px;
        color: #333;
        margin-top: 20px;
        margin-left: 10px;

    }

    .collect_head span:nth-child(2) {
        font-size: 12px;
        color: #999999;
        margin-right: 36px;
    }

    .collectitem {
        margin-left: 10px;
        width: 140px;
        height: 194px;
        ;
        text-align: center;
        background: #F7F7F7;
    }

    .collectitem img {
        height: 122px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .collectitem p {
        color: #666;
        font-size: 12px;

    }

    .collectseed {
        margin-left: 0;
    }

    .collectitem p:nth-child(3) {
        color: #FB746E;
        margin: 10px 0 0 0;
        font-size: 14px;
    }

    .collectseed {
        width: 100%;
    }

    .collectseed .collectitem {
        margin-left: 18px;
    }

    .userAccount {
        background: #f4f4f4;
    }

    .orderStatus {
        width: 300px;
        height: 200px;
    }

    #orderList {
        background: #f7f7f7;
    }

    #orderList li {
        float: left;
        margin-left: 5px;
        background: #fff;
        margin: 12px 5px 0px;
    }

    .userRightContent {
        background: none;
    }

    .orderall {
        font-size: 14px;
        ;
        color: #666;
    }

    .order_state {
        color: #FB746E
    }

    .order_inner img {
        width: 90px;
        height: 90px;
        margin-left: 10px;
    }

    .orderdesc {
        font-size: 14px;
        ;
        color: #333;
    }

    .time {
        color: #AAAAAA;
        font-size: 12px;
    }

    .ordernum button {
        width: 100px;
        height: 30px;
        border: none;
        background: #fff;
        border: 1px solid #eee;
        margin-right: 15px;

    }

    .ordernum {
        line-height: 30px;
    }

    .order_head {
        height: 30px;
        padding: 10px;
    }

    .order_inner {
        height: 100px;
    }

    .orderdescinfo {
        height: 100px;
    }

    .orderdescinfo p {
        margin-top: 32px;
        margin-left: 20px;
    }

    .time {
        margin-top: 10px !important;
    }

    .numorder {
        margin-left: 10px;

    }

    #orderNav ul {
        border: none;
    }

    #orderNav {
        height: 38px;
        line-height: 20px;
    }

    #orderNav img {
        width: 6px;
        height: 10px;
    }

    .order {
        margin-top: 30px;
        background: #fff;
        padding: 20px;
    }

    .getmore {
        color: #AAAAAA;
        font-size: 14px;
        ;
    }

    #orderNav li {
        font-size: 14px;
        font-weight: 100 !important;
        color: #999999;
    }

    #orderNav li.cur {
        color: #333;
    }

    #orderNav li span {
        border-radius: 50%;
        background: #FB746E;
        position: absolute;
        top: -10px;
        right: -20px;
        color: #fff;
        font-size: 12px;
        width: 20px;
    }

    #orderNav a {
        position: relative;
    }

    #orderNav li.cur:after {
        content: "";
        position: absolute;
        top: 28px;
        left: 54px;
        border-bottom: 10px solid #f7f7f7;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
    }


    dd,
    dl,
    li,
    ol,
    ul {
        margin: 0;
        padding: 0;
    }

    .dw {
        font-size: 12px;
    }

    .nodata {
        width: 100%;
        height: 100%;
        line-height: 100%;
        text-align: center;
    }


    .userInfoWrap .avatar {
        width: 115.8px;
        height: 116.1px;
        cursor: pointer;
        position: relative;
    }

    .accountWrap {
        display: flex;
        align-items: center;
    }

    .nick {
        margin: -16px 14px 0 28px;
        width: inherit;
    }

    .realnames {
        margin-right: 10px;
    }

    .username {
        margin-right: 10px;
        margin-top: 10px;
    }

    .modify {
        font-size: 14px;
        color: #3B69AF;
        cursor: pointer;
        margin-left: 10px;
    }

    .mobilePhone {
        margin-right: 20px;
    }

    .LargeImg {
        width: 477px;
        height: 254px;
        background: #e3e3e3;
        margin-top: 30px;
    }

    .LargeImg img {
        width: 100%;
        height: 100%;
    }

    .Img100 {
        width: 100px;
        height: 100px;
        background: #e3e3e3;
        margin-top: 7px;
    }

    .saveImg {
        width: 140px;
        height: 40px;
        outline: none;
        border: none;
        background: #DF735A;
        line-height: 40px;
        text-align: center;
        color: #fff;
        margin-top: 60px;
        margin-left: 60px;

    }

    .el-dialog {
        width: 80%;
    }

    .uploadImg {
        width: 211px;
        height: 38px;
        line-height: 38px;
        outline: none;
        border: 1px solid #eee;
        background: #fff;
        margin-bottom: 10px;
        margin-left: 58px;
    }

    .uploadstyle {
        font-size: 14px !important;
        color: #333 !important;

    }

    .title {
        display: inline-block;
        width: 221px;
        margin: 20px 0;
        color: #999;
    }

    .Img50 {
        width: 50px;
        height: 50px;
        margin: 50px 0 10px 0;
        background: #e3e3e3;

    }

    .submitBtn {
        width: 140px;
        height: 40px;
        background: #DF735A;
        line-height: 40px;
        border: none;
        margin-left: 138px;
        color: #fff;
    }

    label {
        width: 80px;
        display: inline-block;
        text-align: right;
        margin-top: 15px;
    }

    .commonwrap {
        display: inline-block;
        margin-top: 14px;
    }

    .modifyIcon {
        font-size: 14px;
        position: absolute;
        bottom: 0px;
        left: 50%;
        transform: translate(-50%);
        color: #fff;
        background: #000;
        width: 100%;
        text-align: center;
        height: 22px;
        opacity: 0.7;
    }

    #clipArea {
        height: 300px;
        float: left;
        width: 540px;
        margin-left: 60px;
    }

    #file,
    #clipBtn {
        margin-left: 20px;
        border: none;
        width: 60px;
        height: 30px;
        background: #df735a;
        border-radius: 2px;
        color: #fff;
    }

    #clipBtn {
        position: absolute;
        left: 466px;
        top: 350px;
    }

    #view {
        width: 200px;
        height: 200px;
        float: left;
        margin-left: 60px;
    }

    .Imgcomtainer {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 20px;
        background: #fff;
        display: none;
        width: 1040px;
        z-index: 13;
    }

    .mask {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000;
    }

    .userAccount {
        width: 100%;
        position: absolute;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 999;
    }

    .close {
        width: 20px;
        height: 20px;
        float: right;
        cursor: pointer;
    }

    .shadon {
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        position: fixed;
        background: #000;
        opacity: .5;
        z-index: 12;
        display: none;
    }

    .cancel {
        background: #fff;
        color: #000;
        border: 1px solid #999;
    }

    [v-clack] {
        display: none;
    }
</style>

<body class="userAccount">

    <%- include ../headerbar.ejs %>
    <%- include userHeaderNav.ejs %>
    <%- include ../header.ejs %>


    <div class="container">
        <div class="router" id="router" v-clack>
            <el-breadcrumb separator-class="el-icon-arrow-right">
                <el-breadcrumb-item><a href="/">首页</a></el-breadcrumb-item>
                <el-breadcrumb-item><a href="/user/acc_info">个人中心</a></el-breadcrumb-item>
                <el-breadcrumb-item>账户信息</el-breadcrumb-item>
            </el-breadcrumb>
        </div>
    </div>
    <div id="main" class="main" style="background: #f4f4f4">
        <div class="clearfix container">
            <div class="userLeftNav">
                <%- include userLeftNav.ejs %>
            </div>
            <div class="userRightContent">
                <div class="userInfoWrap">
                    <!-- <div id="infoPanel" class="panel userPanel">
                        <div class="panel-header">
                            <div class="panel-title">个人信息</div>
                        </div>
                        <div class="panel-body">
                            <div>
                                <span class="avatar">
                                    <img width="100%" height="100%" class="userLogo"
                                        src="http://image.gacjc.com/pic_1RPgb0n8u6EpfTG_800_800.jpeg">
                                </span>
                                <p>
                                        用户名:
                                </p>
                            </div>
                            <form>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td></td>
                                            <td class="username">小溪</td>
                                        </tr>
                                        <tr>
                                            <td><label>用户姓名</label></td>
                                            <td class="realname">8239</td>
                                        </tr>
                                        <tr>
                                            <td><label>手机号码</label></td>
                                            <td><span class="mobilePhone">13500000000</span></td>
                                        </tr>
                                        <tr>
                                            <td><label>出生年月</label></td>
                                            <td><span class="birthday">暂无</span></td>
                                        </tr>
                                        <tr>
                                            <td><label>是否已婚</label></td>
                                            <td><span class="marriageState">暂无</span></td>
                                        </tr>
                                        <tr>
                                            <td><label>所在城市</label></td>
                                            <td><span class="region">暂无</span></td>
                                        </tr>
                                        <tr>
                                            <td><label>职业</label></td>
                                            <td><span class="occupation">暂无</span></td>
                                        </tr>
                                        <tr>
                                            <td><label>爱好</label></td>
                                            <td><span class="hobby">暂无</span></td>
                                        </tr>
                                        <tr>
                                            <td><label>注册时间</label></td>
                                            <td class="createTime">2019-06-04 09:23:15</td>
                                        </tr>
                                        <tr>
                                            <td colspan="2"><a class="btn btn-primary toEditPhoneBtn">修改</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </form>
                        </div>
                    </div> -->
                    <div class="panel userPanel" id="editPanel" style="display: block">
                        <div class="panel-header">
                            <div class="panel-title">基本资料</div>
                        </div>
                        <div class="panel-body" id="apply">
                            <form id="applyForm">
                                <div class="accountWrap">
                                    <span class="avatar">
                                        <img class="userLogo" width="100%" height="100%">
                                        <p class="modifyIcon">修改头像</p>
                                    </span>
                                    <label style="position: relative; top: 8px;font-size: 14px;" class="nick">昵称</label>
                                    <!-- <span class="realname commonwrap" style="margin:0"></span>
                                    <input type="text" class="realnames" name="realname" maxlength="10" placeholder="请输入"> -->
                                    <span class="nickname commonwrap" style="margin:0"></span>
                                    <input type="text" class="realnames" name="nickname" maxlength="10"
                                        placeholder="请输入昵称">
                                    <input type="hidden" name="userLogo" class="userLogoImg">
                                </div>
                                <table>
                                    <tr>
                                        <td><label>用户姓名:</label></td>
                                        <td>
                                            <!-- <div class="username">8239</div> -->
                                            <div class="realname" style="margin-top: 14px;">8239</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><label>手机号码:</label></td>
                                        <td>
                                            <span class="mobile commonwrap"></span>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="140"><label for="">出生年月:</label></td>
                                        <td style="width: 100px;">
                                            <span class="birthday commonwrap"></span>
                                            <div class="select w100" id="year" target="year">
                                                <input type="hidden" name="year" class="year">
                                                <div class="select-input">
                                                    <input type="text" placeholder="请选择" readonly="readonly">
                                                    <i class="show-options iconfont icon-selectDown"></i>
                                                </div>
                                                <div class="select-inner">
                                                    <div>
                                                        <ul>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="select w100" id="month" target="month">
                                                <input type="hidden" name="month" class="month">
                                                <div class="select-input">
                                                    <input type="text" placeholder="请选择" readonly="readonly"
                                                        datatype="*">
                                                    <i class="show-options iconfont icon-selectDown"></i>
                                                </div>
                                                <div class="select-inner">
                                                    <div>
                                                        <ul>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="select w100" id="day" target="day">
                                                <input type="hidden" name="day" class="day">
                                                <div class="select-input">
                                                    <input type="text" placeholder="请选择" readonly="readonly"
                                                        datatype="*">
                                                    <i class="show-options iconfont icon-selectDown"></i>
                                                </div>
                                                <div class="select-inner">
                                                    <div>
                                                        <ul>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <!--<tr>
										<td>
											<label>真实姓名</label>
										</td>
										<td colspan="3">
											
										</td>
										<td><span class="Validform_checktip"></span></td>
									</tr>-->
                                    <!-- <tr>
                                        <td>
                                            <label>性别</label>
                                        </td>
                                        <td colspan="3">
                                            <span class="commonwrap"></span>
                                            <label class="radio checked">
                                                <span class="radio-input">
                                                    <span class="radio-input-inner"></span>
                                                    <input type="radio" class="sex" name="sex" value="0"
                                                        checked="checked">
                                                </span>
                                                <span class="radio-label">男</span>
                                            </label>
                                            &emsp;
                                            <label class="radio" style="margin-left: 10px;">
                                                <span class="radio-input">
                                                    <span class="radio-input-inner"></span>
                                                    <input type="radio" class="sex" name="sex" value="1">
                                                </span>
                                                <span class="radio-label">女</span>
                                            </label>
                                        </td>
                                        <td></td>
                                    </tr> -->
                                    <tr>
                                        <td>
                                            <label>是否已婚:</label>
                                        </td>
                                        <td colspan="3">
                                            <span class="marriageState commonwrap"></span>
                                            <label class="radio1 checked" style="width: inherit;">
                                                <span class="radio-input">
                                                    <span class="radio-input-inner"></span>
                                                    <input type="radio" class="MarriageState" name="MarriageState"
                                                        value="1" checked="checked">
                                                </span>
                                                <span class="radio-label">是</span>
                                            </label>
                                            &emsp;
                                            <label class="radio1" style="width: inherit;">
                                                <span class="radio-input">
                                                    <span class="radio-input-inner"></span>
                                                    <input type="radio" class="MarriageState" name="MarriageState"
                                                        value="2">
                                                </span>
                                                <span class="radio-label">否</span>
                                            </label>
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td valign="top">
                                            <label style="position: relative;">所在城市:</label>
                                        </td>
                                        <td width="210" valign="top" class="clearfix" style="width: 500px;">
                                            <span class="region commonwrap"></span>
                                            <div class="w200 fl">
                                                <select name="provinceId" datatype="*" v-model="provinceValue">
                                                    <option v-for="item in province" :value="item.regionId">
                                                        {{item.regionName}}</option>
                                                </select>
                                            </div>
                                            <!-- <p class="Validform_checktip"></p> -->
                                            <div class="w200 fl">
                                                <select name="cityId" datatype="*" nullmsg="请选择所在地" v-model="cityValue"
                                                    errormsg="请选择所在地">
                                                    <option v-for="item in city" :value="item.regionId">
                                                        {{item.regionName}}</option>
                                                </select>
                                            </div>
                                            <!-- <p class="Validform_checktip"></p> -->
                                        </td>
                                        <!-- <td width="210" valign="top">
                                                
                                            </td> -->
                                        <!--<td valign="top">
                                            <div class="w200">
                                                <select name="countryId" datatype="*" 
                                                    nullmsg="请选择所在区" 
                                                    errormsg="请选择所在区">
                                                        <option v-for="item in country" :value="item.regionId">{{item.regionName}}</option>
                                                    </select>
                                                </div>
                                                <p class="Validform_checktip"></p>
                                            </td>-->
                                    </tr>
                                    <tr>
                                        <td valign="top">
                                            <label style="position: relative; ">职业:</label>
                                        </td>
                                        <td colspan="3">
                                            <span class="occupation commonwrap"></span>
                                            <select id="occupation" name="occupation">
                                                <option :value="item" v-for="item in Occupation">{{item}}</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td valign="top">
                                            <label style="position: relative; ">爱好:</label>
                                        </td>
                                        <td colspan="3">
                                            <span class="hobby commonwrap"></span>
                                            <input type="text" class="hobby" name="hobby" maxlength="20"
                                                placeholder="请输入">
                                            <!-- <span class="Validform_checktip"
                                                style="position: relative; top: 4px;"></span> -->
                                        </td>
                                        <td valign="top">

                                        </td>
                                    </tr>
                                    <tr>
                                        <td><label style="margin-top: 0;">注册时间:</label></td>
                                        <td class="createTime"></td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <a class="btn  submitBtn" @click.stop="edit" v-if="comfirmBtn">编辑</a>
                                            <div v-else>
                                                <a class="btn  submitBtn" id="submitBtn" @click="submit($event)">提交</a>
                                                <a class="btn  submitBtn cancel" @click="cancel">取消</a>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="Imgcomtainer clearfix">
                <div class="fl">
                    <button class="uploadImg" @click="uploadImgFile">上传头像图片</button>
                    <p>仅支持JPG.GIF,PNG,JPEG,BMP格式，文件小于4M</p>
                    <div class="LargeImg">
                        <img src="" ref="LargePic" alt="" id="LargePic">
                    </div>
                </div>
                <div class="fl" style="margin-left: 130px;">
                    <p class="uploadstyle"> 效果预览</p>
                    <span class="title">你上传的图片会自动生成2种尺寸，请注意小尺 寸的头像是否清晰</span>
                    <div class="Img100">
                        <img src="" ref="M100Pic" alt="" id="M100Pic">
                    </div>
                    <p>100*100像素</p>
                    <div class="Img50">
                        <img src="" ref="M50Pic" alt="" id="M50Pic">
                    </div>
                    <p>50*50像素</p>
                </div>
            </div>
            <button class="saveImg" @click="save">保存</button> -->
        <div class="shadon"></div>
        <div class="dialogn">
            <div class="Imgcomtainer clearfix">
                <div class="">
                    <div><img src="/src/img/hx_img/close_icon.png" class="close" alt=""></div>
                    <button class="uploadImg" onclick="uploadImgFile()">上传头像图片</button>
                    <p style="margin-left: 56px;margin-bottom: 20px;">仅支持JPG.GIF,PNG,JPEG,BMP格式，文件小于4M</p>
                    <div>
                        <div id="clipArea"></div>
                        <input type="file" id="file" class="cipe" style="display: none;">
                        <button id="clipBtn">截取</button>
                        <div id="view"></div>
                    </div>
                    <button class="saveImg" @click="save">保存</button>
                </div>
            </div>

        </div>
        </el-dialog>
    </div>

    <%- include ../footer.ejs %>
    <form id="form1" class="hide" method="post" enctype="multipart/form-data">
        <input type="file" name="cloudfile" accept="image/*" onchange="uploadGoodsImg(this)">
    </form>


    <script src="/src/js/iscroll-zoom.js"></script>
    <script src="/src/js/hammer.js"></script>
    <script src="/src/js/lrz.all.bundle.js"></script>
    <script src="/src/js/jquery.photoClip.js"></script>
    <script>
        function uploadImgFile() {
            $(".cipe").click()
        }
        $(".userLeftNav li[data-target='accUserinfo']").addClass("cur");
        $(".commonwrap").siblings().hide()
        $(".avatar,.nick").show()
        function modify(_this) {

        }
        var routerVm = new Vue({
            el: "#router"
        })
        /* ---------------------------------------------*/
        var applyVm = new Vue({
            el: "#main",
            data: {
                province: [],
                updatemobile: false,
                city: [],
                country: [],
                orderitem: [],
                comfirmBtn: true,
                cityValue: 0,
                provinceValue: 0,
                userLike: [{ backgroungImg: '/src/img/kefu.png', merchantName: "wwwww" }],
                usercollect: [],
                Occupation: ["IT", "通信", "电子", "销售", "客服", "技术支撑", "会计", "金融", "银行", "保险", "生产", "营运", "采购", "物流", "生物", "制药", "医疗", "护理", "广告", "市场", "媒体", "艺术", "建筑", "房地产", "人事", "行政", "高级管理", "咨询", "法律", "教育", "科研", "服务业", "演员", "模特", "公务员", "翻译", "其他"]
            },
            mounted: function () {
                var self = this;
                window.applyValidform = $(".userInfoWrap form").Validform({
                    tiptype: 2
                })
                $.Tipmsg.r = "";
                utils.ajax({
                    url: "/admin/region/list/0",
                    type: "get",
                    success: function (data) {
                        data = data.data;
                        self.province = data;
                        setTimeout(function () {
                            $("[name='provinceId']").trigger("change")
                        }, 100)
                    }
                })
            },
            methods: {
                uploadImgFile() {
                    $("#form1 input").trigger("click");
                },
                save() {
                    $("#editPanel .avatar img").attr('src', $(".userLogoImg").attr("src"));
                    $("#form1 input").val("");
                    $(".Imgcomtainer ,.shadon").hide()
                },
                edit() {
                    $(".commonwrap").hide().siblings().show();
                    $(".mobile").show()
                    this.comfirmBtn = !this.comfirmBtn
                },
                submit(e) {
                    var str = $(".userInfoWrap form").serialize();
                    str = utils.str2json(str);
                    str.userLogo = $("#editPanel .avatar img").attr('src');
                    str.birthday = ($(".year").val() && $(".month").val() && $(".day").val()) ? ($(".year").val() + "-" + $(".month").val() + "-" + $(".day").val()) : "";
                    str.marriageState = $("#editPanel .MarriageState[name='MarriageState']:checked").val();
                    str.userProvince = $("[name='provinceId'] option:selected").val();
                    str.userCity = $("[name='cityId'] option:selected").val();
                    //	str.provinceId: ,
                    //str.provinceName= $("[name='provinceId'] option:selected").text(),
                    //str.cityName= $("[name='cityId'] option:selected").text(),
                    //		str.cityId: ,
                    //str.countryName= $("[name='countryId'] option:selected").text(),
                    // countryId: $("[name='countryId'] option:selected").val(),
                    str.region = $("[name='provinceId'] option:selected").text().trim() + $("[name='cityId'] option:selected").text().trim()

                    utils.ajax({
                        url: "/api/userCenter/info/update",
                        data: JSON.stringify(str),
                        el: e.target,
                        success: function (data) {
                            if (data.success) {
                                utils.alert("success", "保存成功");
                                setTimeout(() => {
                                    location.reload();
                                }, 1000)
                            } else {
                                utils.alert("danger", data.msg);
                            }
                        }
                    })
                },
                cancel() {
                    $(".commonwrap").show().siblings().hide();
                    $(".avatar,.nick").show()
                    this.comfirmBtn = !this.comfirmBtn
                }
            },
            filters: {

            },
        })
        $(function () {
            $(document).on("change", "[name='provinceId']", function () {
                utils.ajax({
                    url: "/admin/region/list/" + applyVm.provinceValue,
                    type: "get",
                    success: function (data) {
                        data = data.data;
                        applyVm.city = data
                        setTimeout(function () {
                            $("[name='cityId']").trigger("change")
                        }, 100)
                    }
                })
            })
        })
        /* ---------------------------------------------*/
        var validform = $(".userInfoWrap form").Validform({
            tiptype: 2
        });
        $.Tipmsg.r = "";
        $(function () {
            getYear();
            //获取用户信息
            utils.ajax({
                url: "/api/userCenter/info",
                type: "get",
                success: function (data) {
                    data = data.data;
                    var src = "../../src/img/avatar.jpg";
                    if (data.userLogo) {
                        src = utils.formatImg(data.userLogo)
                        sessionStorage.setItem('userLogo', data.userLogo)
                    }
                    data.nickname && $(".usernames").html(data.nickname)
                    $(".mobile").html(data.mobilePhone.substr(0, 3) + "****" + data.mobilePhone.substr(7))
                    $(".userinfo_card_inner img").attr("src", data.userLogo)
                    $(".userid").html("用户ID：" + data.id)
                    $(".bnum").html(data.mesNum)
                    $(".coupus").html(data.couponNum)
                    $(".userLogo").attr("src", src);
                    if (data.userType === 1) {
                        $(".money").html(0)
                        // _GetUserLike(data.id)
                    }
                    else {

                        getcompany(data.id)
                        var cctv = true;
                        // _GetUserLike(data.id)
                    }
                    $("input[name='userLogo']").val(data.userLogo);
                    $("#editPanel .nickname").text(data.nickname);
                    // $(".logined span").html('<a class="link" href="../../user/acc_info">会员【' + data.nickname + '】</a>，您好！');
                    $("#editPanel .mobilePhone").text(data.mobilePhone);
                    $("#editPanel .username").text(data.nickname)
                    $("#editPanel .createTime").text(data.createTime);
                    applyVm.provinceValue = data.userProvince
                    applyVm.cityValue = data.userCity
                    $("[name='provinceId']").trigger("change")
                    //真实姓名  
                    var realname = data.realname
                    if (realname.length <= 0) {
                        $("#editPanel .realname").text('暂无');
                    } else {
                        $("#editPanel .realname").text(data.realname);
                    }
                    //邮箱
                    var email = data.email
                    if (email.length <= 0) {
                        $("#editPanel .email").text('暂无');
                    } else {
                        $("#editPanel .email").text(data.email);
                    }
                    //职业
                    var occupation = data.occupation
                    if (occupation.length <= 0) {
                        $("#editPanel .occupation").text('暂无');
                    } else {
                        $("#editPanel .occupation").text(data.occupation);
                    }
                    //爱好
                    var hobby = data.hobby
                    if (hobby.length <= 0) {
                        $("#editPanel .hobby").text('暂无');
                    } else {
                        $("#editPanel .hobby").text(data.hobby);
                    }
                    //地址
                    var region = data.region
                    if (region.length <= 0) {
                        $("#editPanel .region").text('暂无');
                    } else {
                        $("#editPanel .region").text(data.region);
                    }
                    //生日
                    var birthday = data.birthday
                    if (birthday.length <= 0) {
                        $(" .birthday").text('暂无');
                    } else {
                        $(" .birthday").text(data.birthday);
                    }
                    //是否已婚
                    var marriageState = data.marriageState
                    if (marriageState === 1) {
                        $("#editPanel .marriageState").text('已婚');
                    } else if (marriageState === 2) {
                        $("#editPanel .marriageState").text('未婚');
                    } else {
                        $("#editPanel .marriageState").text('暂无');
                    }
                    if (data.nickname) {
                        $("#editPanel .nickname").val(data.nickname);
                        utils.setCookie('nickName', data.nickname)
                    }
                    if (data.realname) {
                        $("#editPanel .realname").val(data.realname);
                    }
                    if (data.sex) {
                        $("#editPanel .sex[value='" + data.sex + "']").parents(".radio").trigger("click");
                    }
                    if (data.birthday) {
                        var arr = data.birthday.split("-");
                        $("#year li[data-val='" + arr[0] + "']").trigger("click");
                        $("#month li[data-val='" + arr[1] + "']").trigger("click");
                        $("#day li[data-val='" + arr[2] + "']").trigger("click");
                    }
                    if (data.marriageState) {
                        $("#editPanel .MarriageState[value='" + data.marriageState + "']").parents(".radio1").trigger("click");
                    }
                    if (data.occupation) {
                        $("#editPanel #occupation").val(data.occupation)
                    }
                    if (data.hobby) {
                        $("#editPanel .hobby").val(data.hobby)
                    }
                }
            })
            function getcompany(id) {
                utils.ajax({
                    type: "get",
                    url: '/admin/drawMoneyrecord/count?merchantId=' + id,
                    success: function (res) {
                        $(".money").html("<span class='dw'>￥</span>" + res.data.amount)


                    }

                })
            }
            $(".toEditPhoneBtn").on("click", function () {
                //window.location.href = "../user/acc_phone/0";
                $("#editPanel").hide();
                $("#editPanel").show();
            });

            //提交
            // $("#submitBtn").on("click", function () {

            // });


            $(".year").on("change", function () {
                getMonth();
                if ($(".month").val() != "") {
                    var month = parseInt($(".month").val());
                    var year = parseInt($(".year").val());
                    var date = new Date(year, month, 0);
                    getDate(date.getDate());
                }
            });

            $(".month").on("change", function (e) {
                var month = parseInt($(".month").val());
                var year = parseInt($(".year").val());
                var date = new Date(year, month, 0);
                getDate(date.getDate());

            })

            $(document).on("click", "#editPanel .avatar", function (e) {
                // $("#form1 input").trigger("click");
                $(".Imgcomtainer,.shadon").show();
                applyVm.comfirmBtn = false
            })

        })


        //年
        function getYear() {
            var nowYear = new Date().getFullYear();
            var maxYear = nowYear;
            var minYear = nowYear - 81
            var html = "";
            for (var i = minYear; i < maxYear; i++) {
                html += '<li data-val="' + i + '">' + i + '年</li>'
            }
            $("#year ul").html(html);
        }
        //月
        function getMonth() {
            var html = "";
            for (var i = 1; i <= 12; i++) {
                var val = i;
                if (val < 10) {
                    val = "0" + i;
                }
                html += '<li data-val="' + val + '">' + i + '月</li>'
            }
            $("#month ul").html(html);
        }
        //日
        function getDate(maxDay) {
            var html = "";
            for (var i = 1; i <= maxDay; i++) {
                var val = i;
                if (val < 10) {
                    val = "0" + i;
                }
                html += '<li data-val="' + val + '">' + i + '日</li>'
            }
            $("#day ul").html(html);
        }

        //商品图片上传
        function uploadGoodsImg(self) {
            if (self.files && self.files[0]) {
                var file = self.files[0]
                if (file.size > 4 * 1024 * 1024) {
                    utils.alert("info", "图片大小不能超过4M");
                    return;
                }
                var reader = new FileReader();
                reader.onload = function (e) {
                    var data = e.target.result;
                    //加载图片获取图片真实宽度和高度
                    var image = new Image();
                    image.onload = function () {
                        var width = image.width;
                        var height = image.height;
                        if (width / height != 1) {
                            utils.alert("info", "图片分辨率必须为1:1");
                        } else {
                            uploadCallback(self)
                        }
                    };
                    image.src = data;
                }
                reader.readAsDataURL(self.files[0]);

            }

        }

        function uploadCallback(file) {
            var that = this
            console.log(new FormData(file));
            var uploadFile = new FormData(file);

        }
    </script>
    <script>
        var clipArea = new bjj.PhotoClip("#clipArea", {
            size: [260, 260],
            outputSize: [640, 640],
            file: "#file",
            view: "#view",
            ok: "#clipBtn",
            loadStart: function () {
                console.log("照片读取中");
            },
            loadComplete: function () {
                console.log("照片读取完成");
            },
            clipFinish: function (dataURL) {
                console.log('dataURL', dataURL);
                // var blob = dataURLtoBlob(dataURL);
                var file = dataURLtoFile(dataURL, 'imgName');
                console.log('file', file);
                if (file.size > 4 * 1024 * 1024) {
                    utils.alert("info", "图片大小不能超过4M");
                    return;
                }
                var reader = new FileReader();
                reader.onload = function (e) {
                    var data = e.target.result;
                    //加载图片获取图片真实宽度和高度
                    var image = new Image();
                    image.onload = function () {
                        var width = image.width;
                        var height = image.height;
                        if (width / height != 1) {
                            utils.alert("info", "图片分辨率必须为1:1");
                        } else {
                            var form = new FormData()
                            form.append('file', file, 'jpg')
                            $.ajax({
                                url: "/api/pic/upload",
                                type: 'POST',
                                data: form,
                                async: false,
                                cache: false,
                                contentType: false, //不设置内容类型
                                processData: false, //不处理数据
                                success: function (data) {
                                    $(".userLogo").attr("src", data.data.picUrl)
                                    $(".userLogoImg").val(data.data.picUrl)
                                },
                                error: function () {
                                }
                            })
                        }
                    };
                    image.src = data;
                }
                reader.readAsDataURL(file);
                $("#M50Pic").attr("src", dataURL)
                $("#M50Pic").attr("src", dataURL)
            }
        });
        //将base64转换为文件
        function dataURLtoFile(dataurl, filename) {
            var arr = dataurl.split(','),
                mime = arr[0].match(/:(.*?);/)[1],
                bstr = atob(arr[1]),
                n = bstr.length,
                u8arr = new Uint8Array(n);
            while (n--) {
                u8arr[n] = bstr.charCodeAt(n);
            }
            return new File([u8arr], filename, { type: mime });
        }
        //将base64转换为blob
        function dataURLtoBlob(dataurl) {
            var arr = dataurl.split(','),
                mime = arr[0].match(/:(.*?);/)[1],
                bstr = atob(arr[1]),
                n = bstr.length,
                u8arr = new Uint8Array(n);
            while (n--) {
                u8arr[n] = bstr.charCodeAt(n);
            }
            return new Blob([u8arr], { type: mime });
        }
        //将blob转换为file
        function blobToFile(theBlob, fileName) {
            theBlob.lastModifiedDate = new Date();
            theBlob.name = fileName;
            return theBlob;
        }
        $(".close").on("click", function () {
            $(".Imgcomtainer,.shadon").hide()
        })
        setTimeout(() => {
            $(".nickname").html() ? $(".realnames").val($(".nickname").html()) : $(".realnames").val($(".nickname").html())
        }, 100)

    </script>
</body>

</html>