<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv='X-UA-Compatible' content='IE=Edge,chrome=1' />
<meta name="renderer" content="webkit">
<meta name="description" content="">
<meta name="keywords" content="">
<title><%= title %></title>
<link rel="shortcut icon" type="image/x-icon" href="../../dist/img/favicon.ico"/>
<link rel="bookmark" type="image/x-icon" href="../../dist/img/favicon.ico"/>
<link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_718775_m854kdemp1s.css"/>
<link rel="stylesheet" type="text/css" href="../../src/css/sprite.css"/>
<link rel="stylesheet" type="text/css" href="../../dist/css/all.css"/>
<link rel="stylesheet" type="text/css" href="../../src/js/vue/index.css"/>
<script src="../../dist/js/template.js"></script>
<script src="../../dist/js/lib.js"></script>
<script src="../../dist/js/v.js"></script>
</head>
<body class="userAccount">
	
	<%- include ../headerbar.ejs %>
	
	<%- include ../header.ejs %>
	
	<%- include userHeaderNav.ejs %>
	
	<div class="container">
		<div class="router" id="router">
			<el-breadcrumb separator-class="el-icon-arrow-right">
			  	<el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
			  	<el-breadcrumb-item>个人中心</el-breadcrumb-item>
			</el-breadcrumb>
		</div>
	</div>
	
	<div id="main" class="main">
		<div class="clearfix container">
			<div class="userLeftNav">
				<%- include userLeftNav.ejs %>
			</div>
			<div class="userRightContent">
				
				<div class="userPasswordWrap">
					<div class="panel userPanel">
						<div class="panel-header">
							<div class="panel-title">修改密码</div>
						</div>
						<div class="panel-body">
							<form>
								<table>
									<tr>
										<td class="tr" width="110">
											<label>原密码</label>
										</td>
										<td>
											<input type="password" name="oldPassword" datatype="*6-20" nullmsg="请输入原密码" errormsg="密码为6至20位字符">
										</td>
									</tr>
									<tr>
										<td class="tr">
											<label>新密码</label>
										</td>
										<td class="tl">
											<input type="password" name="newPassword" datatype="passwordVerify" nullmsg="请输入新密码" errormsg="密码为6至20位字符,仅支持大小写字母和数字">
										</td>
									</tr>
									<tr>
										<td class="tr">
											<label>确认新密码</label>
										</td>
										<td >
											<input type="password" name="confirmPassword" datatype="*" recheck="newPassword" nullmsg="请重新输入新密码" errormsg="两次输入密码不一致！">
										</td>
									</tr>
									<tr>
										<td colspan="2" class="tc">
											<p id="errorText"></p>
											<a class="btn btn-warning submitBtn">提交</a>
										</td>
									</tr>
								</table>
							</form>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
	
	<%- include userFooter.ejs %>
	

<script>
var routerVm = new Vue({
	el: "#router"
})
$(".userLeftNav li li:eq(3)").addClass("cur")
var pattern = /^[a-zA-Z0-9]{6,20}$/;
var validform = $(".userPasswordWrap form").Validform({
	tiptype: function(msg,o,cssctl){
		var objtip = $("#errorText");
		cssctl(objtip,o.type);
		objtip.text(msg);
	},
	datatype: {
		'passwordVerify': function(gets,obj,curform,regxp){
			if(pattern.test(gets)){
				
				return true;
			}
            return false;
		}
	}
})
$.Tipmsg.r = "";

$(".submitBtn").on("click", function(){
	if(validform.check(false)){
		var str = $(".userPasswordWrap form").serialize();
		str = utils.str2json(str);
		utils.ajax({
			url: "/api/userCenter/password/change",
			data: JSON.stringify(str),
			success: function(data){
				if(data.success){
					utils.alert("success", "修改成功");
				}else{
					$("#errorText").text(data.msg);
				}
				
			}
		})
	}

})



</script>
</body>
</html>

