<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv='X-UA-Compatible' content='IE=Edge,chrome=1' />
<meta name="renderer" content="webkit">
<meta name="description" content="">
<meta name="keywords" content="">
<title><%= title %></title>
<link rel="shortcut icon" type="image/x-icon" href="../../dist/img/favicon.ico"/>
<link rel="bookmark" type="image/x-icon" href="../../dist/img/favicon.ico"/>
<link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_718775_m854kdemp1s.css"/>
<link rel="stylesheet" type="text/css" href="../../src/css/sprite.css"/>
<link rel="stylesheet" type="text/css" href="../../dist/css/all.css"/>
<link rel="stylesheet" type="text/css" href="../../src/js/vue/index.css"/>
<script src="../../dist/js/template.js"></script>
<script src="../../dist/js/lib.js"></script>
<script src="../../dist/js/v.js"></script>
</head>
<body class="userAccount">
	
	<%- include ../headerbar.ejs %>
	
	<%- include ../header.ejs %>
	
	<%- include userHeaderNav.ejs %>
	
	<div class="container">
		<div class="router" id="router">
			<el-breadcrumb separator-class="el-icon-arrow-right">
			  	<el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
			  	<el-breadcrumb-item>个人中心</el-breadcrumb-item>
			</el-breadcrumb>
		</div>
	</div>
	
	<div id="main" class="main">
		<div class="clearfix container">
			<div class="userLeftNav">
				<%- include userLeftNav.ejs %>
			</div>
			<div class="userRightContent">
			
			</div>
		</div>
	</div>
	
	<%- include userFooter.ejs %>
	
	<!-- 解除绑定弹出框 -->
	<div class="dialog unBindDialog" id="unBindDialog">
		<div class="mask"></div>
		<div class="dialog-main">
			<div class="dialog-header clearfix">
				<a class="fr dialog-close"><i class="icon icon-close"></i></a>
				<h3 style="text-align: center;margin-left: 35px;" class="dialog-title">提示</h3>
			</div>
			<div class="dialog-body" style="text-align: center;height: 150px;">
				<p style="margin: 40px;">是否解除绑定？</p>
				<button class="btn btn-danger" onclick="$('.unBindDialog').removeClass('show')">取消</button>
				<button class="btn btn-primary unBindBtn" id="unBindBtn">确定</button>
			</div>
		</div>
	</div>
	
<script>
var loginType;
var routerVm = new Vue({
	el: "#router"
})
//账号管理
$(".userLeftNav li li:eq(4)").addClass("cur");
utils.ajax({
	url: "/api/userCenter/account",
	type: "get",
	success: function(data){
		data = data.data;
		$(".userRightContent").html(_template.userIndex({
			data: data
		}))
	}
})
$(document).on("click", ".toEditPhoneBtn", function(){
	location.href = "../user/acc_phone/0";
}).on("click", ".unBind", function(e){
	//解绑弹窗
	var self = $(e.currentTarget);
	var logintype = self.attr("logintype");
	$(".unBindDialog").addClass("show");
	loginType = logintype;
}).on("click", ".unBindBtn", function(e){
	//解绑
	var mobilePhone = utils.getCookie("phone");
	var json = {
		loginType: loginType,
		mobilePhone: mobilePhone
	}
	utils.ajax({
		url: "/api/userCenter/third-unbind",
		type: 'post',
		data: JSON.stringify(json),
		success: function(data){
			$(".unBindDialog").removeClass("show");
			utils.alert("success", "解绑成功")
			location.reload();
		}
	})
})

</script>
</body>
</html>

